* {
  font-family: Helvetica;
}

.main-header {
  display: flex;
  justify-content: space-evenly;
  background-color: #003c71;
  align-items: center;
  position: relative;
}
.main-header .navbar {
  padding: 0;
}
.main-header .navbar .container-fluid {
  padding: 0;
}
.main-header .navbar .navbar-toggler {
  border: 0;
}
.main-header .navbar .navbar-toggler:focus {
  box-shadow: none;
}
.main-header .navbar .fa-bars {
  color: white;
}
.main-header .navbar .nav-link {
  color: white;
}
.main-header .navbar .nav-link:hover {
  color: #00c1de;
}
.main-header .navbar .nav-link.activated {
  color: #00c1de;
}
.main-header .contact-md .fa-user {
  color: white;
}
.main-header .contact-md:hover {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.main-header .contact-md:hover .fa-user {
  color: #00c1de;
}
.main-header .user-login {
  color: white;
  align-items: center;
}
.main-header .user-login .fa-user-circle {
  font-size: 4rem;
  padding-right: 0.5rem;
}
.main-header .user-login:hover {
  cursor: pointer;
}
.main-header .user-login:hover .username-header {
  color: #00c1de;
  transition: 0.3s ease-in-out;
}
.main-header .contact .hotline {
  color: #f79321;
  font-weight: bolder;
  font-size: 1.2rem;
}
.main-header .contact .hotline:hover {
  color: #ffbd00;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.main-header .contact .location {
  font-size: 0.8rem;
  color: white;
}
.main-header .contact .location:hover {
  cursor: pointer;
  color: #00c1de;
  transition: 0.3s ease-in-out;
}

.content-img {
  position: relative;
  display: flex;
  align-items: center;
}
.content-img .text {
  position: absolute;
  color: white;
  margin-left: 8%;
}
.content-img .text h1 {
  font-weight: bolder;
}
.content-img .text h1, .content-img .text h2 {
  font-size: 1rem;
}

.sub-content {
  background-color: rgba(0, 60, 113, 0.05);
}
.sub-content .d-flex {
  justify-content: center;
}
.sub-content .row .content {
  align-items: center;
  margin: 1rem 0;
}
.sub-content .row .content > i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.sub-content .row .text {
  color: #3f3b3b;
}
.sub-content .row .text h1 {
  font-size: 1rem;
  margin: 0;
}
.sub-content .row .text h2 {
  font-size: 0.7rem;
  margin: 0;
}

.wrap-background {
  background-color: #f6f8fa;
  padding-top: 2.5%;
}
.wrap-background .tours h3 {
  font-weight: bolder;
  color: #3f3b3b;
}
.wrap-background .tours h5 {
  color: #717484;
}
.wrap-background .tours .item {
  padding-top: 2.5%;
}
.wrap-background .tours .item .card-item {
  background-color: white;
}
.wrap-background .tours .item .card-item a {
  text-decoration: none;
}
.wrap-background .tours .item .card-item .card-item-container {
  height: 30rem;
  position: relative;
  padding: 0;
}
.wrap-background .tours .item .card-item .card-item-container .card-item-content {
  height: 13.7rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.wrap-background .tours .item .card-item .card-item-container .card-item-content .card-item-tour-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 5%;
}
.wrap-background .tours .item .card-item .card-item-container .card-item-content .card-item-tour-detail .card-item-tour-name {
  color: #003c71;
  font-weight: bolder;
  position: absolute;
  top: 5%;
}
.wrap-background .tours .item .card-item .card-item-container .card-item-content .card-item-tour-detail .tour-list-pros {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
}
.wrap-background .tours .item .card-item .card-item-container .card-item-content .card-item-tour-detail .tour-list-pros li {
  color: #00abc5;
  padding-right: 5%;
  margin-top: 1%;
}
.wrap-background .tours .item .card-item .card-item-container .card-item-content .card-item-tour-detail .card-item-price {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  bottom: 5%;
  right: 5%;
}
.wrap-background .tours .item .card-item .card-item-container .card-item-content .card-item-tour-detail .card-item-price .price, .wrap-background .tours .item .card-item .card-item-container .card-item-content .card-item-tour-detail .card-item-price .textCurrency {
  color: #f79321;
  font-weight: bolder;
}
.wrap-background .tours .item .dong-bac .tour-list-pros {
  padding-top: 10% !important;
}
.wrap-background .tours .item .owl-item {
  width: 21rem !important;
}
.wrap-background .tours .more {
  display: inline-block;
  margin: 5% 0;
  padding: 2% 2.5%;
  border: 0.1rem solid #26bed6;
  color: #26bed6;
  text-decoration: none;
  font-weight: bolder;
}
.wrap-background .tours .more:hover {
  background-color: #26bed6;
  color: white;
}

.main-footer .wrap {
  background-color: white;
}
.main-footer .wrap .row {
  padding-top: 1rem;
}
.main-footer .wrap .footer-left {
  color: #4e4e4e;
}
.main-footer .wrap .footer-left .item {
  align-items: center;
  margin-top: 5%;
}
.main-footer .wrap .footer-left .item h3 {
  margin-left: 1%;
  margin-bottom: 0;
  display: inline-block;
}
.main-footer .wrap .footer-left .item img, .main-footer .wrap .footer-left .item h3 {
  font-size: 1rem;
  font-weight: bold;
}
.main-footer .wrap .footer-left .social h5 {
  font-weight: bolder;
  color: #4e4e4e;
}
.main-footer .wrap .footer-left .social div {
  display: flex;
}
.main-footer .wrap .footer-left .social div i {
  color: #4e4e4e;
  font-size: 2rem;
  margin-right: 20%;
}
.main-footer .wrap .footer-right .support {
  color: #4e4e4e;
}
.main-footer .wrap .footer-right .contact b {
  color: #4e4e4e;
}
.main-footer .wrap .footer-right .contact h5 {
  display: inline-block;
  color: #f79321;
  font-weight: bold;
}
.main-footer .wrap .footer-right .time h6 {
  display: inline-block;
  color: #4e4e4e;
}
.main-footer .wrap .footer-right .time i {
  color: #4e4e4e;
}
.main-footer .wrap .footer-right .social h5 {
  font-weight: bolder;
  color: #4e4e4e;
}
.main-footer .wrap .footer-right .social div {
  display: flex;
}
.main-footer .wrap .footer-right .social div i {
  color: #4e4e4e;
  font-size: 2rem;
  margin-right: 20%;
}

@media (max-width: 767.98px) {
  .main-header {
    display: block;
  }
}
@media (min-width: 1400px) {
  .main-header {
    display: flex;
    justify-content: center;
  }
  .main-header .user-login {
    padding: 0 5rem;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .wrap-background .tours .item .card-item .card-item-container {
    height: 22rem;
  }
  .wrap-background .tours .item .card-item .card-item-container .card-item-content {
    height: 12rem;
  }
  .wrap-background .tours .item .card-item .card-item-container .card-item-content .card-item-tour-detail .card-item-tour-name {
    font-size: 0.8rem;
  }
  .wrap-background .tours .item .card-item .card-item-container .card-item-content .card-item-tour-detail .tour-list-pros {
    font-size: 0.8rem;
  }
  .wrap-background .tours .item .card-item .card-item-container .card-item-content .card-item-tour-detail .card-item-price {
    font-size: 0.8rem;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .wrap-background .tours .item .card-item .card-item-container .card-item-content .card-item-tour-detail .tour-list-pros {
    font-size: 0.8rem;
    margin-top: 30%;
  }
  .wrap-background .tours .item .card-item .card-item-container {
    height: 24rem;
  }
  .wrap-background .tours .item .card-item .card-item-container .card-item-content {
    height: 15rem;
  }
  .wrap-background .tours .item .card-item .card-item-container .card-item-content .card-item-tour-detail .card-item-tour-name {
    font-size: 0.9rem;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .wrap-background .tours .item .card-item .card-item-container {
    height: 25rem;
  }
  .wrap-background .tours .item .card-item .card-item-container .card-item-content .card-item-tour-detail .tour-list-pros {
    font-size: 0.8rem;
    margin-top: 20%;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .wrap-background .tours .item .card-item .card-item-container .card-item-content {
    height: 28rem;
  }
  .wrap-background .tours .item .card-item .card-item-container .card-item-content {
    height: 16rem;
  }
  .wrap-background .tours .item .dong-bac .tour-list-pros {
    padding-top: 15% !important;
  }
}

/*# sourceMappingURL=tours.css.map */
