<!doctype html>
<html lang = "en">
<head>
  <meta charset = "UTF-8">
  <meta name = "viewport"
		content = "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
  <link rel = "stylesheet" href = "/assets/css/tour-ha-giang-2n3d.css">
  <link rel = "stylesheet"
		href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
		integrity = "sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
		crossorigin = "anonymous"
		referrerpolicy = "no-referrer"/>
  <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
		rel = "stylesheet"
		integrity = "sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
		crossorigin = "anonymous">
  <script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		  integrity = "sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		  crossorigin = "anonymous"></script>
  <title>Tour Hà Giang 2N3Đ: Hà Nội - Hà Giang - Đồng Văn Xe Cabin VIP</title>
</head>
<body>
<!--Begin header-->
<header class = "main-header">
  <nav class = "navbar navbar-expand-md">
	<div class = "container-fluid">
	  <a class = "navbar-brand" href = "#">
		<img src = "/assets/img/logo_cholon_resized_height_80.png" alt = "">
	  </a>
	  <button class = "navbar-toggler"
			  type = "button"
			  data-bs-toggle = "collapse"
			  data-bs-target = "#navbarSupportedContent"
			  aria-controls = "navbarSupportedContent"
			  aria-expanded = "false"
			  aria-label = "Toggle navigation">
		<span class = "fa fa-bars"></span>
	  </button>
	  <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
		<ul class = "navbar-nav me-auto mb-2 mb-lg-0">
		  <li class = "nav-item">
			<a class = "nav-link" href = "#">Khách sạn</a>
		  </li>
		  <li class = "nav-item">
			<a class = "nav-link activated" href = "#">Tours</a>
		  </li>
		  <li class = "nav-item">
			<a class = "nav-link" href = "#">Vé xe khách</a>
		  </li>
		  <li class = "nav-item">
			<a class = "nav-link" href = "#">Vé vui chơi</a>
		  </li>
		  <li class = "nav-item">
			<a class = "nav-link" href = "#">Bespoke</a>
		  </li>
		</ul>
	  </div>
	</div>
  </nav>
  <div class = "contact-md d-none d-md-block d-lg-none">
	<i class = "fa fa-user"></i>
  </div>
  <div class = "user-login d-none d-lg-flex">
	<i class = "fa fa-user-circle"></i>
	<span class = "username-header">Tài khoản</span>
  </div>
  <div class = "contact d-none d-lg-block">
	<div class = "hotline">
	  <i class = "fa fa-phone"></i>
	  (0912) 888 888
	</div>
	<div class = "location">
	  7h30 → 21h
	  <i class = "fa fa-map-marker"></i>
	  Hà Nội
	</div>
  </div>
</header>
<!--End header-->

<!--Begin content-->
<div class = "wrap">
  <div class = "content container">
	<nav aria-label = "breadcrumb">
	  <ol class = "breadcrumb">
		<a href = "#">
		  <i class = "fa fa-home"></i>
		</a>
		<li class = "breadcrumb-item">
		  <a href = "#">Trang chủ</a>
		</li>
		<li class = "breadcrumb-item active" aria-current = "page">Tour Hà Giang 2N3Đ: Hà Nội - Hà Giang - Đồng Văn Xe
		  Cabin VIP
		</li>
	  </ol>
	</nav>
	<h1 class = "tour-name">Tour Hà Giang 2N3Đ: Hà Nội - Hà Giang - Đồng Văn Xe Cabin VIP</h1>
	<div class = "row d-flex">
	  <div class = "col-12 col-lg-8">
		<div class = "row">
		  <img src = "/assets/img/tours/ha giang 2n3d/ivivu-cao-nguyen-da-750x390.jpg"
			   class = "img-fluid mx-auto"
			   alt = "">
		</div>
		<div class = "tour-info container">
		  <div class = "col mx-auto">
			<ul class = "list-group list-group-horizontal">
			  <li>
				<i class = "fa fa-map-marker-alt"></i>
				Hà Nội
			  </li>
			  <li>
				<i class = "fa fa-clock"></i>
				2 Ngày 3 Đêm
			  </li>
			  <li>
				Phương tiện:
				<i class = "fa fa-car-alt"></i>
				<i class = "fa fa-ship"></i>
			  </li>
			</ul>
		  </div>
		</div>
		<div class = "tour-content col" id = "detail-overview">
		  <div class = "tour-content-container">
			<h3>Tour Hà Giang 2N3Đ: Hà Nội - Hà Giang - Đồng Văn Xe Cabin VIP</h3>
			<p>
			  Khám phá cung đường Đông Bắc hùng vĩ, uốn lượn miên man như không có điểm tận cùng này mang lại qua những
			  trải
			  nghiệm rất khác biệt. Hà Giang - điểm cực Bắc của Việt Nam, nơi có đường biên giới giáp với Trung Quốc,
			  mảnh đất
			  này được thiên nhiên rất ưu ái. Cảnh sắc nơi đây đẹp như một bức tranh, có cả núi, cả rừng, cả sông nước
			  và các
			  cánh đồng và có nền văn hóa của 24 dân tộc khác nhau đang sinh sống tại đây. Cùng Cholontourist khám phá
			  ngay
			  hôm nay!
			</p>
		  </div>
		</div>
		<div class = "tour-content col" id = "detail-schedule">
		  <div class = "tour-content-container">
			<h3>
			  Chương trình tour
			</h3>
			<h4>ĐÊM 01: HÀ NỘI – HÀ GIANG – NGỦ ĐÊM TRÊN XE</h4>
			<p>
			  19h00-20h00: Xe ô tô đón quý khách tại điểm hẹn khu vực
			  <strong>Phố cổ, Nhà hát lớn Hà Nội</strong>
			  khởi hành đi Hà Giang.
			</p>
			<p>
			  <strong>Lưu ý</strong>:Đối với những khách hàng hạ cánh sân bay Nội Bài buổi tối, xe sẽ đón quý khách tại
			  Ngã 3
			  Kim Anh – đầu cao tốc Nội Bài Lào Cai, cách sân bay Nội Bài khoảng 3km. Thời gian đón khoảng 22h00-22h30.
			</p>
			<p>
			  <img src = "/assets/img/tours/ha giang 2n3d/xe-khach-thanh-hoa-tuyen-quang-7.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Xe Cung Điện VIP</em>
			</p>
			<p>
			  Quý khách ngủ đêm trên xe Cabin VIP.
			</p>
			<h4>NGÀY 01: HÀ GIANG – QUẢN BẠ - YÊN MINH - ĐỒNG VĂN ( ĂN SÁNG, TRƯA, TỐI)</h4>
			<p>
			  04h00-04h30: Đến
			  <strong>Hà Giang</strong>, xe giường nằm sẽ đưa Quý khách về Homestay để nghỉ ngơi tạm thời, vệ sinh cá
			  nhân
			  buổi sáng và ăn sáng tại Homestay.
			</p>
			<p>
			  07h00-8h00: Hướng dẫn viên sẽ đến đón Quý khách lên xe bắt đầu cho chuyến du lịch chinh phục
			  <strong>Cao nguyên đá Hà Giang:</strong>
			</p>
			<p>
			  - Quý khách check in Hà Giang tại
			  <strong>Km0 (Cột mốc số 0).</strong>
			</p>
			<p>
			  -
			  <strong>Dốc Bắc Sum</strong>, chụp ảnh và ngắm cảnh tại con dốc dài 8km.
			</p>
			<p>
			  -
			  <strong>Cổng Trời Quản Bạ</strong>, chụp hình
			  <strong>Núi Đôi Cô Tiên</strong>
			  hay còn gọi là Núi đôi Quản Bạ và toàn cảnh thị trấn Tam Sơn từ trên cao.
			</p>
			<p>
			  <img src = "/assets/img/tours/ha giang 2n3d/iivu-nui-doi-quan-ba.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Núi Đôi Cô Tiên</em>
			</p>
			<p>
			  - Thăm làng dệt lanh
			  <strong>Thổ Cẩm Lùng Tám</strong>. Tìm hiểu về văn hóa dệt Lanh của người Mông cũng như tìm hiểu 41 công
			  đoạn để
			  tạo ra sản phẩm (Lưu ý: Nếu thời tiết ảnh hưởng, đường xấu sẽ bỏ qua điểm này).
			</p>
			<p>
			  - Chụp hình tại
			  <strong>Cây Nghiến cô đơn - Cán Tỷ</strong>, Quản Bạ trên cung đường mới Quản Bạ - Yên Minh.
			</p>
			<p>
			  Trưa: Ăn trưa tại nhà hàng. Sau đó tiếp tục thăm quan với:
			</p>
			<p>
			  -
			  <strong>Dốc Thẩm Mã</strong>, con dốc xưa kia người dân dùng để thẩm định sức khỏe của những con ngựa thồ.
			</p>
			<p>
			  <img src = "/assets/img/tours/ha giang 2n3d/image-20210521153841-2.jpeg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Dốc Thẩm Mã</em>
			</p>
			<p>
			  -
			  <strong>Phố Cáo</strong>
			  với những ngôi nhà đặc trưng của người H'mông bởi những hàng rào đá cung quanh nhà.
			</p>
			<p>
			  -
			  <strong>Dốc Chín Khoanh</strong>, con dốc ngoằn nghoèo nổi tiếng
			</p>
			<p>
			  - Thăm
			  <strong>bản Sủng Là</strong>
			  (Làng văn hóa Lũng Cẩm) thăm ngôi nhà Cổ của người H'mông với tường trình bằng đất - nơi đã được sử dụng
			  làm bối
			  cảnh để quay bộ phim nhựa "Chuyện của Pao" năm 2006 của đạo diễn Ngô Quang Hải được chuyển thể từ truyện
			  ngắn
			  "Tiếng đàn môi sau bờ rào đá" của nhà văn Đỗ Bích Thủy đã giành được 4 giải Cánh diều vàng.
			</p>
			<p>
			  -
			  <strong>Dinh thự họ Vương</strong>
			  (Dinh Vua Mèo) nằm trong một thung lũng của xã Sà Phìn, đây là dòng họ giàu có và quyền uy nhất Châu Đồng
			  Văn
			  vào đầu thế kỷ 20. Đoàn tìm hiểu về kiến trúc nghệ thuật, lịch sử, văn hóa của người dòng họ Vương (họ Vua
			  Mèo).
			</p>
			<p>
			  <img src = "/assets/img/tours/ha giang 2n3d/6-15604818777882006530092.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Dinh thự họ Vương</em>
			</p>
			<p>
			  -
			  <strong>Thăm Cột Cờ Lũng Cũ</strong>
			  - nơi địa đầu Tổ quốc, điểm có vĩ độ cao nhất trên bản đồ của Việt Nam.
			</p>
			<p>
			  <img src = "/assets/img/tours/ha giang 2n3d/trai-nghiem-doc-dao-tour-kham-pha-ha-giang-bang-xe-may-20-768x950.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Cột Cờ Lũng Cú</em>
			</p>
			<p>
			  18h00: Về đến thị trấn
			  <strong>Đồng Văn</strong>. Nhận phòng khách sạn, nghỉ ngơi.
			</p>
			<p>
			  19h00: Quý khách dùng bữa tối tại nhà hàng.
			</p>
			<p>
			  Sau bữa tối, hướng dẫn viên cùng Quý khách dạo bộ ngắm
			  <strong>Phố Cổ Đồng Văn</strong>
			  đã tồn tại cùng với thời gian gần một thế kỷ. Quý khách có thể ngồi nhâm nhi thưởng thức một ly cà phê tại
			  quán
			  Café phố Cổ (chi phí tự túc).
			</p>
			<h4>NGÀY 02: MÃ PÌ LÈNG – DU THUYỀN SÔNG NHO QUẾ - HÀ GIANG ( ĂN SÁNG, TRƯA, TỐI)</h4>
			<p>
			  Sáng: Quý khách ăn sáng tại nhà hàng.
			</p>
			<p>
			  Nếu vào đúng buổi sáng chủ nhật hàng tuần Quý khách có thể dạo thăm
			  <strong>chợ phiên Đồng Văn</strong>
			  nổi tiếng với tấp nập kẻ bán người buôn rực rỡ sắc màu quần áo của đồng bào người H'Mông, Dao, Tày...
			</p>
			<p>
			  <img src = "/assets/img/tours/ha giang 2n3d/image-tim-hieu-cho-phien-sapa-phien-cho-khong-chi-co-buon-ban-165657916554270.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Chợ Phiên Đồng Văn</em>
			</p>
			<p>
			  08h00: Trả phòng khách sạn và lên xe tiếp tục hành trình:
			</p>
			<p>
			  <strong>11h30:</strong>
			  Xe đón Quý khách về lại thị trấn.
			</p>
			<p>
			  - Chinh phục
			  <strong>Đèo Mã Pì Lèng</strong>
			  dài 16km nối Đồng Văn với Mèo Vạc, cũng là đoạn đẹp nhất trên con đường mang tên "Đường Hạnh phúc".
			</p>
			<p>
			  <img src = "/assets/img/tours/ha giang 2n3d/ivivu-ma-pi-leng1.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Đèo Mã Pí Lèng</em>
			</p>
			<p>
			  - Chụp hình với vẻ đẹp hùng vĩ của
			  <strong>Hẻm Tu Sản</strong>
			  (hay còn gọi là hẻm vực Mã Pí Lèng hoặc hẻm vực sông Nho Quế) ở độ cao 1500m so với mực nước biển và độ
			  sâu
			  trung bình 800m - nơi địa hình bị chia cắt sâu nhất của Việt Nam.
			</p>
			<p>
			  - Du thuyền trên
			  <strong>Sông Nho Quế</strong>: Lên thuyền ngược dòng Nho Quế đến với Hẻm Tu sản, là hẻm vực sâu nhất của
			  Việt
			  Nam nằm trên dòng sông Nho Quế. Dòng Nho Quế chảy vào Việt Nam từ địa phận thôn Xéo Lủng, xã Lũng Cú,
			  huyện Đồng
			  Văn đi qua Hẻm núi Tu Sản chạy men theo chân đèo Mã Pì Lèng (Chưa bao gồm chi phí xe điện + thuyền:
			  250.000đ/khách).
			</p>
			<p>
			  <img src = "/assets/img/tours/ha giang 2n3d/static-images.vnncdn.net-files-publish-2023-9-16-_dung-tau-du-lich-tren-song-nho-que-nhieu-du-khach-bat-ngo-582.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Sông Nho Quế</em>
			</p>
			<p>
			  Trưa: Quý khách ăn trưa tại Đồng Văn. Sau bữa trưa, Quý khách tiếp tục lên xe về Hà Giang.
			</p>
			<p>
			  17h30: Về tới Thành phố
			  <strong>Hà Giang</strong>. Quý khách ăn tối tại nhà hàng. Sau đó xe sẽ đưa Quý khách về lại Homestay để
			  tắm rửa
			  vệ sinh cá nhân và nghỉ ngơi.
			</p>
			<p>
			  Đến giờ hẹn, xe ô tô Cabin VIP sẽ đón Quý khách tại Homestay đưa Quý khách về
			  <strong>Hà Nội</strong>. Quý khách ngủ đêm trên xe.
			</p>
			<h4>NGÀY 03: VỀ TỚI HÀ NỘI</h4>
			<p>
			  Sáng hôm sau, khoảng 03h00-03h30 về tới
			  <strong>sân bay Nội Bài</strong>: Nếu quý khách có chuyến bay sáng sớm vui lòng thông báo trước ngày khởi
			  hành.
			  Xe sẽ trả khách ở ngã 3 Kim Anh gần sân bay Nội Bài.
			</p>
			<p>
			  04h00: sáng về tới Hà Nội: Quý khách sẽ lên xe trung chuyển về lại
			  <strong>trung tâm phố Cổ và Nhà hát lớn</strong>. Kết thúc chương trình thăm quan Hà Giang Hùng vĩ. Hẹn
			  gặp lại
			  Quý khách trong những hành trình sau.
			</p>
			<p>
			  <em>
				Lịch trình tour có thể thay đổi nhưng vẫn đảm bảo các điểm thăm quan có trong chương trình.
			  </em>
			</p>
		  </div>
		</div>
		<div class = "tour-content col" id = "detail-tour-guide">
		  <div class = "tour-content-container">
			<h3>Hướng dẫn viên</h3>
			<p>
			  Hướng Dẫn Viên (HDV) sẽ liên lạc với Quý Khách khoảng 1 ngày trước khi khởi hành để sắp xếp giờ đón và
			  cung cấp
			  các thông tin cần thiết cho chuyển đi.
			</p>
		  </div>
		</div>
		<div class = "tour-content col" id = "detail-term-regulations">
		  <nav>
			<div class = "nav nav-tabs" id = "nav-tab" role = "tablist">
			  <button class = "nav-link active"
					  id = "nav-tab1"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-1"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-1"
					  aria-selected = "true">Bao gồm
			  </button>
			  <button class = "nav-link"
					  id = "nav-tab2"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-2"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-2"
					  aria-selected = "false">Phát sinh
			  </button>
			  <button class = "nav-link"
					  id = "nav-tab3"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-3"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-3"
					  aria-selected = "false">Phụ thu
			  </button>
			  <button class = "nav-link"
					  id = "nav-tab4"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-4"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-4"
					  aria-selected = "false">Hủy đổi
			  </button>
			  <button class = "nav-link"
					  id = "nav-tab5"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-5"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-5"
					  aria-selected = "false">Lưu ý
			  </button>
			</div>
		  </nav>
		  <div class = "tab-content" id = "nav-tabContent">
			<div class = "tab-pane fade show active"
				 id = "nav-1"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab1"
				 tabindex = "0">
			  <div>
				<h6>Vận chuyển:</h6>
				<p>
				  - Cabin đơn VIP Hà Nội – Hà Giang – Hà Nội (Xe Cung Điện di động, Khách sạn Di động)
				</p>
				<p>
				  - Xe ô tô ghế ngồi 5-29 chỗ phục vụ theo chương trình tại Hà Giang
				</p>
				<h6>Lưu trú:</h6>
				<p>
				  - 01 Đêm ngủ khách sạn 2 sao địa phương tại Đồng Văn: Ngủ 2 khách/1 phòng, lẻ ngủ 3 khách/1 phòng)
				</p>
				<p>
				  - Phụ thụ thu nâng hạng khách sạn lên 3 Sao: 250.000vnđ/khách (Phòng nghỉ 2 khách)
				</p>
				<h6>Khác:</h6>
				<p>
				  - Hướng dẫn viên phục vụ theo chương trình thăm quan tại Hà Giang
				</p>
				<p>
				  - Ăn các bữa theo chương trình: 2 bữa sáng + 4 bữa chính
				</p>
				<p>
				  - Vé thăm quan các điểm có trong chương trình
				</p>
			  </div>
			</div>
			<div class = "tab-pane fade"
				 id = "nav-2"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab2"
				 tabindex = "0">
			  <div>
				<p>
				  - Đồ uống trong các bữa ăn và các chi phí cá nhân
				</p>
				<p>
				  - Chi phí chụp ảnh tại các điểm có hoa mà người dân tộc trồng
				</p>
				<p>
				  - Chi phí thuyền sông Nho Quế + xe điện: 250.000vnđ
				</p>
				<p>
				  - Thuế VAT 10% (Nếu quý khách cần xuất hoá đơn VAT vui lòng thanh tóan thêm 10% giá tour)
				</p>
				<p>
				  - Tip cho hướng dẫn viên và lái xe
				</p>
			  </div>
			</div>
			<div class = "tab-pane fade"
				 id = "nav-3"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab3"
				 tabindex = "0">
			  <div>
				<p>
				  - Phụ thu phòng đơn: 250.000vnđ
				</p>
				<p>
				  - Phụ thu phí vùng biên đối với khách mang quốc tịch nước ngoài: 250.000vnđ
				</p>
				<h6>Phụ Thu Lễ Tết:</h6>
				<p>
				  - 28/4 đến 1/5: 150.000vnđ: 150.000vnđ/người
				</p>
				<p>
				  - Phụ thu phòng đơn Lễ Tết: 350,000/khách
				</p>
				<h6>Giá trẻ em</h6>
				<p>
				  - Trẻ dưới 5 tuổi: Miễn phí, cha mẹ tự chi chả mọi chi phí vé thắng cảnh phát sinh nếu có. Gia đình tự
				  chuẩn
				  bị đồ ăn cho trẻ nhỏ nếu trẻ không thể ăn cơm cùng bố mẹ. 2 người lớn miễn phí 1 trẻ dưới 5 tuổi, từ
				  trẻ thứ
				  2 tính 50% giá tour, ngủ chung với bố mẹ.
				</p>
				<p>
				  - Trẻ từ 5 – 9 tuổi: 75% Giá tour, ngủ chung giường với bố mẹ
				</p>
				<p>
				  - Trẻ từ 9 tuổi : Tính như người lớn.
				</p>
			  </div>
			</div>
			<div class = "tab-pane fade"
				 id = "nav-4"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab4"
				 tabindex = "0">
			  <div>
				<h6>Chính sách hủy:</h6>
				<h5>Điều kiện hủy tour (ngày thường)</h5>
				<p>
				  - Sau khi đăng ký huỷ tour mất 10% giá tour.
				</p>
				<p>
				  - Hủy tour 10 ngày trước ngày khởi hành chịu phí 30% giá tour (Không tính ngày lễ và chủ nhật). Phí
				  hủy vé
				  máy bay theo quy định của hãng.
				</p>
				<p>
				  - Hủy tour 8 ngày trước ngày khởi hành chịu phí 50% giá tour (Không tính ngày lễ và chủ nhật). Phí hủy
				  vé
				  máy bay theo quy định của hãng.
				</p>
				<p>
				  - Hủy tour 5 ngày trước ngày khởi hành chịu phí 100% giá tour (Không tính ngày lễ và chủ nhật). Phí
				  hủy vé
				  máy bay theo quy định của hãng.
				</p>
				<h5>Điều kiện hủy tour (ngày lễ tết)</h5>
				<p>
				  - Các ngày lễ tết việc dời ngày và hủy tour mất 100% giá tour.
				</p>
			  </div>
			</div>
			<div class = "tab-pane fade"
				 id = "nav-5"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab5"
				 tabindex = "0">
			  <div>
				<p>
				  - Trong trường hợp khách hàng dẫn theo trẻ em dưới 15 tuổi (không phải con ruột) đi cùng trong chương
				  trình,
				  phải mang theo Giấy Ủy Quyền của cha mẹ, có xác nhận của chính quyền địa phương.
				</p>
				<p>
				  - Trẻ em phải đi cùng cha mẹ khi đi phải mang theo giấy khai sinh hoặc hộ chiếu.
				</p>
				<p>
				  - Du khách có mặt tại điểm đón trước 30 phút. Du khách đến trễ khi xe đã khởi hành hoặc hủy tour không
				  báo
				  trước vui lòng chịu phí như ‘hủy vé ngay ngày khởi hành’
				</p>
				<p>
				  - Du khách mang theo giấy CMND hoặc Hộ chiếu (Bản chính), nên mang theo hành lý gọn nhẹ, không mang
				  vali
				  lớn.
				</p>
				<p>
				  - Du khách tự quản lý tiền bạc tư trang trong qua trình tham quan du lịch.
				</p>
				<p>
				  - Khi đăng ký, quý khách vui lòng cung cấp đầy đủ Họ tên và năm sinh.
				</p>
				<p>
				  - Đối với du khách là Việt kiều, Quốc tế nhập cảnh Việt Nam bằng visa rời, vui lòng mang theo tờ khai
				  hải
				  quan và visa khi đi tour.
				</p>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  <div class = "col-lg-4 d-none d-lg-block ">
		<div class = "sidebar-form container">
		  <div class = "row">
			<div class = "title col">
			  Giá Tour
			</div>
			<div class = "adult border row">
			  <div class = "text col">
				<div class = "col">
				  Người lớn
				</div>
				<div class = "sub col">
				  > 8 tuổi
				</div>
			  </div>
			  <div class = "price col" id = "adult-price">
				3.240.000
			  </div>
			  <div class = "btn-group col">
				<button type = "button" class = "btn" id = "adult-minus">
				  <i class = "fa fa-minus"></i>
				</button>
				<span id = "number-adult">1</span>
				<button type = "button" class = "btn" id = "adult-plus">
				  <i class = "fa fa-plus"></i>
				</button>
			  </div>
			</div>
			<div class = "child border row">
			  <div class = "text col">
				<div class = "col">
				  Trẻ em
				</div>
				<div class = "sub col">
				  5 - 8 tuổi
				</div>
			  </div>
			  <div class = "price col" id = "child-price">

			  </div>
			  <div class = "btn-group col">
				<button type = "button" class = "btn" id = "child-minus">
				  <i class = "fa fa-minus"></i>
				</button>
				<span id = "number-child">0</span>
				<button type = "button" class = "btn" id = "child-plus">
				  <i class = "fa fa-plus"></i>
				</button>
			  </div>
			</div>
			<div class = "infant border row">
			  <div class = "text col">
				<div class = "col">
				  Trẻ nhỏ
				</div>
				<div class = "sub col">
				  < 5 tuổi
				</div>
			  </div>
			  <div class = "price col" id = "infant-price">

			  </div>
			  <div class = "btn-group col">
				<button type = "button" class = "btn" id = "infant-minus">
				  <i class = "fa fa-minus"></i>
				</button>
				<span id = "number-infant">0</span>
				<button type = "button" class = "btn" id = "infant-plus">
				  <i class = "fa fa-plus"></i>
				</button>
			  </div>
			</div>
			<div class = "contact-msg col-12">
			  <i class = "fa fa-info-circle"></i>
			  <span>
				  Liên hệ để xác nhận chỗ
				</span>
			</div>
			<div class = "total-text col-6">
			  Tổng Giá Tour
			</div>
			<div class = "total-num col-6">
				  <span class = "price" id = "total-price">
				  6.180.000
				  </span>
			  <span class = "currency">
					VND
				  </span>
			</div>
			<div class = "contact col-6">
			  <!-- Button trigger modal -->
			  <button type = "button"
					  class = "btn modal-btn"
					  data-bs-toggle = "modal"
					  data-bs-target = "#contactModal">
				Liên hệ tư vấn
			  </button>

			  <!-- Modal -->
			  <div class = "modal fade"
				   id = "contactModal"
				   tabindex = "-1"
				   aria-labelledby = "contactModalLabel"
				   aria-hidden = "true">
				<div class = "modal-dialog">
				  <div class = "modal-content">
					<div class = "modal-header">
					  <h1 class = "modal-title" id = "contactModalLabel">Yêu cầu tư vấn</h1>

					</div>
					<div class = "modal-body">
					  <div class = "mb-3">
						<label for = "contactFormControlTextarea1" class = "form-label">Họ & Tên </label>
						<input class = "form-control" id = "contactFormControlTextarea1"></input>
					  </div>
					  <div class = "mb-3">
						<label for = "contactFormControlTextarea2" class = "form-label">Điện thoại </label>
						<input class = "form-control" id = "contactFormControlTextarea2"></input>
					  </div>
					  <div class = "mb-3">
						<label for = "checkoutFormControlInput1" class = "form-label">Email (nếu có)</label>
						<input type = "email" class = "form-control" id = "exampleFormControlInput1">
					  </div>
					  <div class = "mb-3">
						<label for = "contactFormControlTextarea3" class = "form-label">Yêu cầu khác</label>
						<textarea class = "form-control" id = "contactFormControlTextarea3" rows = "3"></textarea>
					  </div>
					</div>
					<div class = "modal-footer">
					  <button type = "button" class = "btn" data-bs-dismiss = "modal">Gửi yêu cầu</button>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class = "checkout col-6">
			  <!-- Button trigger modal -->
			  <button type = "button"
					  class = "btn modal-btn"
					  data-bs-toggle = "modal"
					  data-bs-target = "#checkoutModal">
				Đặt Tour ngay
			  </button>

			  <!-- Modal -->
			  <div class = "modal fade"
				   id = "checkoutModal"
				   tabindex = "-1"
				   aria-labelledby = "checkoutModalLabel"
				   aria-hidden = "true">
				<div class = "modal-dialog">
				  <div class = "modal-content">
					<div class = "modal-header">
					  <h1 class = "modal-title fs-5" id = "checkoutModalLabel">Yêu cầu đặt</h1>
					  <button type = "button"
							  class = "btn-close"
							  data-bs-dismiss = "modal"
							  aria-label = "Close"></button>
					</div>
					<div class = "modal-body">
					  <div class = "modal-body">
						<div class = "mb-3">
						  <label for = "checkoutFormControlTextarea1" class = "form-label">Họ & Tên </label>
						  <input class = "form-control" id = "checkoutFormControlTextarea1"></input>
						</div>
						<div class = "mb-3">
						  <label for = "checkoutFormControlTextarea2" class = "form-label">Điện thoại </label>
						  <input class = "form-control" id = "checkoutFormControlTextarea2"></input>
						</div>
						<div class = "mb-3">
						  <label for = "checkoutFormControlInput1" class = "form-label">Email (nếu có)</label>
						  <input type = "email" class = "form-control" id = "checkoutFormControlInput1">
						</div>
						<div class = "mb-3">
						  <label for = "checkoutFormControlTextarea2" class = "form-label">Yêu cầu khác</label>
						  <textarea class = "form-control" id = "checkoutFormControlTextarea3" rows = "3"></textarea>
						</div>
					  </div>
					</div>
					<div class = "modal-footer">
					  <button type = "button" class = "btn" data-bs-dismiss = "modal">Gửi yêu cầu</button>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<div class = "sidebar-service container">
		  <div class = " row">
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Bảo hiểm
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Bữa ăn
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Hướng dẫn viên
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Khách sạn 3*
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Vé tham quan
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Xe đưa đón
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class = "order container d-lg-none">
	  <div class = "row">
		<div class = "text col-6">
		  <div>Giá chỉ từ</div>
		  <span class = "price">
		  3.090.000
		</span>
		  <span class = "currency">
		  VND/khách
		</span>
		</div>
		<div class = "checkout col-6 d-grid mx-auto my-auto">
		  <a href = "#" class = "d-grid my-auto">
			<button class = "btn" type = "button">
			  Lịch khởi hành
			  <i class = "fa fa-chevron-right"></i>
			</button>
		  </a>
		</div>
	  </div>
	</div>
  </div>
</div>
<!--End content-->

<!--Begin footer-->
<footer class = "main-footer">
  <div class = "wrap">
	<div class = "container">
	  <div class = "row">
		<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
		  <div class = "col-xs-12 no-padding">
			<div class = "row">
			  <div class = "footer-left col-12 order-last col-lg-8 order-lg-first">
				<div class = "row">
				  <div class = "col-3">
					<div class = "item d-block d-md-flex">
					  <img src = "/assets/img/ico-wta-winner-shield-2021.png" class = "img-fluid" alt = "">
					  <h3>Đại lý Du lịch Trực tuyến Hàng đầu Việt Nam</h3>
					</div>
				  </div>
				  <div class = "col-3">
					<div class = "item d-block d-md-flex">
					  <img src = "/assets/img/ico-hra.png" alt = "">
					  <h3>Best Companies to Work for in Asia</h3>
					</div>
				  </div>
				  <div class = "col-3">
					<div class = "item d-block d-md-flex">
					  <img src = "/assets/img/ico-apea.png" alt = "">
					  <h3>APEA Inspirational Brand Award</h3>
					</div>
				  </div>
				</div>
				<section class = "social d-sm-none">
				  <h5>Kết nối với Cholontourist</h5>
				  <div>
					<i class = "fab fa-facebook-square"></i>
					<i class = "fab fa-instagram"></i>
					<i class = "fab fa-youtube"></i>
				  </div>
				</section>
				<div class = "row">
				  <div class = "col ms-auto d-none d-md-block">
					<div class = "item">
					  <i class = "fa fa-map-marker-alt"></i>
					  <h3>HN:</h3>
					  <h3>207 Giải Phóng, Đồng Tâm, Hai Bà Trưng, Hà Nội</h3>
					</div>
				  </div>
				</div>
			  </div>
			  <div class = "footer-right col-12 order-first col-lg-4 order-lg-last ms-auto">
				<section class = "support">
				  Bạn cần trợ giúp?
				  <b>Hãy gọi ngay</b>
				</section>
				<section class = "contact">
				  <i class = "fa fa-phone"></i>
				  <b>CSKH:</b>
				  <h5>(0912) 888 888</h5>
				</section>
				<section class = "time">
				  <i class = "fa fa-clock"></i>
				  <h6>Từ 7h30 - 21h hằng ngày</h6>
				</section>
				<section class = "social d-none d-sm-block">
				  <h5>Kết nối với Cholontourist</h5>
				  <div>
					<i class = "fab fa-facebook-square"></i>
					<i class = "fab fa-instagram"></i>
					<i class = "fab fa-youtube"></i>
				  </div>
				</section>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</footer>
<!--End footer-->

<script>
    const adultPrice = 3240000
    const childPrice = 3240000
    const infantPrice = 810000

    var totalAdultPrice = 0
    var totalChildPrice = 0
    var totalInfantPrice = 0
    var total = adultPrice

    var adultPlus = document.getElementById('adult-plus')
    var childPlus = document.getElementById('child-plus')
    var infantPlus = document.getElementById('infant-plus')

    var adultMinus = document.getElementById('adult-minus')
    var childMinus = document.getElementById('child-minus')
    var infantMinus = document.getElementById('infant-minus')

    var adultNum = 1
    var childNum = 0
    var infantNum = 0

    function formatString(x) {
        return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ".");
    }

    adultPlus.addEventListener('click', function () {
        adultNum = adultNum + 1
        totalAdultPrice = adultNum * adultPrice
        total = totalAdultPrice + totalChildPrice + totalInfantPrice
        document.getElementById('adult-price').innerHTML = formatString(totalAdultPrice)
        document.getElementById('number-adult').innerHTML = adultNum
        document.getElementById('total-price').innerHTML = formatString(total)
    })

    adultMinus.addEventListener('click', function () {
        if (adultNum > 1) {
            adultNum = adultNum - 1
            totalAdultPrice = adultNum * adultPrice
            total = totalAdultPrice + totalChildPrice + totalInfantPrice
            document.getElementById('adult-price').innerHTML = formatString(totalAdultPrice)
            document.getElementById('number-adult').innerHTML = adultNum
            document.getElementById('total-price').innerHTML = formatString(total)
        }
    })

    childPlus.addEventListener('click', function () {
        childNum = childNum + 1
        totalChildPrice = childNum * childPrice
        total = totalAdultPrice + totalChildPrice + totalInfantPrice
        document.getElementById('child-price').innerHTML = formatString(totalChildPrice)
        document.getElementById('number-child').innerHTML = childNum
        document.getElementById('total-price').innerHTML = formatString(total)
    })

    childMinus.addEventListener('click', function () {
        if (childNum > 0) {
            childNum = childNum - 1
            totalChildPrice = childNum * childPrice
            total = totalAdultPrice + totalChildPrice + totalInfantPrice
            document.getElementById('child-price').innerHTML = formatString(totalChildPrice)
            document.getElementById('number-child').innerHTML = childNum
            document.getElementById('total-price').innerHTML = formatString(total)
        }
    })

    infantPlus.addEventListener('click', function () {
        infantNum = infantNum + 1
        totalInfantPrice = infantNum * infantPrice
        total = totalAdultPrice + totalChildPrice + totalInfantPrice
        document.getElementById('infant-price').innerHTML = formatString(totalInfantPrice)
        document.getElementById('number-infant').innerHTML = infantNum
        document.getElementById('total-price').innerHTML = formatString(total)
    })

    infantMinus.addEventListener('click', function () {
        if (infantNum > 0) {
            infantNum = infantNum - 1
            totalInfantPrice = infantNum * infantPrice
            total = totalAdultPrice + totalChildPrice + totalInfantPrice
            document.getElementById('infant-price').innerHTML = formatString(totalInfantPrice)
            document.getElementById('number-infant').innerHTML = infantNum
            document.getElementById('total-price').innerHTML = formatString(total)
        }
    })
</script>

</body>
</html>