<!doctype html>
<html lang = "en">
<head>
  <meta charset = "UTF-8">
  <meta name = "viewport"
		content = "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
  <link rel = "stylesheet" href = "/assets/css/tour-ta-xua-2n1d.css">
  <link rel = "stylesheet"
		href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
		integrity = "sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
		crossorigin = "anonymous"
		referrerpolicy = "no-referrer"/>
  <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
		rel = "stylesheet"
		integrity = "sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
		crossorigin = "anonymous">
  <script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		  integrity = "sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		  crossorigin = "anonymous"></script>
  <title>Tour Tà Xùa 2N1Đ: Hà Nội - Tà Xùa - Mỏm Cá Heo - Sống Lưng Khủng Long</title>
</head>
<body>
<!--Begin header-->
<header class = "main-header">
  <nav class = "navbar navbar-expand-md">
	<div class = "container-fluid">
	  <a class = "navbar-brand" href = "#">
		<img src = "/assets/img/logo_cholon_resized_height_80.png" alt = "">
	  </a>
	  <button class = "navbar-toggler"
			  type = "button"
			  data-bs-toggle = "collapse"
			  data-bs-target = "#navbarSupportedContent"
			  aria-controls = "navbarSupportedContent"
			  aria-expanded = "false"
			  aria-label = "Toggle navigation">
		<span class = "fa fa-bars"></span>
	  </button>
	  <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
		<ul class = "navbar-nav me-auto mb-2 mb-lg-0">
		  <li class = "nav-item">
			<a class = "nav-link" href = "#">Khách sạn</a>
		  </li>
		  <li class = "nav-item">
			<a class = "nav-link activated" href = "#">Tours</a>
		  </li>
		  <li class = "nav-item">
			<a class = "nav-link" href = "#">Vé xe khách</a>
		  </li>
		  <li class = "nav-item">
			<a class = "nav-link" href = "#">Vé vui chơi</a>
		  </li>
		  <li class = "nav-item">
			<a class = "nav-link" href = "#">Bespoke</a>
		  </li>
		</ul>
	  </div>
	</div>
  </nav>
  <div class = "contact-md d-none d-md-block d-lg-none">
	<i class = "fa fa-user"></i>
  </div>
  <div class = "user-login d-none d-lg-flex">
	<i class = "fa fa-user-circle"></i>
	<span class = "username-header">Tài khoản</span>
  </div>
  <div class = "contact d-none d-lg-block">
	<div class = "hotline">
	  <i class = "fa fa-phone"></i>
	  (0912) 888 888
	</div>
	<div class = "location">
	  7h30 → 21h
	  <i class = "fa fa-map-marker"></i>
	  Hà Nội
	</div>
  </div>
</header>
<!--End header-->

<!--Begin content-->
<div class = "wrap">
  <div class = "content container">
	<nav aria-label = "breadcrumb">
	  <ol class = "breadcrumb">
		<a href = "#">
		  <i class = "fa fa-home"></i>
		</a>
		<li class = "breadcrumb-item">
		  <a href = "#">Trang chủ</a>
		</li>
		<li class = "breadcrumb-item active" aria-current = "page">Tour Tà Xùa 2N1Đ: Hà Nội - Tà Xùa - Mỏm Cá Heo - Sống
		  Lưng Khủng Long
		</li>
	  </ol>
	</nav>
	<h1 class = "tour-name">Tour Tà Xùa 2N1Đ: Hà Nội - Tà Xùa - Mỏm Cá Heo - Sống Lưng Khủng Long</h1>
	<div class = "row d-flex">
	  <div class = "col-12 col-lg-8">
		<div class = "row">
		  <img src = "/assets/img/tours/ta xua 2n1d/ta xua carousel.jpg" class = "img-fluid mx-auto" alt = "">
		</div>
		<div class = "tour-info container">
		  <div class = "col mx-auto">
			<ul class = "list-group list-group-horizontal">
			  <li>
				<i class = "fa fa-map-marker-alt"></i>
				Hà Nội
			  </li>
			  <li>
				<i class = "fa fa-clock"></i>
				2 Ngày 1 Đêm
			  </li>
			  <li>
				Phương tiện:
				<i class = "fa fa-car-alt"></i>
			  </li>
			</ul>
		  </div>
		</div>
		<div class = "tour-content col" id = "detail-overview">
		  <div class = "tour-content-container">
			<h3>Săn Mây Tà Xùa</h3>
			<p>
			  Mộc Châu khiến dân tình 'đứng ngồi không yên' bởi cao nguyên xanh tươi mát lành đẹp cả bốn mùa, có núi
			  rừng hùng
			  vĩ bao la, có thác cao suối chảy róc rách, có đỉnh Pha Luông lồng lộng gió trời mây phủ, có những đồi chè
			  xanh
			  bạt
			  ngàn, đàn bò sữa nhởn nhơ gặm cỏ… Và được yêu thích nhất có lẽ là những mùa hoa đầy màu sắc, tạo nên bức
			  tranh
			  tươi đẹp, mới mẻ theo từng tháng trong năm. Bên cạnh đó liên tuyến Tà Xùa những biển mây trắng muốt, bồng
			  bềnh,
			  khiến con tim xốn xang, rộn ràng. Cùng iVIVU khám phá ngay hôm nay!
			</p>
		  </div>
		</div>
		<div class = "tour-content col" id = "detail-schedule">
		  <div class = "tour-content-container">
			<h3>
			  Chương trình tour
			</h3>
			<h4>NGÀY 01: HÀ NỘI – THANH SƠN– HỒ SUỐI CHIẾU – TÀ XÙA (Ăn Trưa, Tối)</h4>
			<p>
			  06h00: Xe và HDV đón Quý khách tại Nhà hát lớn Hà Nội, khởi hành đi
			  <strong>săn mây Tà Xùa</strong>
			  . Đoàn dừng chân ăn sáng ở nhà hàng trên đường đi (Chi phí tự túc).
			</p>
			<p>
			  Sau bữa sáng, quý khách lên xe tiếp tục hành trình đến với
			  <strong>đồi chè Thanh Sơn – Phú Thọ</strong>
			  . Nơi đây có không khí mát mẻ của vùng trung du. Còn khi đến vào mùa đông, đồi chè lại sở hữu vẻ tĩnh mịch
			  và
			  trầm mặc như tại trời Âu. Tại đây, quý khách có thệ thưởng thức đặc sản Thịt chua Thanh Sơn và mua về làm
			  quà.
			</p>
			<p>
			  10h00: Quý khách lên xe đến
			  <strong>Hồ Suối Chiếu</strong>
			  , HDV sẽ đưa quý khách lên thuyền du lịch thăm quan.
			</p>
			<p>
			  <strong>Suối Chiếu</strong>
			  như bức tranh sơn thủy hữu tình trên mảnh đất Phù Hoa, trở thành điểm đến lý tưởng cho du khách yêu thích
			  cảnh
			  sắc hoang sơ, mộc mạc. Mặt hồ trong xanh, gợn sóng, hai bên bờ là những bản làng được bao bọc bởi những
			  cánh
			  rừng xanh tốt.
			</p>
			<p>
			  <img src = "/assets/img/tours/ta xua 2n1d/ho suoi chieu.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Hồ Suối Chiếu</em>
			</p>
			<p>
			  Trưa: Đoàn ăn trưa tại nhà hàng ven hồ Suối Chiếu.
			</p>
			<p>
			  Chiều: Tiếp tục hành trình HDV đưa quý khách di chuyển tới các điểm tham quan sau:
			</p>
			<p>
			  -
			  <strong>Mỏm Cá Heo</strong>
			  : Mỏm đá này được tạo bởi hai phến lớn tựa như hai con cá heo đang bơi lượn giữa “biển” mây. Khách du lịch
			  đều
			  tỏ ra thích thú khi được check-in, sống ảo tại Mỏm Cá Heo.
			</p>
			<p>
			  <img src = "/assets/img/tours/ta xua 2n1d/mom ca heo.jpg" class = "img-fluid mx-auto d-block" alt = "">
			  <em>Mỏm Cá Heo</em>
			</p>
			<p>
			  Tiếp theo Quý khách đến với
			  <strong>Cây cô đơn</strong>
			  . Hình ảnh cây cô đơn đứng sừng sững giữa mây trời Tây Bắc khiến rất nhiều người thích thú. Từ đây, du
			  khách thu
			  vào tầm mắt ra núi đồi bao la. Du khách không cần phải tạo dáng gì nhiều vì đã có sẵn một “background” vô
			  cùng
			  hoàn hảo bởi sự hoà quyện tuyệt vời của cảnh sắc thiên nhiên.
			</p>
			<p>
			  Sau đó, đoàn di chuyển về nhận phòng nghỉ ngơi.
			</p>
			<p>
			  Tối: Quý khách thưởng thức bữa tối ăn lẩu trong không khí lạnh về đêm.
			</p>
			<h4>NGÀY 02: SỐNG LƯNG KHỦNG LONG HÁNG ĐỒNG - HÀ NỘI ( Ăn Sáng, Trưa)</h4>
			<p>
			  Sáng: Đoàn dậy sớm vệ sinh cá nhân, xe và HDV sẽ đưa đoàn lên
			  <strong> sống lưng khủng long Háng Đồng.</strong>
			</p>
			<p>
			  Sáng: Đoàn dậy sớm vệ sinh cá nhân, xe và HDV sẽ đưa đoàn lên
			  <strong> sống lưng khủng long Háng Đồng.</strong>
			</p>
			<p>
			  Quý khách tự do tham quan, check in
			  <strong>sống lưng khủng long</strong>
			  . Vào những ngày thời tiết đẹp, quý khách sẽ được chiêm ngưỡng biển mây Tà Xùa mở ảo và những dãy núi nối
			  nhau
			  không dứt phía xa. Quý khách có thể thưởng thức bữa sáng với view triệu đô ngay tại sống lưng khủng long.
			</p>
			<p>
			  <img src = "/assets/img/tours/ta xua 2n1d/song lung khung long.png"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Sống Lưng Khủng Long.</em>
			</p>
			<p>
			  Ngoài ra, đoàn có thể ghé
			  <strong> Thào Coffee Tà Xùa</strong>
			  hoặc
			  <strong>H’mong Coffee</strong>
			  , thưởng thức tách cà phê nóng hổi và dõi mắt nhìn ra núi đồi hung vĩ xung quanh (Chi phí đồ uống tự túc).
			</p>
			<p>
			  Trưa: Quý khách ăn trưa tại nhà hàng ở thị trấn Bắc Yên thưởng thức các món đặc sản nơi núi rừng
			</p>
			<p>
			  Sau bữa trưa, xe đưa đoàn về Hà Nội.
			</p>
			<p>
			  Tối: Đoàn về đến Hà Nội, chia tay kết thúc chuyến đi. Hẹn gặp lại quý khách trong các chương trình tiếp
			  theo.
			</p>
			<p>
			  <em>Thứ tự tham quan có thể thay đổi nhưng vẫn đảm bảo đầy đủ điểm trong chương trình.</em>
			</p>
		  </div>
		</div>
		<div class = "tour-content col" id = "detail-tour-guide">
		  <div class = "tour-content-container">
			<h3>Hướng dẫn viên</h3>
			<p>
			  - Hướng Dẫn Viên (HDV) sẽ liên lạc với Quý Khách 1-2 ngày trước khi khởi hành để sắp xếp giờ đón và cung
			  cấp các
			  thông tin cần thiết.
			</p>
		  </div>
		</div>
		<div class = "tour-content col" id = "detail-term-regulations">
		  <nav>
			<div class = "nav nav-tabs" id = "nav-tab" role = "tablist">
			  <button class = "nav-link active"
					  id = "nav-tab1"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-1"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-1"
					  aria-selected = "true">Bao gồm
			  </button>
			  <button class = "nav-link"
					  id = "nav-tab2"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-2"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-2"
					  aria-selected = "false">Phát sinh
			  </button>
			  <button class = "nav-link"
					  id = "nav-tab3"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-3"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-3"
					  aria-selected = "false">Phụ thu
			  </button>
			  <button class = "nav-link"
					  id = "nav-tab4"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-4"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-4"
					  aria-selected = "false">Hủy đổi
			  </button>
			  <button class = "nav-link"
					  id = "nav-tab5"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-5"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-5"
					  aria-selected = "false">Lưu ý
			  </button>
			</div>
		  </nav>
		  <div class = "tab-content" id = "nav-tabContent">
			<div class = "tab-pane fade show active"
				 id = "nav-1"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab1"
				 tabindex = "0">
			  <div>
				<h6>Vận chuyển:</h6>
				<p>
				  - Xe ô tô máy lạnh điều hòa đưa đón theo chương trình tour
				</p>
				<h6>Lưu trú:</h6>
				<p>
				  - Homestay tại Tà Xùa sạch sẽ view đẹp tiêu chuẩn 2 khách/ phòng.
				</p>
				<h6>Khác:</h6>
				<p>
				  - Ăn 03 bữa chính 150.000 VNĐ/khách/bữa, 01 bữa sáng theo chương trình.
				</p>
				<p>
				  - Vé tham quan các điểm theo lịch trình.
				</p>
				<p>
				  - Khăn lạnh, nước uống 01 chai 500ml/khách/ngày.
				</p>
				<p>
				  - Hướng dẫn viên suốt tuyến phục vụ nhiệt tình, chu đáo.
				</p>
				<p>
				  - Bảo hiểm du lịch: Mức đền bù tối đa 30 triệu/vụ.
				</p>
			  </div>
			</div>
			<div class = "tab-pane fade"
				 id = "nav-2"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab2"
				 tabindex = "0">
			  <div>
				<p>
				  - Đồ uống trong các bữa ăn và các chi phí ngoài chương trình tour.
				</p>
				<p>
				  - Tiền Tip HDV và lái xe.
				</p>
				<p>
				  - Thuế VAT.
				</p>
				<p>
				  - Chi phí xe ôm di chuyển vào sâu trong các điểm tham quan (nếu đi).
				</p>
			  </div>
			</div>
			<div class = "tab-pane fade"
				 id = "nav-3"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab3"
				 tabindex = "0">
			  <div>
				<p>
				  - Phụ thu phòng đơn 350.000 vnđ/khách.
				</p>
				<p>
				  - Khách nước ngoài: 350.000 vnđ/khách.
				</p>
				<p>
				  Phụ thu lễ: 200.000VNĐ/ khách (các giai đoạn áp dụng, lễ Quốc Khánh, Tết âm, Tết dương lịch, 30/4 –
				  1/5)
				</p>
				<h6>Giá trẻ em</h6>
				<p>
				  - Trẻ em từ 10 tuổi trở lên tính 100% giá tour.
				</p>
				<p>
				  - Trẻ em từ 05 – 9 tuổi tính 75 % giá tour. (Ăn ½ suất, 01 ghế ngồi trên xe, ngủ chung với bố mẹ)
				</p>
				<p>
				  - Trẻ em dưới 04 tuổi miễn phí giá tour (Ăn cùng bố mẹ, ngồi lòng bố mẹ, ngủ chung với bố mẹ, từ trẻ
				  thứ 2
				  trở đi tính 50% giá tour)
				</p>
			  </div>
			</div>
			<div class = "tab-pane fade"
				 id = "nav-4"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab4"
				 tabindex = "0">
			  <div>
				<p>
				  - Trường hợp hủy chuyến du lịch ngay sau khi đăng ký, Quý khách sẽ chịu phí 10% trên giá vé du lịch.
				</p>
				<p>
				  - Trường hợp hủy chuyến du lịch trong vòng từ 10 đến 15 ngày trước ngày khởi hành, Quý khách sẽ chịu
				  phí 30%
				  trên giá vé du lịch.
				</p>
				<p>
				  - Trường hợp hủy chuyến du lịch trong vòng từ 5 đến 10 ngày trước ngày khởi hành, Quý khách sẽ chịu
				  phí 50%
				  trên giá vé du lịch.
				</p>
				<p>
				  - Trường hợp hủy chuyến du lịch trong vòng từ 3 đến 4 ngày trước ngày khởi hành, Quý khách sẽ chịu phí
				  75%
				  trên giá vé du lịch.
				</p>
				<p>
				  - Quý khách hủy chuyến du lịch trong vòng từ 0 đến 2 ngày trước ngày khởi hành, Quý khách sẽ chịu phí
				  100%
				  trên giá vé du lịch.
				</p>
			  </div>
			</div>
			<div class = "tab-pane fade"
				 id = "nav-5"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab5"
				 tabindex = "0">
			  <div>
				<p>
				  - Quý khách nên mang theo giày thể thao, đồ dùng gọn nhẹ, máy ảnh.
				</p>
				<p>
				  - Lịch trình tour có thể thay đổi nhưng dịch vụ không thay đổi và vẫn đảm bảo các điểm thăm quan.
				</p>
				<p>
				  - Nếu chương trình du lịch bị hủy bỏ hoặc thay đổi bởi một trong hai bên vì một lý do bất khả kháng
				  (hỏa
				  hoạn, thời tiết, tai nạn, thiên tai, chiến tranh, hoãn và hủy chuyến của các phương tiện vận chuyển
				  công
				  cộng…), thì hai bên sẽ không chịu bất kỳ nghĩa vụ bồi hoàn các tổn thất đã xảy ra và không chịu bất kỳ
				  trách
				  nhiệm pháp lý nào. Tuy nhiên mỗi bên có trách nhiệm cố gắng tối đa để giúp đỡ bên bị thiệt hại nhằm
				  giảm
				  thiểu các tổn thất gây ra vì lý do bất khả kháng.
				</p>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  <div class = "col-lg-4 d-none d-lg-block ">
		<div class = "sidebar-form container">
		  <div class = "row">
			<div class = "title col">
			  Giá Tour
			</div>
			<div class = "adult border row">
			  <div class = "text col">
				<div class = "col">
				  Người lớn
				</div>
				<div class = "sub col">
				  > 8 tuổi
				</div>
			  </div>
			  <div class = "price col" id = "adult-price">
				2.850.000
			  </div>
			  <div class = "btn-group col">
				<button type = "button" class = "btn" id = "adult-minus">
				  <i class = "fa fa-minus"></i>
				</button>
				<span id = "number-adult">1</span>
				<button type = "button" class = "btn" id = "adult-plus">
				  <i class = "fa fa-plus"></i>
				</button>
			  </div>
			</div>
			<div class = "child border row">
			  <div class = "text col">
				<div class = "col">
				  Trẻ em
				</div>
				<div class = "sub col">
				  5 - 8 tuổi
				</div>
			  </div>
			  <div class = "price col" id = "child-price">

			  </div>
			  <div class = "btn-group col">
				<button type = "button" class = "btn" id = "child-minus">
				  <i class = "fa fa-minus"></i>
				</button>
				<span id = "number-child">0</span>
				<button type = "button" class = "btn" id = "child-plus">
				  <i class = "fa fa-plus"></i>
				</button>
			  </div>
			</div>
			<div class = "infant border row">
			  <div class = "text col">
				<div class = "col">
				  Trẻ nhỏ
				</div>
				<div class = "sub col">
				  < 5 tuổi
				</div>
			  </div>
			  <div class = "price col" id = "infant-price">

			  </div>
			  <div class = "btn-group col">
				<button type = "button" class = "btn" id = "infant-minus">
				  <i class = "fa fa-minus"></i>
				</button>
				<span id = "number-infant">0</span>
				<button type = "button" class = "btn" id = "infant-plus">
				  <i class = "fa fa-plus"></i>
				</button>
			  </div>
			</div>
			<div class = "contact-msg col-12">
			  <i class = "fa fa-info-circle"></i>
			  <span>
				  Liên hệ để xác nhận chỗ
				</span>
			</div>
			<div class = "total-text col-6">
			  Tổng Giá Tour
			</div>
			<div class = "total-num col-6">
				  <span class = "price" id = "total-price">
				  6.180.000
				  </span>
			  <span class = "currency">
					VND
				  </span>
			</div>
			<div class = "contact col-6">
			  <!-- Button trigger modal -->
			  <button type = "button"
					  class = "btn modal-btn"
					  data-bs-toggle = "modal"
					  data-bs-target = "#contactModal">
				Liên hệ tư vấn
			  </button>

			  <!-- Modal -->
			  <div class = "modal fade"
				   id = "contactModal"
				   tabindex = "-1"
				   aria-labelledby = "contactModalLabel"
				   aria-hidden = "true">
				<div class = "modal-dialog">
				  <div class = "modal-content">
					<div class = "modal-header">
					  <h1 class = "modal-title" id = "contactModalLabel">Yêu cầu tư vấn</h1>

					</div>
					<div class = "modal-body">
					  <div class = "mb-3">
						<label for = "contactFormControlTextarea1" class = "form-label">Họ & Tên </label>
						<input class = "form-control" id = "contactFormControlTextarea1"></input>
					  </div>
					  <div class = "mb-3">
						<label for = "contactFormControlTextarea2" class = "form-label">Điện thoại </label>
						<input class = "form-control" id = "contactFormControlTextarea2"></input>
					  </div>
					  <div class = "mb-3">
						<label for = "checkoutFormControlInput1" class = "form-label">Email (nếu có)</label>
						<input type = "email" class = "form-control" id = "exampleFormControlInput1">
					  </div>
					  <div class = "mb-3">
						<label for = "contactFormControlTextarea3" class = "form-label">Yêu cầu khác</label>
						<textarea class = "form-control" id = "contactFormControlTextarea3" rows = "3"></textarea>
					  </div>
					</div>
					<div class = "modal-footer">
					  <button type = "button" class = "btn" data-bs-dismiss = "modal">Gửi yêu cầu</button>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class = "checkout col-6">
			  <!-- Button trigger modal -->
			  <button type = "button"
					  class = "btn modal-btn"
					  data-bs-toggle = "modal"
					  data-bs-target = "#checkoutModal">
				Đặt Tour ngay
			  </button>

			  <!-- Modal -->
			  <div class = "modal fade"
				   id = "checkoutModal"
				   tabindex = "-1"
				   aria-labelledby = "checkoutModalLabel"
				   aria-hidden = "true">
				<div class = "modal-dialog">
				  <div class = "modal-content">
					<div class = "modal-header">
					  <h1 class = "modal-title fs-5" id = "checkoutModalLabel">Yêu cầu đặt</h1>
					  <button type = "button"
							  class = "btn-close"
							  data-bs-dismiss = "modal"
							  aria-label = "Close"></button>
					</div>
					<div class = "modal-body">
					  <div class = "modal-body">
						<div class = "mb-3">
						  <label for = "checkoutFormControlTextarea1" class = "form-label">Họ & Tên </label>
						  <input class = "form-control" id = "checkoutFormControlTextarea1"></input>
						</div>
						<div class = "mb-3">
						  <label for = "checkoutFormControlTextarea2" class = "form-label">Điện thoại </label>
						  <input class = "form-control" id = "checkoutFormControlTextarea2"></input>
						</div>
						<div class = "mb-3">
						  <label for = "checkoutFormControlInput1" class = "form-label">Email (nếu có)</label>
						  <input type = "email" class = "form-control" id = "checkoutFormControlInput1">
						</div>
						<div class = "mb-3">
						  <label for = "checkoutFormControlTextarea2" class = "form-label">Yêu cầu khác</label>
						  <textarea class = "form-control" id = "checkoutFormControlTextarea3" rows = "3"></textarea>
						</div>
					  </div>
					</div>
					<div class = "modal-footer">
					  <button type = "button" class = "btn" data-bs-dismiss = "modal">Gửi yêu cầu</button>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<div class = "sidebar-service container">
		  <div class = " row">
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Bảo hiểm
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Bữa ăn
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Hướng dẫn viên
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Khách sạn 3*
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Vé tham quan
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Xe đưa đón
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class = "order container d-lg-none">
	  <div class = "row">
		<div class = "text col-6">
		  <div>Giá chỉ từ</div>
		  <span class = "price">
		  3.090.000
		</span>
		  <span class = "currency">
		  VND/khách
		</span>
		</div>
		<div class = "checkout col-6 d-grid mx-auto my-auto">
		  <a href = "#" class = "d-grid my-auto">
			<button class = "btn" type = "button">
			  Lịch khởi hành
			  <i class = "fa fa-chevron-right"></i>
			</button>
		  </a>
		</div>
	  </div>
	</div>
  </div>
</div>
<!--End content-->

<!--Begin footer-->
<footer class = "main-footer">
  <div class = "wrap">
	<div class = "container">
	  <div class = "row">
		<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
		  <div class = "col-xs-12 no-padding">
			<div class = "row">
			  <div class = "footer-left col-12 order-last col-lg-8 order-lg-first">
				<div class = "row">
				  <div class = "col-3">
					<div class = "item d-block d-md-flex">
					  <img src = "/assets/img/ico-wta-winner-shield-2021.png" class = "img-fluid" alt = "">
					  <h3>Đại lý Du lịch Trực tuyến Hàng đầu Việt Nam</h3>
					</div>
				  </div>
				  <div class = "col-3">
					<div class = "item d-block d-md-flex">
					  <img src = "/assets/img/ico-hra.png" alt = "">
					  <h3>Best Companies to Work for in Asia</h3>
					</div>
				  </div>
				  <div class = "col-3">
					<div class = "item d-block d-md-flex">
					  <img src = "/assets/img/ico-apea.png" alt = "">
					  <h3>APEA Inspirational Brand Award</h3>
					</div>
				  </div>
				</div>
				<section class = "social d-sm-none">
				  <h5>Kết nối với Cholontourist</h5>
				  <div>
					<i class = "fab fa-facebook-square"></i>
					<i class = "fab fa-instagram"></i>
					<i class = "fab fa-youtube"></i>
				  </div>
				</section>
				<div class = "row">
				  <div class = "col ms-auto d-none d-md-block">
					<div class = "item">
					  <i class = "fa fa-map-marker-alt"></i>
					  <h3>HN:</h3>
					  <h3>207 Giải Phóng, Đồng Tâm, Hai Bà Trưng, Hà Nội</h3>
					</div>
				  </div>
				</div>
			  </div>
			  <div class = "footer-right col-12 order-first col-lg-4 order-lg-last ms-auto">
				<section class = "support">
				  Bạn cần trợ giúp?
				  <b>Hãy gọi ngay</b>
				</section>
				<section class = "contact">
				  <i class = "fa fa-phone"></i>
				  <b>CSKH:</b>
				  <h5>(0912) 888 888</h5>
				</section>
				<section class = "time">
				  <i class = "fa fa-clock"></i>
				  <h6>Từ 7h30 - 21h hằng ngày</h6>
				</section>
				<section class = "social d-none d-sm-block">
				  <h5>Kết nối với Cholontourist</h5>
				  <div>
					<i class = "fab fa-facebook-square"></i>
					<i class = "fab fa-instagram"></i>
					<i class = "fab fa-youtube"></i>
				  </div>
				</section>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</footer>
<!--End footer-->

<script>
    const adultPrice = 2850000
    const childPrice = 2850000
    const infantPrice = 710000

    var totalAdultPrice = 0
    var totalChildPrice = 0
    var totalInfantPrice = 0
    var total = adultPrice

    var adultPlus = document.getElementById('adult-plus')
    var childPlus = document.getElementById('child-plus')
    var infantPlus = document.getElementById('infant-plus')

    var adultMinus = document.getElementById('adult-minus')
    var childMinus = document.getElementById('child-minus')
    var infantMinus = document.getElementById('infant-minus')

    var adultNum = 1
    var childNum = 0
    var infantNum = 0

    function formatString(x) {
        return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ".");
    }

    adultPlus.addEventListener('click', function () {
        adultNum = adultNum + 1
        totalAdultPrice = adultNum * adultPrice
        total = totalAdultPrice + totalChildPrice + totalInfantPrice
        document.getElementById('adult-price').innerHTML = formatString(totalAdultPrice)
        document.getElementById('number-adult').innerHTML = adultNum
        document.getElementById('total-price').innerHTML = formatString(total)
    })

    adultMinus.addEventListener('click', function () {
        if (adultNum > 1) {
            adultNum = adultNum - 1
            totalAdultPrice = adultNum * adultPrice
            total = totalAdultPrice + totalChildPrice + totalInfantPrice
            document.getElementById('adult-price').innerHTML = formatString(totalAdultPrice)
            document.getElementById('number-adult').innerHTML = adultNum
            document.getElementById('total-price').innerHTML = formatString(total)
        }
    })

    childPlus.addEventListener('click', function () {
        childNum = childNum + 1
        totalChildPrice = childNum * childPrice
        total = totalAdultPrice + totalChildPrice + totalInfantPrice
        document.getElementById('child-price').innerHTML = formatString(totalChildPrice)
        document.getElementById('number-child').innerHTML = childNum
        document.getElementById('total-price').innerHTML = formatString(total)
    })

    childMinus.addEventListener('click', function () {
        if (childNum > 0) {
            childNum = childNum - 1
            totalChildPrice = childNum * childPrice
            total = totalAdultPrice + totalChildPrice + totalInfantPrice
            document.getElementById('child-price').innerHTML = formatString(totalChildPrice)
            document.getElementById('number-child').innerHTML = childNum
            document.getElementById('total-price').innerHTML = formatString(total)
        }
    })

    infantPlus.addEventListener('click', function () {
        infantNum = infantNum + 1
        totalInfantPrice = infantNum * infantPrice
        total = totalAdultPrice + totalChildPrice + totalInfantPrice
        document.getElementById('infant-price').innerHTML = formatString(totalInfantPrice)
        document.getElementById('number-infant').innerHTML = infantNum
        document.getElementById('total-price').innerHTML = formatString(total)
    })

    infantMinus.addEventListener('click', function () {
        if (infantNum > 0) {
            infantNum = infantNum - 1
            totalInfantPrice = infantNum * infantPrice
            total = totalAdultPrice + totalChildPrice + totalInfantPrice
            document.getElementById('infant-price').innerHTML = formatString(totalInfantPrice)
            document.getElementById('number-infant').innerHTML = infantNum
            document.getElementById('total-price').innerHTML = formatString(total)
        }
    })
</script>

</body>
</html>