<!doctype html>
<html lang = "en">
<head>
  <meta charset = "UTF-8">
  <meta name = "viewport"
		content = "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
  <link rel = "stylesheet" href = "/assets/css/tour-dong-bac-5n4d.css">
  <link rel = "stylesheet"
		href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
		integrity = "sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
		crossorigin = "anonymous"
		referrerpolicy = "no-referrer"/>
  <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
		rel = "stylesheet"
		integrity = "sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
		crossorigin = "anonymous">
  <script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		  integrity = "sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		  crossorigin = "anonymous"></script>
  <title>Tour Đông Bắc 5N4Đ: HCM - Hà Giang - Cao Bằng - Thác Bản Giốc - Thảo Nguyên Đồng Lâm - Chùa Tam Thanh</title>
</head>
<body>
<!--Begin header-->
<header class = "main-header">
  <nav class = "navbar navbar-expand-md">
	<div class = "container-fluid">
	  <a class = "navbar-brand" href = "#">
		<img src = "/assets/img/logo_cholon_resized_height_80.png" alt = "">
	  </a>
	  <button class = "navbar-toggler"
			  type = "button"
			  data-bs-toggle = "collapse"
			  data-bs-target = "#navbarSupportedContent"
			  aria-controls = "navbarSupportedContent"
			  aria-expanded = "false"
			  aria-label = "Toggle navigation">
		<span class = "fa fa-bars"></span>
	  </button>
	  <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
		<ul class = "navbar-nav me-auto mb-2 mb-lg-0">
		  <li class = "nav-item">
			<a class = "nav-link" href = "#">Khách sạn</a>
		  </li>
		  <li class = "nav-item">
			<a class = "nav-link activated" href = "#">Tours</a>
		  </li>
		  <li class = "nav-item">
			<a class = "nav-link" href = "#">Vé xe khách</a>
		  </li>
		  <li class = "nav-item">
			<a class = "nav-link" href = "#">Vé vui chơi</a>
		  </li>
		  <li class = "nav-item">
			<a class = "nav-link" href = "#">Bespoke</a>
		  </li>
		</ul>
	  </div>
	</div>
  </nav>
  <div class = "contact-md d-none d-md-block d-lg-none">
	<i class = "fa fa-user"></i>
  </div>
  <div class = "user-login d-none d-lg-flex">
	<i class = "fa fa-user-circle"></i>
	<span class = "username-header">Tài khoản</span>
  </div>
  <div class = "contact d-none d-lg-block">
	<div class = "hotline">
	  <i class = "fa fa-phone"></i>
	  (0912) 888 888
	</div>
	<div class = "location">
	  7h30 → 21h
	  <i class = "fa fa-map-marker"></i>
	  Hà Nội
	</div>
  </div>
</header>
<!--End header-->

<!--Begin content-->
<div class = "wrap">
  <div class = "content container">
	<nav aria-label = "breadcrumb">
	  <ol class = "breadcrumb">
		<a href = "#">
		  <i class = "fa fa-home"></i>
		</a>
		<li class = "breadcrumb-item">
		  <a href = "#">Trang chủ</a>
		</li>
		<li class = "breadcrumb-item active" aria-current = "page">Tour Đông Bắc 5N4Đ: HCM - Hà Giang - Cao Bằng - Thác
		  Bản Giốc - Thảo Nguyên Đồng Lâm - Chùa Tam Thanh
		</li>
	  </ol>
	</nav>
	<h1 class = "tour-name">Tour Đông Bắc 5N4Đ: HCM - Hà Giang - Cao Bằng - Thác Bản Giốc - Thảo Nguyên Đồng Lâm - Chùa
	  Tam Thanh</h1>
	<div class = "row d-flex">
	  <div class = "col-12 col-lg-8">
		<div class = "row">
		  <img src = "/assets/img/tours/dong bac 5n4d/ivivu-thao-nguyen-dong-lam-bia-750x390.jpg"
			   class = "img-fluid mx-auto"
			   alt = "">
		</div>
		<div class = "tour-info container">
		  <div class = "col mx-auto">
			<ul class = "list-group list-group-horizontal">
			  <li>
				<i class = "fa fa-map-marker-alt"></i>
				Hồ Chí Minh
			  </li>
			  <li>
				<i class = "fa fa-clock"></i>
				5 Ngày 4 Đêm
			  </li>
			  <li>
				Phương tiện:
				<i class = "fa fa-car-alt"></i>
				<i class = "fa fa-plane"></i>
			  </li>
			</ul>
		  </div>
		</div>
		<div class = "tour-content col" id = "detail-overview">
		  <div class = "tour-content-container">
			<h3>
			  Tuyệt Tác Thiên Nhiên Vòng Cung Đông Bắc
			</h3>
			<p>
			  Vòng Cung Đông Bắc thuộc vùng Đồng bằng Sông Hồng, sở hữu nhiều danh lam thắng cảnh nổi tiếng (Cao nguyên
			  đá
			  Đồng Văn, Cột cờ Hà Giang, Đèo Mã Pì Lèng, Thác Bản Giốc, Hồ Ba Bể,…). Đến với du lịch Đông Bắc du khách
			  sẽ có
			  dịp được trải nghiệm nhiều nét văn hóa đặc sắc của nhiều dân tộc khác nhau, thưởng thức những món ẩm thực
			  hấp
			  dẫn và cùng giao lưu văn hóa dân tộc,... Chuyến du lịch Vòng Cung Đông Bắc hứa hẹn sẽ là một hành trình
			  khám phá
			  nghỉ dưỡng thú vị, đem lại những kiến thức, những cảm nhận mới về khu di tích tạo nên lịch sử. Cùng
			  Cholontourist khám
			  phá ngay hôm nay!
			</p>
		  </div>
		</div>
		<div class = "tour-content col" id = "detail-schedule">
		  <div class = "tour-content-container">
			<h3>
			  Chương trình tour
			</h3>
			<h4>NGÀY 1: TP. HỒ CHÍ MINH - HÀ NỘI - HÀ GIANG - QUẢN BẠ (ĂN TRƯA, TỐI)</h4>
			<p>
			  Buổi sáng: HDV hỗ trợ quý khách làm thủ tục check in tại sân bay Tân Sơn Nhất bay đến Hà Nội.
			</p>
			<p>
			  Đến sân bay Nội Bài, quý khách khởi hành đi Hà Giang
			</p>
			<p>
			  Trên đường đi Quý khách có thể ngắm cảnh rừng núi rừng Đông Bắc vô cùng hùng vĩ và hoang sơ và dừng chân
			  chụp
			  những bức hình lưu niệm.
			</p>
			<p>
			  Buổi trưa: Quý khách dùng cơm trưa tại Tuyên Quang
			</p>
			<p>
			  - Quý khách check in tại
			  <strong>cột mốc số 0 Hà Giang</strong>
			  . Dốc Bắc Sum, chụp ảnh và ngắm cảnh tại con dốc dài 8km.
			</p>
			<p>
			  <img src = "/assets/img/tours/dong bac 5n4d/top-15-dia-diem-du-lich-dep-noi-tieng-tai-ha-giang-202203221347389999-1.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Cột Mốc Km0</em>
			</p>
			<p>
			  - Quý khách tiếp tục hành trình lên núi khám phá Huyện Quản Bạ với:
			  <strong>Núi Đôi Cô Tiên</strong>
			  - “tác phẩm nghệ thuật” của tạo hoá ban tặng cho vùng đất này. “Núi Đôi” nổi tiếng đã tạo cho thung lũng
			  Quản Bạ
			  một cảnh quan độc nhất vô nhị hết sức hấp dẫn.
			</p>
			<p>
			  <img src = "/assets/img/tours/dong bac 5n4d/su-tich-nui-doi-quan-ba-3-.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Núi Đôi Cô Tiên</em>
			</p>
			<p>
			  -
			  <strong>Cổng Trời Quản Bạ</strong>: Cổng trời nằm trên đỉnh cao nhất của con đèo từ Hà Giang lên Quản Bạ.
			  Đứng ở
			  đây Quý khách được đứng giữa biển
			  mây bồng bềnh, cảm giác như đang ở chốn bồng lai tiên cảnh, mọi lo âu mệt mỏi dường như tan biến.
			</p>
			<p>
			  Checkin cây nghiến cô đơn trên đường.
			</p>
			<p>
			  Tiếp đó, Đoàn tới rừng thông Yên Minh, phóng tầm mắt chiêm ngưỡng vẻ đẹp hùng vĩ ruộng bậc thang, những
			  cánh
			  rừng thông, đồi cây lá ngón nơi đây.
			</p>
			<p>
			  18h00: Quý khách ăn tối tại nhà hàng, về nhận phòng ks nghỉ ngơi, tự do khám phá Yên Minh về đêm.
			</p>
			<h4>NGÀY 2: CAO NGUYÊN ĐÁ ĐỒNG VĂN - DỐC THẨM MÃ - PHÓ CÁO - LÀNG VĂN HÓA LŨNG CẨM - DINH THỰ VUA MÈO - CỘT
			  CỜ
			  LỦNG CÚ - PHỐ CỔ ĐỒNG VĂN (ĂN SÁNG, TRƯA)</h4>
			<p>
			  Sáng: Quý khách ăn sáng và sau đó đoàn khởi hành đi tham quan
			</p>
			<p>
			  Buổi sáng: Quý khách trả phòng. Ăn sáng tại nhà hàng. Sau đó đi tham quan:
			</p>
			<p>
			  -
			  <strong>Cao Nguyên Đá Đồng Văn</strong>: Qua cổng trời, du khách chính thức đặt chân vào cao nguyên đá,
			  nơi
			  nhiều nhà khoa học trên thế giới cho rằng vẫn còn là ẩn số của thiên nhiên.
			</p>
			<p>
			  <img src = "/assets/img/tours/dong bac 5n4d/ivivu-cao-nguyen-da.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Cao Nguyên Đá</em>
			</p>
			<p>
			  - Đoàn tham quan
			  <strong> Dốc Thẩm Mã</strong>
			  là con đường đèo nằm ngay trên Quốc Lộ 4C. Con dốc này gồm có 9 khúc uốn lượn trông rất đẹp mắt
			<p>
			  <img src = "/assets/img/tours/dong bac 5n4d/image-20210521153841-2.jpeg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Dốc Thẩm Mã</em>
			</p>
			<p>
			  Ngoài những điều hiện hữu thiên nhiên ban tặng. Nét Văn hóa được thể hiện qua từng ngôi nhà, bản làng. Sẽ
			  khiến
			  du khách có những trãi nghiệm không bao giờ quên:
			</p>
			<p>
			  -
			  <strong>Phố Cáo</strong>: Một thung lũng ở vùng cao Tây Bắc, đến đây du khách sẽ nhận ra được nét hoang
			  sơ, mộc
			  mạc của địa danh này. Những người dân Phố Cáo phần lớn là người dân tộc cuộc sống còn nghèo khó tuy nhiên
			  lại
			  rất thân thiện. Họ chào đón những người khách lạ bằng bằng những nụ cười ấm áp, luôn mở rộng cửa mời khách
			  vào
			  nhà chơi.
			</p>
			<p>
			  <img src = "/assets/img/tours/ha giang 3n2d/pho-cao-ha-giang-chiem-nguong-net-dep-hoang-so-cua-xu-dong-van-01-1642494466.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Làng Phố Cáo</em>
			</p>
			<p>
			  Tại đây Quý khách có thể dừng chân tham quan làng văn hóa
			  <strong>Lũng Cẩm – Nhà của Pao, </strong>
			  nơi lấy bối cảnh những thước phim nổi tiếng “Chuyện của Pao” - thời gian này đang nở rộ với những đồng hoa
			  tam
			  giác mạch, hoa cải vàng…
			</p>
			<p>
			  <img src = "/assets/img/tours/dong bac 5n4d/nhacuapao.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Làng Văn Hóa Lũng Cẩm</em>
			</p>
			<p>
			  - Tham quan
			  <strong>Dinh thự vua Mèo Vương Chí Sình</strong>
			  nằm trong một thung lũng của xã Sà Phìn với nhiều kiến trúc độc đáo và những câu chuyện ly kỳ về Gia Tộc
			  Họ
			  Vương của vùng núi rừng Hà Giang.
			</p>
			<p>
			  <img src = "/assets/img/tours/dong bac 5n4d/6-15604818777882006530092.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Dinh Thự Vua Mèo</em>
			</p>
			<p>
			  Buổi trưa: Quý khách ăn trưa tại nhà hàng. Sau đó tham quan:
			</p>
			<p>
			  -
			  <strong> Cột Cờ Lũng Cú</strong>: Nơi địa đầu Tổ Quốc, hay còn được miêu tả là: “Nơi cúi mặt sát đất,
			  ngẩng mặt
			  đụng trời”. Quý khách thăm quan Cột cờ Tổ Quốc và chụp hình lưu niệm.
			</p>
			<p>
			  <img src = "/assets/img/tours/dong bac 5n4d/416274498_759978696149173_16221503556763382_n.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Cột Cờ Lũng Cú</em>
			</p>
			<p>
			  Quý khách tiếp tục hành trình với trải nghiệm đi thuyền trên
			  <strong>sông Nho Quế</strong>
			  , đoàn sẽ có những tấm hình check-in độc lạ với dòng sông Nho Quế và hẻm vực Tu Sản nơi đây - Tu Sản được
			  xem là
			  “đệ nhất hùng quan” với chiều cao vách đá lên tới 700–800m, chiều dài tới 1,7km, sâu 700–900m, là danh
			  thắng kỳ
			  vĩ độc nhất của vùng cao nguyên đá Đồng Văn. (chi phí tự túc)
			</p>
			<p>
			  <img src = "/assets/img/tours/dong bac 5n4d/ha-giang-12-scaled.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Dạo Thuyền Sông Nho Quế</em>
			</p>
			<p>
			  Tối: Tự túc khám phá ẩm thực
			  <strong>Phố cổ Đồng Văn</strong>. Nghỉ đêm tại Đồng Văn.
			</p>
			<p>
			  <img src = "/assets/img/tours/dong bac 5n4d/2022_06_16_23_23_013.png"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Phố Cổ Đồng Văn</em>
			</p>
			<p>
			  Song song đó, đoàn sẽ nghe HDV giới thiệu về các hoạt động buôn bán nơi đây và có dịp tự mình trải nghiệm
			  thực
			  tế.
			</p>
			<h4>NGÀY 3: ĐỒNG VĂN - ĐÈO MÃ PÌ LÈNG - SÔNG NHO QUẾ - HÀ GIANG (ĂN SÁNG, TRƯA, TỐI)</h4>
			<p>
			  Buổi sáng: Quý khách ăn sáng. Trả phòng khách sạn. Di chuyển đi tham quan:
			</p>
			<p>
			  Sau đó HDV và xe đưa quý khách đi Mèo Vạc. Trên đường Quý khách chiêm ngưỡng
			  <strong>Đèo Mã Pí Lèng</strong>
			  - Nơi được mệnh danh là ông vua của những con đèo tại Việt Nam. Mã Pì Lèng là điểm đến không thể thiếu khi
			  tham
			  quan công viên địa chất Đồng Văn, được công nhận là công viên địa chất toàn cầu vào ngày 3/10/2010. Trên
			  địa
			  bàn, dân cư chủ yếu là người Mông trắng với bản sắc văn hóa độc đáo, hầu như nguyên sơ.
			</p>
			<p>
			  <img src = "/assets/img/tours/dong bac 5n4d/1 1.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Đèo Mã Pì Lèng</em>
			</p>
			<p>
			  - Đoàn ghé quán
			  <strong>coffe Panorama</strong>. Ghé đây, bạn có thể uống cafe trong biển mây, ngắm nhìn toàn bộ quang
			  cảnh của
			  cao nguyên đá Đồng Văn hay thả mình theo dòng sông Nho Quế để cảm nhận vẻ đẹp đầy mê hoặc của thiên nhiên
			  vùng
			  cao. Check in những tấm hình thật lung linh tại đây ( Chi phí cà phê tự túc)
			</p>
			<p>
			  -
			  <strong>"Làng Văn hóa du lịch cộng đồng dân tộc Mông, thôn Pả Vi Hạ, xã Pả Vi (Mèo Vạc)</strong>
			  chứa đựng nét đặc trưng về kiến trúc nhà ở cũng như các giá trị văn hóa của đồng bào Mông. Nơi đây không
			  chỉ giữ
			  vai trò bảo tồn các giá trị văn hóa người Mông mà còn trở thành điểm nhấn du lịch trên Cao nguyên.
			</p>
			<p>
			  <img src = "/assets/img/tours/dong bac 5n4d/ivivu-lang-van-hoa-pa-vi.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Cộng Đồng Dân Tộc Mông</em>
			</p>
			<p>
			  Trưa: Đoàn dùng cơm trưa tại nhà hàng.
			</p>
			<p>
			  Sau đó tiếp tục qua dốc 14 tầng. Ghé tham quan di tích hang
			  <strong>Pắc Bó</strong>
			  nơi chủ tịch Hồ Chí Minh từng sinh sống và hoạt động cách mạng những năm đầu khi mới về nước.
			</p>
			<p>
			  <img src = "/assets/img/tours/dong bac 5n4d/ivivu-hang-pac-bo.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Hang Pác Bó</em>
			</p>
			<p>
			  Buổi tối: Đoàn dùng cơm tối tại nhà hàng. Qúy khách nhận phòng khách sạn và tự do khám phá thành phố Cao
			  Bằng về
			  đêm. Nghỉ đêm tại Cao Bằng.
			</p>
			<h4>NGÀY 4: CAO BẰNG - THÁC BẢN GIỐC (ĂN SÁNG, TRƯA, TỐI)</h4>
			<p>
			  Buổi sáng: Đoàn dùng bữa sáng, Xe đưa đoàn tham quan Thác Bản Giốc.
			</p>
			<p>
			  Dọc đường quý khách chiêm ngưỡng cảnh đẹp của núi non hùng vĩ, trùng điệp nơi núi rừng Đông Bắc.
			  <strong>Thác Bản Giốc </strong>
			  thuộc địa phận xã Đàm Thuỷ, huyện Trùng Khánh là một trong những thác nước cao, hùng vĩ nhất Việt Nam tại
			  biên
			  giới Việt - Trung - nơi mà cách xa hàng chục km cũng nghe được tiếng thác đổ.
			</p>
			<p>
			  <img src = "/assets/img/tours/dong bac 5n4d/thac-ban-gioc--678x381.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Thác Bản Giốc</em>
			</p>
			<p>
			  Đoàn thăm động
			  <strong> Ngườm Ngao.</strong>
			</p>
			<p>
			  <img src = "/assets/img/tours/dong bac 5n4d/dia-diem-du-lich-cao-bang-2_optimized.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Động Ngườm Ngao</em>
			</p>
			<p>
			  Đoàn ăn trưa tại nhà hàng địa phương và mua sắm tại vùng biên mậu.
			</p>
			<p>
			  Buổi trưa: Sau khi dùng cơm trưa quý khách khởi hành đi Lạng Sơn (180 km) theo đường Phục Hòa - Đông khê.
			</p>
			<p>
			  Về đến TP Lạng Sơn, Đoàn khởi hành tham quan
			  <strong>chùa Tam Thanh</strong>
			  , động Tam Thanh nổi tiếng, chiêm ngưỡng Hòn Vọng Phu trên núi Tô Thị nổi tiếng trong văn thơ Việt Nam.
			</p>
			<p>
			  <img src = "/assets/img/tours/dong bac 5n4d/Chua_Tam_Thanh.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Chùa Tam Thanh</em>
			</p>
			<p>
			  Buổi tối: Đoàn dùng cơm tối tại nhà hàng. Sau đó tự do đi chợ đêm Kỳ Lừa, nghỉ đêm tại Tp Lạng Sơn.
			</p>
			<h4>NGÀY 5: LẠNG SƠN - ĐỘNG TAM THANH - THẢO NGUYÊN ĐỒNG LÂM - NỘI BÀI (ĂN SÁNG, TRƯA)</h4>
			<p>
			  Buổi sáng, Đoàn dùng bữa sáng tại khách sạn.
			</p>
			<p>
			  Đoàn tham quan thảo nguyên
			  <strong>Đồng Lâm</strong>. Quý khách tha hồ chụp hình và dạo chơi trên thảo nguyên bao la với đàn ngựa
			  đang nhởn
			  nhơ gặm cỏ.
			</p>
			<p>
			  <img src = "/assets/img/tours/dong bac 5n4d/308656780_212626054421984_7727618903029029406_n.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Thảo Nguyên Đồng Lâm</em>
			</p>
			<p>
			  12h00: Dùng bữa trưa tại thảo nguyên với các món đặc sản địa phương như gà nướng, thịt nướng, xuôi nếp
			  cẩm, rau
			  củ theo mùa ….
			</p>
			<p>
			  14h00: Đoàn di chuyển về về sân bay Nội Bài đáp chuyến bay về lại Sài Gòn. Về đến sân bay Tân Sơn Nhất
			  chia tay
			  đoàn hẹn ngày gặp lại.
			</p>
			<p>
			  17h00: Đoàn dùng bữa tối nhẹ tại nhà hàng gần sân bay.( chi phí tự túc).
			</p>
			<p>
			  19h00: Xe và HDV đưa đoàn ra sân bay Nội Bài làm thủ tục cho đoàn bay về lại Tp HCM, chia tay đoàn và kết
			  thúc
			  chương trình tham quan. Kết thúc chương trình, chia tay và hẹn gặp lại quý khách
			</p>
			<p>
			  <em>Thứ tự tham quan có thể thay đổi nhưng vẫn đảm bảo đầy đủ điểm trong chương trình.</em>
			</p>
		  </div>
		</div>
		<div class = "tour-content col" id = "detail-tour-guide">
		  <div class = "tour-content-container">
			<h3>Hướng dẫn viên</h3>
			<p>
			  - Hướng Dẫn Viên (HDV) sẽ liên lạc với Quý Khách khoảng 1-2 ngày trước khi khởi hành để sắp xếp giờ đón và
			  cung
			  cấp các thông tin cần thiết cho chuyển đi.
			</p>
		  </div>
		</div>
		<div class = "tour-content col" id = "detail-term-regulations">
		  <nav>
			<div class = "nav nav-tabs" id = "nav-tab" role = "tablist">
			  <button class = "nav-link active"
					  id = "nav-tab1"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-1"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-1"
					  aria-selected = "true">Bao gồm
			  </button>
			  <button class = "nav-link"
					  id = "nav-tab2"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-2"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-2"
					  aria-selected = "false">Phát sinh
			  </button>
			  <button class = "nav-link"
					  id = "nav-tab3"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-3"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-3"
					  aria-selected = "false">Phụ thu
			  </button>
			  <button class = "nav-link"
					  id = "nav-tab4"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-4"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-4"
					  aria-selected = "false">Hủy đổi
			  </button>
			  <button class = "nav-link"
					  id = "nav-tab5"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-5"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-5"
					  aria-selected = "false">Lưu ý
			  </button>
			</div>
		  </nav>
		  <div class = "tab-content" id = "nav-tabContent">
			<div class = "tab-pane fade show active"
				 id = "nav-1"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab1"
				 tabindex = "0">
			  <div>
				<h6>Vận chuyển:</h6>
				<p>
				  - Vé máy bay khứ hồi hãng VNA hoặc VJ. Bao gồm 10kg xách tay và 23kg gửi cho hãng VNA, 07kg xách tay
				  và 20kg
				  gửi cho hãng VJ.(mỗi khách 1 kiện riêng không gộp chung)
				</p>
				<p>
				  - Xe đời mới máy lạnh đón khách theo chương trình Xe tham quan (xe 16 chỗ, 29 chỗ) tùy theo số lượng
				  khách
				  thực tế trên chuyến đi.
				</p>
				<h6>Lưu trú:</h6>
				<p>
				  - Khách sạn 2-3 Sao: 2 – 3 khách/phòng (trường hợp lẻ nam, nữ ở phòng 03).
				</p>
				<h6>Khác:</h6>
				<p>
				  - Ăn uống theo lịch trình tham quan.
				</p>
				<p>
				  - Tham quan: Lủng Cẩm, Cột Cờ Lũng Cú, Thác Bản Giốc, Động Tam Thanh.
				</p>
				<p>
				  - Hướng dẫn viên tiếng Việt: Phục vụ nhiệt tình, tận tâm, chu đáo.
				</p>
				<p>
				  - Bảo hiểm: Du lịch chọn tour, mức bồi thường tối đa 50.000.000 đ/trường hợp.
				</p>
			  </div>
			</div>
			<div class = "tab-pane fade"
				 id = "nav-2"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab2"
				 tabindex = "0">
			  <div>
				<p>
				  - Chi phí phụ phí phòng đơn.
				</p>
				<p>
				  - Bữa tối ngày 2.
				</p>
				<p>
				  - Giặt ủi, điện thoại,ăn uống ngoài chương trình …..
				</p>
				<p>
				  - Tiền típ
				</p>
				<p>
				  - Hành lý ký gửi phát sinh theo quy định của hãng hàng không.
				</p>
				<p>
				  - Các quán cà phê có trong chương trình
				</p>
				<p>
				  - Đi thuyền trên Sông Nho Quế
				</p>
				<p>
				  - Xe điện lên cột cờ Lủng Cú.
				</p>
				<p>
				  - Thuế VAT
				</p>
			  </div>
			</div>
			<div class = "tab-pane fade"
				 id = "nav-3"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab3"
				 tabindex = "0">
			  <div>
				<p>
				  - Phụ thu phòng đơn trọn tour: 1.500.000đ/khách (ngày thường), 1.800.000đ/khách (lễ tết)
				</p>
				<h6>Giá trẻ em</h6>
				<p>
				  - Dưới 2 tuổi: Trẻ em dưới 2 tuổi miễn phí giá land, phí vào tên kèm bố mẹ 500.000đ/trẻ
				</p>
				<p>
				  - Từ 2 - 5 tuổi: 100% vé máy bay. Hai người lớn chỉ được kèm một trẻ em. Từ trẻ thứ 2 ở độ tuổi từ 2
				  đến 5
				  tuổi mua 100% vé máy bay và 50% giá tour. Tiêu chuẩn nửa vé bao gồm: Suất ăn, ghế ngồi và ngủ ghép
				  chung với
				  gia đình.
				</p>
				<p>
				  - Từ 6-9 tuổi: 100% vé máy bay và 75% giá tour. Hai người lớn chỉ được kèm một trẻ em (Suất ăn, ghế
				  ngồi và
				  ngủ ghép chung với gia đình). Từ trẻ thứ 2 ở độ tuổi từ 6 đến 10 tuổi mua vé người lớn.
				</p>
				<p>
				  - 10 tuổi trở lên vé người lớn.
				</p>
			  </div>
			</div>
			<div class = "tab-pane fade"
				 id = "nav-4"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab4"
				 tabindex = "0">
			  <div>
				<h6>Chính sách hủy:</h6>
				<p>
				  - Sau khi xác nhận và thanh toán (ít nhất 50% tiền cọc giữ chỗ và thanh toán đủ 100% tổng giá trị tiền
				  tour
				  trước 10 ngày khởi hành).
				</p>
				<p>
				  - Khi đến ngày thanh toán đủ 100% tổng giá trị tiền tour, nếu Quý khách không thanh toán đúng hạn và
				  đúng số
				  tiền được xem như Quý khách tự ý huỷ tour và mất hết số tiền đã đặt cọc giữ chỗ.
				</p>
				<p>
				  - Hủy tour sau khi đăng ký phí phạt 50% tiền cọc.
				</p>
				<p>
				  - Hủy tour trước 15 ngày khởi hành phí phạt = 70% tổng giá tour chương trình. (Tính theo ngày làm
				  việc)
				</p>
				<p>
				  - Hủy tour trước ngày khởi hành 10 Ngày: 90% giá tour.
				</p>
				<p>
				  - Sau thời gian trên phí phạt = 100% tổng giá trị chương trình. (Tính theo ngày làm việc)
				</p>
				<p>
				  - Việc huỷ bỏ chuyến đi phải được thông báo trực tiếp với Công ty hoặc qua fax, email, tin nhắn và
				  phải được
				  Công ty xác nhận. Việc huỷ bỏ bằng điện thoại không được chấp nhận.
				</p>
				<p>
				  - Lễ, Tết không hoàn không hủy, mất phí 100%
				</p>
				<p>
				  - Trong những trường hợp bất khả kháng như: khủng bố, bạo động, thiên tai, lũ lụt, dịch bệnh… Tuỳ theo
				  tình
				  hình thực tế và sự thuận tiện, an toàn của khách hàng, công ty sẽ chủ động thông báo cho khách hàng sự
				  thay
				  đổi như sau: huỷ hoặc thay thế bằng một chương trình mới với chi phí tương đương chương trình tham
				  quan
				  trước đó. Trong trường hợp chương trình mới có phát sinh thì Khách hàng sẽ thanh toán khoản phát sinh
				  này.
				  Tuy nhiên, mỗi bên có trách nhiệm cố gắng tối đa, giúp đỡ bên bị thiệt hại nhằm giảm thiểu các tổn
				  thất gây
				  ra vì lý do bất khả kháng.…
				</p>
				<p>
				  - Đối với sự thay đổi lịch trình, giờ bay do lỗi của hãng hàng không, tàu hoả, tàu thuỷ, công ty sẽ
				  không
				  chịu trách nhiệm bất kỳ phát sinh nào do lỗi trên như: phát sinh bữa ăn, nhà hàng, khách sạn, phương
				  tiện di
				  chuyển, hướng dẫn viên, …
				</p>
				<h6>Chính sách đổi:</h6>
				<p>
				  Do tính chất là đoàn ghép khách lẻ, công ty sẽ có trách nhiệm nhận khách đăng ký cho đủ đoàn (trên 10
				  người
				  lớn) thì đoàn sẽ khởi hành đúng lịch trình. Nếu số lượng đoàn dưới 10 khách, công ty có trách nhiệm
				  thông
				  báo cho khách trước ngày khởi hành 3 ngày và sẽ thỏa thuận lại ngày khởi hành mới hoặc hoàn trả toàn
				  bộ số
				  tiền đã đặt cọc tour.
				</p>
			  </div>
			</div>
			<div class = "tab-pane fade"
				 id = "nav-5"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab5"
				 tabindex = "0">
			  <div>
				<p>
				  - Thứ tự các điểm tham quan trong chương trình có thể thay đổi cho phù hợp với tình hình thực tế.
				  Nhưng
				  không hủy bỏ hoặc thay đổi mà không có sự thỏa thuận với đoàn.
				</p>
				<p>
				  - Khách trên 14 tuổi bắt buộc mang theo Chứng minh nhân dân không quá 15 năm kể từ ngày cấp, hoặc giấy
				  phép
				  lái xe rõ hình rõ chữ hoặc passport còn hạn trên 6 tháng đối với người Việt Nam. Đối với người nước
				  ngoài
				  mang theo passport còn hạn trên 6 tháng.
				</p>
				<p>
				  - Khách dưới 14 tuổi bắt buộc mang theo Giấy khai sanh bản chính hoặc sao y bản chính cho trẻ em chưa
				  có
				  giấy chứng minh nhân dân hoặc passport.
				</p>
				<p>
				  - Đặc biệt, khách trên 14 tuổi nhưng chưa có Chứng minh nhân dân thì sẽ làm giấy xác nhận nhân thân có
				  chứng
				  nhận của Uỷ Ban Phường để được làm thủ tục bay.
				</p>
				<p>
				  - Do tính chất là đoàn ghép khách lẻ, công ty sẽ có trách nhiệm nhận khách đăng ký cho đủ đoàn ( trên
				  10
				  người) thì đoàn sẽ khởi hành đúng lịch trình. Nếu số lượng đoàn dưới 10 khách,công ty có trách nhiệm
				  thông
				  báo cho khách trước ngày khởi hành 3 ngày và sẽ thỏa thuận lại ngày khởi hành mới hoặc hoàn trả toàn
				  bộ số
				  tiền đã đặt cọc tour
				</p>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  <div class = "col-lg-4 d-none d-lg-block ">
		<div class = "sidebar-form container">
		  <div class = "row">
			<div class = "title col">
			  Giá Tour
			</div>
			<div class = "adult border row">
			  <div class = "text col">
				<div class = "col">
				  Người lớn
				</div>
				<div class = "sub col">
				  > 8 tuổi
				</div>
			  </div>
			  <div class = "price col" id = "adult-price">
				8.690.000
			  </div>
			  <div class = "btn-group col">
				<button type = "button" class = "btn" id = "adult-minus">
				  <i class = "fa fa-minus"></i>
				</button>
				<span id = "number-adult">1</span>
				<button type = "button" class = "btn" id = "adult-plus">
				  <i class = "fa fa-plus"></i>
				</button>
			  </div>
			</div>
			<div class = "child border row">
			  <div class = "text col">
				<div class = "col">
				  Trẻ em
				</div>
				<div class = "sub col">
				  5 - 8 tuổi
				</div>
			  </div>
			  <div class = "price col" id = "child-price">

			  </div>
			  <div class = "btn-group col">
				<button type = "button" class = "btn" id="child-minus">
				  <i class = "fa fa-minus"></i>
				</button>
				<span id = "number-child">0</span>
				<button type = "button" class = "btn" id="child-plus">
				  <i class = "fa fa-plus"></i>
				</button>
			  </div>
			</div>
			<div class = "infant border row">
			  <div class = "text col">
				<div class = "col">
				  Trẻ nhỏ
				</div>
				<div class = "sub col">
				  < 5 tuổi
				</div>
			  </div>
			  <div class = "price col" id = "infant-price">

			  </div>
			  <div class = "btn-group col">
				<button type = "button" class = "btn" id="infant-minus">
				  <i class = "fa fa-minus"></i>
				</button>
				<span id = "number-infant">0</span>
				<button type = "button" class = "btn" id="infant-plus">
				  <i class = "fa fa-plus"></i>
				</button>
			  </div>
			</div>
			<div class = "contact-msg col-12">
			  <i class = "fa fa-info-circle"></i>
			  <span>
				  Liên hệ để xác nhận chỗ
				</span>
			</div>
			<div class = "total-text col-6">
			  Tổng Giá Tour
			</div>
			<div class = "total-num col-6">
				  <span class = "price" id = "total-price">
				  6.180.000
				  </span>
			  <span class = "currency">
					VND
				  </span>
			</div>
			<div class = "contact col-6">
			  <!-- Button trigger modal -->
			  <button type = "button"
					  class = "btn modal-btn"
					  data-bs-toggle = "modal"
					  data-bs-target = "#contactModal">
				Liên hệ tư vấn
			  </button>

			  <!-- Modal -->
			  <div class = "modal fade"
				   id = "contactModal"
				   tabindex = "-1"
				   aria-labelledby = "contactModalLabel"
				   aria-hidden = "true">
				<div class = "modal-dialog">
				  <div class = "modal-content">
					<div class = "modal-header">
					  <h1 class = "modal-title" id = "contactModalLabel">Yêu cầu tư vấn</h1>

					</div>
					<div class = "modal-body">
					  <div class = "mb-3">
						<label for = "contactFormControlTextarea1" class = "form-label">Họ & Tên </label>
						<input class = "form-control" id = "contactFormControlTextarea1"></input>
					  </div>
					  <div class = "mb-3">
						<label for = "contactFormControlTextarea2" class = "form-label">Điện thoại </label>
						<input class = "form-control" id = "contactFormControlTextarea2"></input>
					  </div>
					  <div class = "mb-3">
						<label for = "checkoutFormControlInput1" class = "form-label">Email (nếu có)</label>
						<input type = "email" class = "form-control" id = "exampleFormControlInput1">
					  </div>
					  <div class = "mb-3">
						<label for = "contactFormControlTextarea3" class = "form-label">Yêu cầu khác</label>
						<textarea class = "form-control" id = "contactFormControlTextarea3" rows = "3"></textarea>
					  </div>
					</div>
					<div class = "modal-footer">
					  <button type = "button" class = "btn" data-bs-dismiss = "modal">Gửi yêu cầu</button>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class = "checkout col-6">
			  <!-- Button trigger modal -->
			  <button type = "button"
					  class = "btn modal-btn"
					  data-bs-toggle = "modal"
					  data-bs-target = "#checkoutModal">
				Đặt Tour ngay
			  </button>

			  <!-- Modal -->
			  <div class = "modal fade"
				   id = "checkoutModal"
				   tabindex = "-1"
				   aria-labelledby = "checkoutModalLabel"
				   aria-hidden = "true">
				<div class = "modal-dialog">
				  <div class = "modal-content">
					<div class = "modal-header">
					  <h1 class = "modal-title fs-5" id = "checkoutModalLabel">Yêu cầu đặt</h1>
					  <button type = "button"
							  class = "btn-close"
							  data-bs-dismiss = "modal"
							  aria-label = "Close"></button>
					</div>
					<div class = "modal-body">
					  <div class = "modal-body">
						<div class = "mb-3">
						  <label for = "checkoutFormControlTextarea1" class = "form-label">Họ & Tên </label>
						  <input class = "form-control" id = "checkoutFormControlTextarea1"></input>
						</div>
						<div class = "mb-3">
						  <label for = "checkoutFormControlTextarea2" class = "form-label">Điện thoại </label>
						  <input class = "form-control" id = "checkoutFormControlTextarea2"></input>
						</div>
						<div class = "mb-3">
						  <label for = "checkoutFormControlInput1" class = "form-label">Email (nếu có)</label>
						  <input type = "email" class = "form-control" id = "checkoutFormControlInput1">
						</div>
						<div class = "mb-3">
						  <label for = "checkoutFormControlTextarea2" class = "form-label">Yêu cầu khác</label>
						  <textarea class = "form-control" id = "checkoutFormControlTextarea3" rows = "3"></textarea>
						</div>
					  </div>
					</div>
					<div class = "modal-footer">
					  <button type = "button" class = "btn" data-bs-dismiss = "modal">Gửi yêu cầu</button>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<div class = "sidebar-service container">
		  <div class = " row">
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Bảo hiểm
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Bữa ăn
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Hướng dẫn viên
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Khách sạn 3*
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Vé tham quan
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Xe đưa đón
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class = "order container d-lg-none">
	  <div class = "row">
		<div class = "text col-6">
		  <div>Giá chỉ từ</div>
		  <span class = "price">
		  3.090.000
		</span>
		  <span class = "currency">
		  VND/khách
		</span>
		</div>
		<div class = "checkout col-6 d-grid mx-auto my-auto">
		  <a href = "#" class = "d-grid my-auto">
			<button class = "btn" type = "button">
			  Lịch khởi hành
			  <i class = "fa fa-chevron-right"></i>
			</button>
		  </a>
		</div>
	  </div>
	</div>
  </div>
</div>
<!--End content-->

<!--Begin footer-->
<footer class = "main-footer">
  <div class = "wrap">
	<div class = "container">
	  <div class = "row">
		<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
		  <div class = "col-xs-12 no-padding">
			<div class = "row">
			  <div class = "footer-left col-12 order-last col-lg-8 order-lg-first">
				<div class = "row">
				  <div class = "col-3">
					<div class = "item d-block d-md-flex">
					  <img src = "/assets/img/ico-wta-winner-shield-2021.png" class = "img-fluid" alt = "">
					  <h3>Đại lý Du lịch Trực tuyến Hàng đầu Việt Nam</h3>
					</div>
				  </div>
				  <div class = "col-3">
					<div class = "item d-block d-md-flex">
					  <img src = "/assets/img/ico-hra.png" alt = "">
					  <h3>Best Companies to Work for in Asia</h3>
					</div>
				  </div>
				  <div class = "col-3">
					<div class = "item d-block d-md-flex">
					  <img src = "/assets/img/ico-apea.png" alt = "">
					  <h3>APEA Inspirational Brand Award</h3>
					</div>
				  </div>
				</div>
				<section class = "social d-sm-none">
				  <h5>Kết nối với Cholontourist</h5>
				  <div>
					<i class = "fab fa-facebook-square"></i>
					<i class = "fab fa-instagram"></i>
					<i class = "fab fa-youtube"></i>
				  </div>
				</section>
				<div class = "row">
				  <div class = "col ms-auto d-none d-md-block">
					<div class = "item">
					  <i class = "fa fa-map-marker-alt"></i>
					  <h3>HN:</h3>
					  <h3>207 Giải Phóng, Đồng Tâm, Hai Bà Trưng, Hà Nội</h3>
					</div>
				  </div>
				</div>
			  </div>
			  <div class = "footer-right col-12 order-first col-lg-4 order-lg-last ms-auto">
				<section class = "support">
				  Bạn cần trợ giúp?
				  <b>Hãy gọi ngay</b>
				</section>
				<section class = "contact">
				  <i class = "fa fa-phone"></i>
				  <b>CSKH:</b>
				  <h5>(0912) 888 888</h5>
				</section>
				<section class = "time">
				  <i class = "fa fa-clock"></i>
				  <h6>Từ 7h30 - 21h hằng ngày</h6>
				</section>
				<section class = "social d-none d-sm-block">
				  <h5>Kết nối với Cholontourist</h5>
				  <div>
					<i class = "fab fa-facebook-square"></i>
					<i class = "fab fa-instagram"></i>
					<i class = "fab fa-youtube"></i>
				  </div>
				</section>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</footer>
<!--End footer-->

<script>
    const adultPrice = 8690000
    const childPrice = 8690000
    const infantPrice = 4345000

    var totalAdultPrice = 0
    var totalChildPrice = 0
    var totalInfantPrice = 0
    var total = adultPrice

    var adultPlus = document.getElementById('adult-plus')
    var childPlus = document.getElementById('child-plus')
    var infantPlus = document.getElementById('infant-plus')

    var adultMinus = document.getElementById('adult-minus')
    var childMinus = document.getElementById('child-minus')
    var infantMinus = document.getElementById('infant-minus')

    var adultNum = 1
    var childNum = 0
    var infantNum = 0

    function formatString(x) {
        return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ".");
    }

    adultPlus.addEventListener('click', function () {
        adultNum = adultNum + 1
        totalAdultPrice = adultNum * adultPrice
        total = totalAdultPrice + totalChildPrice + totalInfantPrice
        document.getElementById('adult-price').innerHTML = formatString(totalAdultPrice)
        document.getElementById('number-adult').innerHTML = adultNum
        document.getElementById('total-price').innerHTML = formatString(total)
    })

    adultMinus.addEventListener('click', function () {
        if (adultNum > 1) {
            adultNum = adultNum - 1
            totalAdultPrice = adultNum * adultPrice
            total = totalAdultPrice + totalChildPrice + totalInfantPrice
            document.getElementById('adult-price').innerHTML = formatString(totalAdultPrice)
            document.getElementById('number-adult').innerHTML = adultNum
            document.getElementById('total-price').innerHTML = formatString(total)
        }
    })

    childPlus.addEventListener('click', function () {
        childNum = childNum + 1
        totalChildPrice = childNum * childPrice
        total = totalAdultPrice + totalChildPrice + totalInfantPrice
        document.getElementById('child-price').innerHTML = formatString(totalChildPrice)
        document.getElementById('number-child').innerHTML = childNum
        document.getElementById('total-price').innerHTML = formatString(total)
    })

    childMinus.addEventListener('click', function () {
        if (childNum > 0) {
            childNum = childNum - 1
            totalChildPrice = childNum * childPrice
            total = totalAdultPrice + totalChildPrice + totalInfantPrice
            document.getElementById('child-price').innerHTML = formatString(totalChildPrice)
            document.getElementById('number-child').innerHTML = childNum
            document.getElementById('total-price').innerHTML = formatString(total)
        }
    })

    infantPlus.addEventListener('click', function () {
        infantNum = infantNum + 1
        totalInfantPrice = infantNum * infantPrice
        total = totalAdultPrice + totalChildPrice + totalInfantPrice
        document.getElementById('infant-price').innerHTML = formatString(totalInfantPrice)
        document.getElementById('number-infant').innerHTML = infantNum
        document.getElementById('total-price').innerHTML = formatString(total)
    })

    infantMinus.addEventListener('click', function () {
        if (infantNum > 0) {
            infantNum = infantNum - 1
            totalInfantPrice = infantNum * infantPrice
            total = totalAdultPrice + totalChildPrice + totalInfantPrice
            document.getElementById('infant-price').innerHTML = formatString(totalInfantPrice)
            document.getElementById('number-infant').innerHTML = infantNum
            document.getElementById('total-price').innerHTML = formatString(total)
        }
    })
</script>

</body>
</html>