<!doctype html>
<html lang = "en">
<head>
  <meta charset = "UTF-8">
  <meta name = "viewport"
		content = "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
  <link rel = "stylesheet" href = "/assets/css/tour-cao-bang-3n2d.css">
  <link rel = "stylesheet"
		href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
		integrity = "sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
		crossorigin = "anonymous"
		referrerpolicy = "no-referrer"/>
  <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
		rel = "stylesheet"
		integrity = "sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
		crossorigin = "anonymous">
  <script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		  integrity = "sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		  crossorigin = "anonymous"></script>
  <title>Tour Cao Bằng 3N2Đ: Hồ Ba Bể - Pắc Ngòi - Thác Bản Giốc - Suối Lê Nin</title>
</head>
<body>
<!--Begin header-->
<header class = "main-header">
  <nav class = "navbar navbar-expand-md">
	<div class = "container-fluid">
	  <a class = "navbar-brand" href = "#">
		<img src = "/assets/img/logo_cholon_resized_height_80.png" alt = "">
	  </a>
	  <button class = "navbar-toggler"
			  type = "button"
			  data-bs-toggle = "collapse"
			  data-bs-target = "#navbarSupportedContent"
			  aria-controls = "navbarSupportedContent"
			  aria-expanded = "false"
			  aria-label = "Toggle navigation">
		<span class = "fa fa-bars"></span>
	  </button>
	  <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
		<ul class = "navbar-nav me-auto mb-2 mb-lg-0">
		  <li class = "nav-item">
			<a class = "nav-link" href = "#">Khách sạn</a>
		  </li>
		  <li class = "nav-item">
			<a class = "nav-link activated" href = "#">Tours</a>
		  </li>
		  <li class = "nav-item">
			<a class = "nav-link" href = "#">Vé xe khách</a>
		  </li>
		  <li class = "nav-item">
			<a class = "nav-link" href = "#">Vé vui chơi</a>
		  </li>
		  <li class = "nav-item">
			<a class = "nav-link" href = "#">Bespoke</a>
		  </li>
		</ul>
	  </div>
	</div>
  </nav>
  <div class = "contact-md d-none d-md-block d-lg-none">
	<i class = "fa fa-user"></i>
  </div>
  <div class = "user-login d-none d-lg-flex">
	<i class = "fa fa-user-circle"></i>
	<span class = "username-header">Tài khoản</span>
  </div>
  <div class = "contact d-none d-lg-block">
	<div class = "hotline">
	  <i class = "fa fa-phone"></i>
	  (0912) 888 888
	</div>
	<div class = "location">
	  7h30 → 21h
	  <i class = "fa fa-map-marker"></i>
	  Hà Nội
	</div>
  </div>
</header>
<!--End header-->

<!--Begin content-->
<div class = "wrap">
  <div class = "content container">
	<nav aria-label = "breadcrumb">
	  <ol class = "breadcrumb">
		<a href = "#">
		  <i class = "fa fa-home"></i>
		</a>
		<li class = "breadcrumb-item">
		  <a href = "#">Trang chủ</a>
		</li>
		<li class = "breadcrumb-item active" aria-current = "page">Tour Cao Bằng 3N2Đ: Hồ Ba Bể - Pắc Ngòi - Thác Bản
		  Giốc
		  - Suối Lê Nin
		</li>
	  </ol>
	</nav>
	<h1 class = "tour-name">Tour Cao Bằng 3N2Đ: Hồ Ba Bể - Pắc Ngòi - Thác Bản Giốc - Suối Lê Nin</h1>
	<div class = "row d-flex">
	  <div class = "col-12 col-lg-8">
		<div class = "row">
		  <img src = "/assets/img/tours/cao bang 3n2d/ivivu-ban-gioc-750x390.jpg" class = "img-fluid mx-auto" alt = "">
		</div>
		<div class = "tour-info container">
		  <div class = "col mx-auto">
			<ul class = "list-group list-group-horizontal">
			  <li>
				<i class = "fa fa-map-marker-alt"></i>
				Hà Nội
			  </li>
			  <li>
				<i class = "fa fa-clock"></i>
				3 Ngày 2 Đêm
			  </li>
			  <li>
				Phương tiện:
				<i class = "fa fa-car-alt"></i>
				<i class = "fa fa-ship"></i>
			  </li>
			</ul>
		  </div>
		</div>
		<div class = "tour-content col" id = "detail-overview">
		  <div class = "tour-content-container">
			<h3>
			  Tour Cao Bằng 3N2Đ: Hồ Ba Bể - Pắc Ngòi - Thác Bản Giốc - Suối Lê Nin
			</h3>
			<p>Hành trình 3 ngày 2 đêm đến Cao Bằng bao gồm thăm Hồ Ba Bể, khám phá làng Pắc Ngòi, chiêm ngưỡng Thác Bản
			  Giốc,
			  và tắm tại Suối Lê Nin. Mỗi điểm đến đều mang đặc trưng riêng, từ vẻ đẹp tự nhiên kỳ vĩ đến nét văn hóa
			  đặc sắc
			  của cộng đồng dân tộc tại đây​​. Cùng Chợ lớn tourist khám phá ngay hôm nay!</p>
		  </div>
		</div>
		<div class = "tour-content col" id = "detail-schedule">
		  <div class = "tour-content-container">
			<h3>
			  Chương trình tour
			</h3>
			<h4>NGÀY 01: HÀ NỘI – SÔNG NĂNG - HỒ BA BỂ (Ăn Trưa, Tối)</h4>
			<p>
			  6h00: Xe và hướng dẫn viên đón khách tại
			  <strong>Nhà Hát Lớn Hà Nội.</strong>
			  Xe khởi hành đi
			  <strong>Bắc Kạn.</strong>
			  Đoàn dừng chân ăn sáng trên đường đi (chi phí tự túc), trên xe tham gia các trò chơi vui nhộn do hướng dẫn
			  viên
			  tổ chức.
			</p>
			<p>
			  12h: Đoàn dừng chân dùng bữa trưa tại nhà hàng thị trấn
			  <strong> Chợ Rã</strong>. Sau bữa trưa đoàn tiếp tục hành trình đi
			  <strong>Ba Bể</strong>
			</p>
			<p>
			  14h00: Đoàn dừng chân ở
			  <strong>bến thuyền Ba Bể</strong>
			  để lên thuyền máy xuôi dòng sông Năng vào hồ (quý khách mang theo toàn bộ hành lí và tư trang cá nhân lên
			  thuyền).
			</p>
			<p>
			  <img src = "/assets/img/tours/cao bang 3n2d/hoa_ba_be_4.jpeg.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Hồ Ba Bể</em>
			</p>
			<p>
			  14h30: Quý khách cùng tìm hiểu về đời sống thường nhật của dân tộc Tày, ngắm nhìn những cánh rừng nguyên
			  sinh
			  với nhiều cây gỗ quý và động vật hoang dã sinh sống 2 bên bờ Hồ.
			</p>
			<p>
			  Tiếp tục hành trình quý khách sẽ ngồi trên chiếc thuyền nhỏ, Quý khách vừa thư giãn ngắm cảnh hồ vừa tìm
			  cho
			  mình những góc chụp hình ưng ý. Trên Hồ, thuyền sẽ ghé lại các điểm tham quan nổi tiếng như đền An Mã, Ao
			  Tiên,
			  đảo Bà Góa,……
			</p>
			<p>
			  -
			  <strong>Ao tiên</strong>
			  : Ao Tiên nằm ở góc hồ ba của hồ Ba Bể, là một hồ nước nhỏ nằm lọt giữa một ngọn núi nhô cao trên mặt hồ.
			  Tương
			  truyền là nơi xưa kia các vị thần tiên thường ngồi chơi cờ ở đây.
			</p>
			<p>
			  <img src = "/assets/img/tours/cao bang 3n2d/hinh-anh-bac-kan-1.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Ao Tiên</em>
			</p>
			<p>
			  -
			  <strong>Đền An Mạ</strong>: Đền nằm trên một ngọn núi nhỏ giữa lòng hồ. Tương truyền, trong chiến tranh
			  phong
			  kiến thời Lê - Mạc, các
			  tướng nhà Mạc đã thất trận, chạy đến Động Puông rồi tuẫn tiết tại đó. Cảm kích tinh thần trung liệt, người
			  dân
			  đã dựng đền thờ họ Mạc, song lo bị quan quân nhà Lê phát hiện dẹp bỏ nên đã đổi tên thành Đền An Mạ. Hai
			  từ “An
			  Mạ” theo tiếng dân tộc Tày có nghĩa là “mồ yên mả đẹp”, nơi yên nghỉ của các trung thần họ Mạc.
			</p>
			<p>
			  <img src = "/assets/img/tours/cao bang 3n2d/den_an_ma.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Đền An Mạ</em>
			</p>
			<p>
			  -
			  <strong>Đảo Bà Góa</strong>: một hòn đảo nhỏ xinh xắn nằm ngay vị trí trung tâm của Hồ, gắn liền với sự
			  tích
			  hình thành của Hồ. Thuyền đi chậm một vòng quanh đảo để Quý khách chụp hình.
			</p>
			<p>
			  <img src = "/assets/img/tours/cao bang 3n2d/ivivu-ao-tien-cao-bang-2.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Đảo Bà Góa</em>
			</p>
			<p>
			  17h00: Thuyền dừng ở bến thuyền Pắc Ngòi. Quý khách xuống thuyền và di chuyển vào trong bản.
			</p>
			<p>
			  <img src = "/assets/img/tours/cao bang 3n2d/DLHBB tin 1_1.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Bản Pắc Ngòi</em>
			</p>
			<p>
			  Đoàn nhận phòng homestay nghỉ ngơi.
			</p>
			<p>
			  19h00: Quý khách dùng bữa tối tại home stay với những món ăn độc đáo được chế biến theo phong cách truyền
			  thống
			  của người dân tộc Tày. Nghỉ đêm tại home stay Pắc Ngòi - Ba Bể.
			</p>
			<p>
			  20h00: Quý khách có thể yêu cầu thêm chương trình giao lưu văn nghệ, biểu diễn Hát Then và nhảy sạp của
			  người
			  Tày với các câu hát, điệu múa lạ độc đáo của vùng sông nước trữ tình này (chi phí tự túc). Nghỉ đêm tại Ba
			  Bể.
			</p>
			<h4>NGÀY 02: CAO BẰNG – THÁC BẢN GIỐC - ĐỘNG NGƯỜM NGAO (Ăn Sáng, Trưa, Tối)</h4>
			<p>
			  Sáng: Sau bữa sáng, Xe và HDV đưa Quý khách khởi hành đi Trùng Khánh thăm thác Bản Giốc.
			</p>
			<p>
			  12h00: Đến Bản Giốc quý khách dùng bữa trưa tại nhà hàng với những món ăn đặc sắc của vùng miền, sau bữa
			  trưa
			  quý khách tiếp tục hành trình tham quan
			  <strong>thác Bản Giốc</strong>
			  có độ cao 53m, chia làm 3 tầng được coi là thác đẹp nhất Việt Nam và là thác lớn nhất Đông Nam Á. Thác
			  cũng là
			  nơi giáp ranh với nước bạn Trung Hoa với cột mốc chủ quyền thiêng liêng của Tổ Quốc.
			</p>
			<p>
			  <img src = "/assets/img/tours/cao bang 3n2d/ivivu-tour-mien-bac-4n3d-ho-ba-be-thac-ban-gioc-hang-pac-po-thac-ban-gioc.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Thác Bản Giốc</em>
			</p>
			<p>
			  Tiếp tục hành trình, Quý khách thăm
			  <strong>Động Ngườm Ngao</strong>
			  – một trong những động dài và đẹp nhất Việt Nam với nhiều truyền thuyết phong phú của dân tộc Tày, thăm
			  động
			  Ngườm Ngao với vô vàn những măng đá, nhũ đá đẹp mắt. Động nằm ở bản Gun, xã Đàm Thuỷ, huyện Trùng Khánh,
			  tỉnh
			  Cao Bằng, tọa lạc trong lòng một quả núi, cách thác Bản Giốc 5 km. Theo khảo sát của Hiệp hội Hang động
			  Hoàng
			  gia Anh năm 1995, hang động này có tổng chiều dài 2144 mét, có 3 cửa chính: Ngườm Ngao, Ngườm Lồm và Bản
			  Thuôn
			</p>
			<p>
			  <img src = "/assets/img/tours/cao bang 3n2d/dia-diem-du-lich-cao-bang-2_optimized.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Động Ngườm Ngao</em>
			</p>
			<p>
			  17h00: Xe đưa quý khách về Cao Bằng nhận phòng khách sạn.
			</p>
			<p>
			  19h30: Quý khách dùng bữa tối tại nhà hàng, tự do dạo chơi thưởng thức hạt dẻ, bánh trôi tàu, khám phá Tp.
			  Cao
			  Bằng về đêm. Nghỉ đêm tại khách sạn.
			</p>
			<h4>NGÀY 03: CAO BẰNG – SUỐI LÊ NIN – PĂC BÓ - HÀ NỘI (Ăn Sáng, Trưa)</h4>
			<p>
			  06h30: Đoàn thức giấc, làm thủ tục trả phòng khách sạn.
			</p>
			<p>
			  Sau đó xe và hướng dẫn viên đón đoàn đi ăn sáng. Sau khi ăn sáng xong đoàn xuất phát đi tham quan
			  <strong>suối Lê Nin</strong>
			  , hang Pắc Bó. Tại đây Quý khách vào thăm nơi ở và hoạt động của Chủ tịch Hồ Chí Minh trong những năm
			  kháng
			  chiến từ 1941 đến 1945, đoàn chụp hình lưu niệm tại Suối Lê Nin - Núi Các Mác, thăm hang Cốc Bó và chụp
			  hình lưu
			  niệm tại Cột mốc số 0 đường Hồ Chí Minh.
			</p>
			<p>
			  " Bác chọn hang Cốc Bó từ hang có con đường dẫn sang bên kia biên giới và phía dưới chân núi có một con
			  suối
			  chảy ngang...
			</p>
			<p>
			  Nhìn dòng suối, Bác nói với mọi người: “Mình vừa nẩy ra cái ý hay, dòng suối này của ta đẹp quá, trong
			  xanh như
			  ngọc, lại bắt nguồn từ đây, nên đặt tên là suối Lê Nin. Còn ngọn núi hùng vĩ phía sau, bên phải kia, chúng
			  ta
			  gọi là núi Các Mác...”.
			</p>
			<p>
			  <img src = "/assets/img/tours/cao bang 3n2d/unnamed.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Suối Lê Nin</em>
			</p>
			<p>
			  Trên đường trở ra thành phố Cao Bằng, nếu còn thời gian, xe ô tô sẽ dừng lại để Quý khách vào thăm Khu di
			  tích
			  <strong>mộ Kim Đồng</strong>, tìm hiểu câu chuyện về cậu bé thiếu niên anh hùng Nông Văn Dền (tức anh Kim
			  Đồng).
			</p>
			<p>
			  <img src = "/assets/img/tours/cao bang 3n2d/caobang9.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Mộ Kim Đồng</em>
			</p>
			<p>
			  12h00: Quý khách dùng bữa trưa tại nhà hàng ở Cao Bằng.
			</p>
			<p>
			  13h30: Đoàn lên xe trở về Hà Nội
			</p>
			<p>
			  19:45 Về đến Hà Nội kết thúc chương trình TOUR HÀ NỘI – HỒ BA BỂ - CAO BẰNG – HÀ NỘI.
			</p>
			<p>
			  <em>Thứ tự tham quan có thể thay đổi nhưng vẫn đảm bảo đầy đủ điểm trong chương trình.</em>
			</p>
		  </div>
		</div>
		<div class = "tour-content col" id = "detail-tour-guide">
		  <div class = "tour-content-container">
			<h3>Hướng dẫn viên</h3>
			<p>
			  Hướng Dẫn Viên (HDV) sẽ liên lạc với Quý Khách khoảng 2-3 ngày trước khi khởi hành để sắp xếp giờ đón và
			  cung
			  cấp các thông tin cần thiết cho chuyển đi.
			</p>
		  </div>
		</div>
		<div class = "tour-content col" id = "detail-term-regulations">
		  <nav>
			<div class = "nav nav-tabs" id = "nav-tab" role = "tablist">
			  <button class = "nav-link active"
					  id = "nav-tab1"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-1"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-1"
					  aria-selected = "true">Bao gồm
			  </button>
			  <button class = "nav-link"
					  id = "nav-tab2"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-2"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-2"
					  aria-selected = "false">Phát sinh
			  </button>
			  <button class = "nav-link"
					  id = "nav-tab3"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-3"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-3"
					  aria-selected = "false">Phụ thu
			  </button>
			  <button class = "nav-link"
					  id = "nav-tab4"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-4"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-4"
					  aria-selected = "false">Hủy đổi
			  </button>
			  <button class = "nav-link"
					  id = "nav-tab5"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-5"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-5"
					  aria-selected = "false">Lưu ý
			  </button>
			</div>
		  </nav>
		  <div class = "tab-content" id = "nav-tabContent">
			<div class = "tab-pane fade show active"
				 id = "nav-1"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab1"
				 tabindex = "0">
			  <div>
				<h6>Vận chuyển:</h6>
				<p>
				  - Xe ô tô du lịch đời mới, máy lạnh, chuyên cung núi phục vụ đoàn suốt hành trình.
				</p>
				<h6>Lưu trú: 02 đêm ngủ theo tiêu chuẩn đăng ký</h6>
				<p>
				  - Lưu trú 1 đêm tại Khách sạn Cao Bằng 2 sao: Thanh Loan, Bằng Việt…02 người/phòng (lẻ ghép ngủ 3)
				</p>
				<p>
				  - Ngủ 1 đêm tại Homestay truyền thống tại Ba Bể: ngủ tại các buồng riêng tư (2-4 khách/phòng), sử dụng
				  các
				  nhà vệ sinh chung, đầy đủ tiện nghi, sạch sẽ.
				</p>
				<p>
				  (Quý khách có thể nâng hạng ở phòng riêng khép kín, có điều hoà tại khu sinh thái Ba Bể , phụ thu
				  100.000đ/khách)
				</p>
				<h6>Khác:</h6>
				<p>
				  - 05 bữa ăn chính theo chương trình, mức ăn tiêu chuẩn 130.000đ/suất
				</p>
				<p>
				  - 02 bữa sáng theo tiêu chuẩn của khách sạn hoặc mức ăn 35.000đ/suất tại nhà hàng
				</p>
				<p>
				  - Vé tham quan các điểm có trong chương trình.
				</p>
				<p>
				  - Thuyền tham quan Hồ Ba Bể
				</p>
				<p>
				  - Nước uống phục vụ trên xe, mỗi ngày 01 chai 500ml
				</p>
				<p>
				  - Bảo hiểm Du lịch: Mức đền bù tối đa 30 triệu/người
				</p>
			  </div>
			</div>
			<div class = "tab-pane fade"
				 id = "nav-2"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab2"
				 tabindex = "0">
			  <div>
				<p>
				  - Tiền tip lái xe, HDV (nếu quý khách cảm thấy hài lòng) – không bắt buộc
				</p>
				<p>
				  - Thuế VAT
				</p>
				<p>
				  - Chi phí cá nhân (giặt là, quà tặng…)
				</p>
			  </div>
			</div>
			<div class = "tab-pane fade"
				 id = "nav-3"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab3"
				 tabindex = "0">
			  <div>
				<p>
				  - Phụ thu phòng đơn 450.000 vnđ/ khách/2 đêm (Áp dụng trong trường hợp khách đi 1 mình, hoặc muốn ở 1
				  mình 1
				  phòng trong suốt hành trình)
				</p>
				<h6>Giá trẻ em</h6>
				<p>
				  - Trẻ em từ 9 tuổi trở lên tính 100% giá tour
				</p>
				<p>
				  - Trẻ em từ 05 – 9 tuổi tính 75% giá tour.
				</p>
				<p>
				  - Trẻ em dưới 04 tuổi miễn phí giá tour ngủ ghép cùng bố mẹ, các chi phí ăn uống, vé tham quan gia
				  đình tự
				  thanh toán nếu có phát sinh.
				</p>
			  </div>
			</div>
			<div class = "tab-pane fade"
				 id = "nav-4"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab4"
				 tabindex = "0">
			  <div>
				<h6>Chính sách hủy:</h6>
				<h5>Điều kiện hủy tour (ngày thường)</h5>
				<p>
				  - Quý khách hủy tour sau khi đặt cọc: 30% giá trị tour
				</p>
				<p>
				  - Quý khách huỷ tour trước 07 – 10 ngày khởi hành: 50% giá trị tour
				</p>
				<p>
				  - Quý khách hủy tour trước 04 - 06 ngày khởi hành: 75% giá trị tour.
				</p>
				<p>
				  - Quý khách hủy tour trước 03 ngày khởi hành: 100% giá trị tour.
				</p>
				<p>
				  - Các ngày lễ tết việc dời ngày và hủy tour mất 100% giá tour.
				</p>
				<h6>Chính sách đổi:</h6>
				<h5>Điều kiện dời ngày khởi hành (chỉ được dời 1 lần)</h5>
				<p>
				  - Dời trước 10 ngày so với ngày khởi hành: phí dời 0% tiền tour (Không tính ngày lễ và chủ nhật). Phí
				  dời vé
				  máy bay theo quy định của hãng.
				</p>
				<p>
				  - Trước 6 so với ngày khởi hành: phí dời 20% tiền tour (Không tính ngày lễ và chủ nhật). Phí dời vé
				  máy bay
				  theo quy định của hãng.
				</p>
				<p>
				  - Trước 4 so với ngày khởi hành: phí dời 40% tiền tour (Không tính ngày lễ và chủ nhật). Phí dời vé
				  máy bay
				  theo quy định của hãng.
				</p>
				<p>
				  - Sau thời gian trên: phí dời 100% tiền tour (Không tính ngày lễ và chủ nhật). Phí dời vé máy bay theo
				  quy
				  định của hãng.
				</p>
			  </div>
			</div>
			<div class = "tab-pane fade"
				 id = "nav-5"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab5"
				 tabindex = "0">
			  <div>
				<p>
				  - Trình tự chương trình có thể thay đổi nhưng số lượng chương trình vẫn không thay đổi.
				</p>
				<p>
				  - Quý khách có mặt tại điểm đón trước 15 phút. Du khách đến trễ khi xe đã khởi hành hoặc hủy tour
				  không báo
				  trước vui lòng chịu phí như ‘hủy vé ngay ngày khởi hành’
				</p>
				<p>
				  - Quý khách mang theo giấy CMND hoặc Hộ chiếu (Bản chính), nên mang theo hành lý gọn nhẹ, không mang
				  valy
				  lớn.
				</p>
				<p>
				  - Trẻ em phải đi cùng cha mẹ hoặc có giấy cam kết đi tour cùng người thân, khi đi phải mang theo giấy
				  khai
				  sinh hoặc hộ chiếu.
				</p>
				<p>
				  - Quý khách tự quản lý tiền bạc tư trang trong qua trình tham quan du lịch.
				</p>
				<p>
				  - Khi đăng ký, quý khách vui lòng cung cấp đầy đủ họ tên và năm sinh.
				</p>
				<p>
				  - Đối với du khách là Việt kiều, Quốc tế nhập cảnh Việt Nam bằng visa rời, vui lòng mang theo tờ khai
				  hải
				  quan và visa khi đi tour.
				</p>
				<p>
				  - Chương trình tour được coi là biên bản ghi nhớ giữa khách hàng và Cholontourist. Những thắc mắc,
				  khiếu nại
				  sẽ dựa vào những quy định trong chương trình và phiếu thu để giải quyết.
				</p>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  <div class = "col-lg-4 d-none d-lg-block ">
		<div class = "sidebar-form container">
		  <div class = "row">
			<div class = "title col">
			  Giá Tour
			</div>
			<div class = "adult border row">
			  <div class = "text col">
				<div class = "col">
				  Người lớn
				</div>
				<div class = "sub col">
				  > 8 tuổi
				</div>
			  </div>
			  <div class = "price col" id = "adult-price">
				2.390.000
			  </div>
			  <div class = "btn-group col">
				<button type = "button" class = "btn" id = "adult-minus">
				  <i class = "fa fa-minus"></i>
				</button>
				<span id = "number-adult">1</span>
				<button type = "button" class = "btn" id = "adult-plus">
				  <i class = "fa fa-plus"></i>
				</button>
			  </div>
			</div>
			<div class = "child border row">
			  <div class = "text col">
				<div class = "col">
				  Trẻ em
				</div>
				<div class = "sub col">
				  5 - 8 tuổi
				</div>
			  </div>
			  <div class = "price col" id = "child-price">

			  </div>
			  <div class = "btn-group col">
				<button type = "button" class = "btn" id = "child-minus">
				  <i class = "fa fa-minus"></i>
				</button>
				<span id = "number-child">0</span>
				<button type = "button" class = "btn" id = "child-plus">
				  <i class = "fa fa-plus"></i>
				</button>
			  </div>
			</div>
			<div class = "infant border row">
			  <div class = "text col">
				<div class = "col">
				  Trẻ nhỏ
				</div>
				<div class = "sub col">
				  < 5 tuổi
				</div>
			  </div>
			  <div class = "price col" id = "infant-price">

			  </div>
			  <div class = "btn-group col">
				<button type = "button" class = "btn" id = "infant-minus">
				  <i class = "fa fa-minus"></i>
				</button>
				<span id = "number-infant">0</span>
				<button type = "button" class = "btn" id = "infant-plus">
				  <i class = "fa fa-plus"></i>
				</button>
			  </div>
			</div>
			<div class = "contact-msg col-12">
			  <i class = "fa fa-info-circle"></i>
			  <span>
				  Liên hệ để xác nhận chỗ
				</span>
			</div>
			<div class = "total-text col-6">
			  Tổng Giá Tour
			</div>
			<div class = "total-num col-6">
				  <span class = "price" id = "total-price">
				  6.180.000
				  </span>
			  <span class = "currency">
					VND
				  </span>
			</div>
			<div class = "contact col-6">
			  <!-- Button trigger modal -->
			  <button type = "button"
					  class = "btn modal-btn"
					  data-bs-toggle = "modal"
					  data-bs-target = "#contactModal">
				Liên hệ tư vấn
			  </button>

			  <!-- Modal -->
			  <div class = "modal fade"
				   id = "contactModal"
				   tabindex = "-1"
				   aria-labelledby = "contactModalLabel"
				   aria-hidden = "true">
				<div class = "modal-dialog">
				  <div class = "modal-content">
					<div class = "modal-header">
					  <h1 class = "modal-title" id = "contactModalLabel">Yêu cầu tư vấn</h1>

					</div>
					<div class = "modal-body">
					  <div class = "mb-3">
						<label for = "contactFormControlTextarea1" class = "form-label">Họ & Tên </label>
						<input class = "form-control" id = "contactFormControlTextarea1"></input>
					  </div>
					  <div class = "mb-3">
						<label for = "contactFormControlTextarea2" class = "form-label">Điện thoại </label>
						<input class = "form-control" id = "contactFormControlTextarea2"></input>
					  </div>
					  <div class = "mb-3">
						<label for = "checkoutFormControlInput1" class = "form-label">Email (nếu có)</label>
						<input type = "email" class = "form-control" id = "exampleFormControlInput1">
					  </div>
					  <div class = "mb-3">
						<label for = "contactFormControlTextarea3" class = "form-label">Yêu cầu khác</label>
						<textarea class = "form-control" id = "contactFormControlTextarea3" rows = "3"></textarea>
					  </div>
					</div>
					<div class = "modal-footer">
					  <button type = "button" class = "btn" data-bs-dismiss = "modal">Gửi yêu cầu</button>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class = "checkout col-6">
			  <!-- Button trigger modal -->
			  <button type = "button"
					  class = "btn modal-btn"
					  data-bs-toggle = "modal"
					  data-bs-target = "#checkoutModal">
				Đặt Tour ngay
			  </button>

			  <!-- Modal -->
			  <div class = "modal fade"
				   id = "checkoutModal"
				   tabindex = "-1"
				   aria-labelledby = "checkoutModalLabel"
				   aria-hidden = "true">
				<div class = "modal-dialog">
				  <div class = "modal-content">
					<div class = "modal-header">
					  <h1 class = "modal-title fs-5" id = "checkoutModalLabel">Yêu cầu đặt</h1>
					  <button type = "button"
							  class = "btn-close"
							  data-bs-dismiss = "modal"
							  aria-label = "Close"></button>
					</div>
					<div class = "modal-body">
					  <div class = "modal-body">
						<div class = "mb-3">
						  <label for = "checkoutFormControlTextarea1" class = "form-label">Họ & Tên </label>
						  <input class = "form-control" id = "checkoutFormControlTextarea1"></input>
						</div>
						<div class = "mb-3">
						  <label for = "checkoutFormControlTextarea2" class = "form-label">Điện thoại </label>
						  <input class = "form-control" id = "checkoutFormControlTextarea2"></input>
						</div>
						<div class = "mb-3">
						  <label for = "checkoutFormControlInput1" class = "form-label">Email (nếu có)</label>
						  <input type = "email" class = "form-control" id = "checkoutFormControlInput1">
						</div>
						<div class = "mb-3">
						  <label for = "checkoutFormControlTextarea2" class = "form-label">Yêu cầu khác</label>
						  <textarea class = "form-control" id = "checkoutFormControlTextarea3" rows = "3"></textarea>
						</div>
					  </div>
					</div>
					<div class = "modal-footer">
					  <button type = "button" class = "btn" data-bs-dismiss = "modal">Gửi yêu cầu</button>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<div class = "sidebar-service container">
		  <div class = " row">
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Bảo hiểm
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Bữa ăn
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Hướng dẫn viên
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Khách sạn 3*
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Vé tham quan
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Xe đưa đón
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class = "order container d-lg-none">
	  <div class = "row">
		<div class = "text col-6">
		  <div>Giá chỉ từ</div>
		  <span class = "price">
		  3.090.000
		</span>
		  <span class = "currency">
		  VND/khách
		</span>
		</div>
		<div class = "checkout col-6 d-grid mx-auto my-auto">
		  <a href = "#" class = "d-grid my-auto">
			<button class = "btn" type = "button">
			  Lịch khởi hành
			  <i class = "fa fa-chevron-right"></i>
			</button>
		  </a>
		</div>
	  </div>
	</div>
  </div>
</div>
<!--End content-->

<!--Begin footer-->
<footer class = "main-footer">
  <div class = "wrap">
	<div class = "container">
	  <div class = "row">
		<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
		  <div class = "col-xs-12 no-padding">
			<div class = "row">
			  <div class = "footer-left col-12 order-last col-lg-8 order-lg-first">
				<div class = "row">
				  <div class = "col-3">
					<div class = "item d-block d-md-flex">
					  <img src = "/assets/img/ico-wta-winner-shield-2021.png" class = "img-fluid" alt = "">
					  <h3>Đại lý Du lịch Trực tuyến Hàng đầu Việt Nam</h3>
					</div>
				  </div>
				  <div class = "col-3">
					<div class = "item d-block d-md-flex">
					  <img src = "/assets/img/ico-hra.png" alt = "">
					  <h3>Best Companies to Work for in Asia</h3>
					</div>
				  </div>
				  <div class = "col-3">
					<div class = "item d-block d-md-flex">
					  <img src = "/assets/img/ico-apea.png" alt = "">
					  <h3>APEA Inspirational Brand Award</h3>
					</div>
				  </div>
				</div>
				<section class = "social d-sm-none">
				  <h5>Kết nối với Cholontourist</h5>
				  <div>
					<i class = "fab fa-facebook-square"></i>
					<i class = "fab fa-instagram"></i>
					<i class = "fab fa-youtube"></i>
				  </div>
				</section>
				<div class = "row">
				  <div class = "col ms-auto d-none d-md-block">
					<div class = "item">
					  <i class = "fa fa-map-marker-alt"></i>
					  <h3>HN:</h3>
					  <h3>207 Giải Phóng, Đồng Tâm, Hai Bà Trưng, Hà Nội</h3>
					</div>
				  </div>
				</div>
			  </div>
			  <div class = "footer-right col-12 order-first col-lg-4 order-lg-last ms-auto">
				<section class = "support">
				  Bạn cần trợ giúp?
				  <b>Hãy gọi ngay</b>
				</section>
				<section class = "contact">
				  <i class = "fa fa-phone"></i>
				  <b>CSKH:</b>
				  <h5>(0912) 888 888</h5>
				</section>
				<section class = "time">
				  <i class = "fa fa-clock"></i>
				  <h6>Từ 7h30 - 21h hằng ngày</h6>
				</section>
				<section class = "social d-none d-sm-block">
				  <h5>Kết nối với Cholontourist</h5>
				  <div>
					<i class = "fab fa-facebook-square"></i>
					<i class = "fab fa-instagram"></i>
					<i class = "fab fa-youtube"></i>
				  </div>
				</section>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</footer>
<!--End footer-->

<script>
    const adultPrice = 2390000
    const childPrice = 2390000
    const infantPrice = 597000

    var totalAdultPrice = 0
    var totalChildPrice = 0
    var totalInfantPrice = 0
    var total = adultPrice

    var adultPlus = document.getElementById('adult-plus')
    var childPlus = document.getElementById('child-plus')
    var infantPlus = document.getElementById('infant-plus')

    var adultMinus = document.getElementById('adult-minus')
    var childMinus = document.getElementById('child-minus')
    var infantMinus = document.getElementById('infant-minus')

    var adultNum = 1
    var childNum = 0
    var infantNum = 0

    function formatString(x) {
        return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ".");
    }

    adultPlus.addEventListener('click', function () {
        adultNum = adultNum + 1
        totalAdultPrice = adultNum * adultPrice
        total = totalAdultPrice + totalChildPrice + totalInfantPrice
        document.getElementById('adult-price').innerHTML = formatString(totalAdultPrice)
        document.getElementById('number-adult').innerHTML = adultNum
        document.getElementById('total-price').innerHTML = formatString(total)
    })

    adultMinus.addEventListener('click', function () {
        if (adultNum > 1) {
            adultNum = adultNum - 1
            totalAdultPrice = adultNum * adultPrice
            total = totalAdultPrice + totalChildPrice + totalInfantPrice
            document.getElementById('adult-price').innerHTML = formatString(totalAdultPrice)
            document.getElementById('number-adult').innerHTML = adultNum
            document.getElementById('total-price').innerHTML = formatString(total)
        }
    })

    childPlus.addEventListener('click', function () {
        childNum = childNum + 1
        totalChildPrice = childNum * childPrice
        total = totalAdultPrice + totalChildPrice + totalInfantPrice
        document.getElementById('child-price').innerHTML = formatString(totalChildPrice)
        document.getElementById('number-child').innerHTML = childNum
        document.getElementById('total-price').innerHTML = formatString(total)
    })

    childMinus.addEventListener('click', function () {
        if (childNum > 0) {
            childNum = childNum - 1
            totalChildPrice = childNum * childPrice
            total = totalAdultPrice + totalChildPrice + totalInfantPrice
            document.getElementById('child-price').innerHTML = formatString(totalChildPrice)
            document.getElementById('number-child').innerHTML = childNum
            document.getElementById('total-price').innerHTML = formatString(total)
        }
    })

    infantPlus.addEventListener('click', function () {
        infantNum = infantNum + 1
        totalInfantPrice = infantNum * infantPrice
        total = totalAdultPrice + totalChildPrice + totalInfantPrice
        document.getElementById('infant-price').innerHTML = formatString(totalInfantPrice)
        document.getElementById('number-infant').innerHTML = infantNum
        document.getElementById('total-price').innerHTML = formatString(total)
    })

    infantMinus.addEventListener('click', function () {
        if (infantNum > 0) {
            infantNum = infantNum - 1
            totalInfantPrice = infantNum * infantPrice
            total = totalAdultPrice + totalChildPrice + totalInfantPrice
            document.getElementById('infant-price').innerHTML = formatString(totalInfantPrice)
            document.getElementById('number-infant').innerHTML = infantNum
            document.getElementById('total-price').innerHTML = formatString(total)
        }
    })
</script>

</body>
</html>