<!doctype html>
<html lang = "en">
<head>
  <meta charset = "UTF-8">
  <meta name = "viewport"
		content = "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
  <link rel = "stylesheet" href = "/assets/css/tour-sapa-2n3d.css">
  <link rel = "stylesheet"
		href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
		integrity = "sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
		crossorigin = "anonymous"
		referrerpolicy = "no-referrer"/>
  <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
		rel = "stylesheet"
		integrity = "sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
		crossorigin = "anonymous">
  <script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		  integrity = "sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		  crossorigin = "anonymous"></script>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
		  integrity = "sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
		  crossorigin = "anonymous"
		  referrerpolicy = "no-referrer"></script>
  <title>Tour Sapa 2N3Đ: Hà Nội - Sapa - Fansipan - Cát Cát / Moana View</title>
</head>
<body>
<!--Begin header-->
<header class = "main-header">
  <nav class = "navbar navbar-expand-md">
	<div class = "container-fluid">
	  <a class = "navbar-brand" href = "#">
		<img src = "/assets/img/logo_cholon_resized_height_80.png" alt = "">
	  </a>
	  <button class = "navbar-toggler"
			  type = "button"
			  data-bs-toggle = "collapse"
			  data-bs-target = "#navbarSupportedContent"
			  aria-controls = "navbarSupportedContent"
			  aria-expanded = "false"
			  aria-label = "Toggle navigation">
		<span class = "fa fa-bars"></span>
	  </button>
	  <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
		<ul class = "navbar-nav me-auto mb-2 mb-lg-0">
		  <li class = "nav-item">
			<a class = "nav-link" href = "#">Khách sạn</a>
		  </li>
		  <li class = "nav-item">
			<a class = "nav-link activated" href = "#">Tours</a>
		  </li>
		  <li class = "nav-item">
			<a class = "nav-link" href = "#">Vé xe khách</a>
		  </li>
		  <li class = "nav-item">
			<a class = "nav-link" href = "#">Vé vui chơi</a>
		  </li>
		  <li class = "nav-item">
			<a class = "nav-link" href = "#">Bespoke</a>
		  </li>
		</ul>
	  </div>
	</div>
  </nav>
  <div class = "contact-md d-none d-md-block d-lg-none">
	<i class = "fa fa-user"></i>
  </div>
  <div class = "user-login d-none d-lg-flex">
	<i class = "fa fa-user-circle"></i>
	<span class = "username-header">Tài khoản</span>
  </div>
  <div class = "contact d-none d-lg-block">
	<div class = "hotline">
	  <i class = "fa fa-phone"></i>
	  (0912) 888 888
	</div>
	<div class = "location">
	  7h30 → 21h
	  <i class = "fa fa-map-marker"></i>
	  Hà Nội
	</div>
  </div>
</header>
<!--End header-->

<!--Begin content-->
<div class = "wrap">
  <div class = "content container">
	<nav aria-label = "breadcrumb">
	  <ol class = "breadcrumb">
		<a href = "#">
		  <i class = "fa fa-home"></i>
		</a>
		<li class = "breadcrumb-item">
		  <a href = "#">Trang chủ</a>
		</li>
		<li class = "breadcrumb-item active" aria-current = "page"> Tour Sapa 2N3Đ: Hà Nội - Sapa - Fansipan - Cát Cát /
		  Moana View
		</li>
	  </ol>
	</nav>
	<h1 class = "tour-name">Tour Sapa 2N3Đ: Hà Nội - Sapa - Fansipan - Cát Cát / Moana View</h1>
	<div class = "row d-flex">
	  <div class = "col-12 col-lg-8">
		<div class = "row">
		  <img src = "/assets/img/tours/sapa 2n3d/tour-ha-noi-sa-pa-2-ngay-1-dem-demo.jpg"
			   class = "img-fluid mx-auto"
			   alt = "">
		</div>
		<div class = "tour-info container">
		  <div class = "col mx-auto">
			<ul class = "list-group list-group-horizontal">
			  <li>
				<i class = "fa fa-map-marker-alt"></i>
				Hà Nội
			  </li>
			  <li>
				<i class = "fa fa-clock"></i>
				2 Ngày 3 Đêm
			  </li>
			  <li>
				Phương tiện:
				<i class = "fa fa-car-alt"></i>
				<i class = "fa fa-ship"></i>
			  </li>
			</ul>
		  </div>
		</div>
		<div class = "tour-content col" id = "detail-overview">
		  <div class = "tour-content-container">
			<h3>SaPa - Điều Kỳ Diệu Của Thiên Nhiên</h3>
			<p>Nằm phía Tây Bắc tổ quốc, Sa Pa ẩn chứa bao điều kỳ diệu của cảnh sắc thiên nhiên, con người. Thị trấn
			  trong
			  mây hấp dẫn du khách với quang cảnh núi non hùng vĩ cùng trải nghiệm độc đáo với cuộc sống của đồng bào
			  dân
			  tộc
			  thiểu số. Cùng Cholontourist khám phá ngay hôm nay!
			</p>
		  </div>
		</div>
		<div class = "tour-content col" id = "detail-schedule">
		  <div class = "tour-content-container">
			<h3>
			  Chương trình tour
			</h3>
			<h4>ĐÊM 01: HÀ NỘI – LÀO CAI – SAPA</h4>
			<p>
			  21:30: Xe và HDV đón khách tại 204 hoặc 160 Trần Quang Khải khởi hành đi Sapa bằng xe giường nằm từ điểm
			  hẹn.
			  Quý khách nghỉ đêm trên xe (Đối với quý khách có chuyến bay tối, xe đón tại sân bay với phí phát sinh
			  60.000đ/nhóm)
			</p>
			<h4>NGÀY 01: SAPA – BẢN CÁT CÁT ( ĂN SÁNG, TRƯA, TỐI)</h4>
			<p>
			  <strong>6h00:</strong>
			  Tới Sapa. Xe đón Quý khách về khách sạn vệ sinh cá nhân tại khu vực vệ sinh chung tầng 1 khách sạn, gửi đồ
			  tại
			  quầy lễ tân và dùng bữa sáng. Điều hành tại Sapa sẽ thông báo lại lịch trình thăm quan cho quý khách.
			</p>
			<p>
			  <img src = "/assets/img/tours/sapa 2n3d/58.png"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Thăm quan nhà thờ đá</em>
			</p>
			<p>
			  <strong>12h00:</strong>
			  Quý khách về khách sạn dùng cơm trưa và nhận phòng nghỉ ngơi. Sau đó quý khách có thể lựa chọn 1 trong 2
			  chương
			  trình tham quan sau:
			</p>
			<p>
			  <strong>Lựa Chọn 1:</strong>
			  HDV dẫn thăm bản Cát Cát, nơi người H’mong đen sinh sống, tại thung lũng dưới chân Phanxipang. Giới thiệu
			  về
			  cuộc sống dân tộc, sau đó đến thác Cát Cát và trạm thủy điện cũ của Pháp. Dừng chân chụp hình lưu niệm.
			</p>
			<p>
			  <img src = "/assets/img/tours/sapa 2n3d/1-min-18.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Bản Cát Cát: Vẻ đẹp thung lũng, thác nước và di sản thủy điện, hành trình khám phá văn hóa H’mong
				đen</em>
			</p>
			<p>
			  <strong>Lựa chọn 2:</strong>
			  HDV dẫn khám phá Moana Sapa, điểm check-in mới với cổng trời Bali công phu, hướng nhìn ra núi Hoàng Liên
			  Sơn
			  và
			  Fansipan. Điểm đến mang vẻ đẹp huyền bí, lý tưởng cho ảnh đẹp và tận hưởng view núi rừng mênh mông.
			</p>
			<p>
			  <img src = "/assets/img/tours/sapa 2n3d/song-ao-tai-moana-sapa-diem-check-in-co-mot-khong-hai-02-1681657622.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Moana View</em>
			</p>
			<p>
			  17h30: Xe đón quý khách trở lại thị trấn Sapa.
			</p>
			<p>
			  <strong>19h00:</strong>
			  Quý khách dùng bữa tối. Sau đó tự do khám phá thị trấn Sapa về đêm: Thăm nhà thờ đá Sapa, đi chợ ẩm thực
			  Sapa và
			  thưởng thức những món nướng đặc trưng của vùng đất này,… Ngủ đêm tại Sapa.
			</p>
			<h4>NGÀY 02: SAPA – CHINH PHỤC ĐỈNH FANSIPAN – HÀ NỘI ( ĂN SÁNG, TRƯA)</h4>
			<p>
			  <strong>7h00:</strong>
			  Quý khách dùng bữa sáng tại khách sạn.
			</p>
			<p>
			  <strong>8h00:</strong>
			  Sau bữa ăn sáng: Xe đón Quý khách khởi hành ra ga cáp treo Fansipan, đi cáp treo 3 dây dài nhất thế giới
			  với
			  chiều dài 6.292,5m. Quý khách sẽ được ngắm nhìn thung lũng Mường Hoa, dãy Hoàng Liên Sơn và biển mây tuyệt
			  đẹp
			  từ trên cao.
			</p>
			<p>
			  <img src = "/assets/img/tours/sapa 2n3d/anh-7-1-1024x683-4152.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Cáp Treo Fansipan</em>
			</p>
			<p>
			  Sau 15 phút đi cáp treo, Quý khách tiếp tục leo bộ 604 bậc thang để đến với đỉnh Fansipan. Quý khách chụp
			  hình
			  để lưu lại khoảnh khách đáng nhớ này.
			</p>
			<p>
			  Sau đó Quý khách trở lại ga cáp treo để di chuyển xuống.
			</p>
			<p>
			  <strong>11h30:</strong>
			  Xe đón Quý khách về lại thị trấn.
			</p>
			<p>
			  <strong>12h00:</strong>
			  Quý khách làm thủ tục trả phòng. Sau đó dùng bữa trưa.
			</p>
			<p>
			  <strong>Buổi chiều:</strong>
			  Quý khách tự do mua sắm đặc sản địa phương về làm quà cho người thân. Hoặc thuê xe máy đi tham quan Thác
			  Bạc,
			  Thung lũng Mường Hoa, Lao Chải – Tả Van,… (Chi phí thuê xe máy từ 100.000 đến 150.000vnđ).
			</p>
			<p>
			  <strong>21h30:</strong>
			  Quý khách lên xe về lại Hà Nội. Quý khách ngủ đêm trên xe. Sáng sớm về Hà Nội, xe đưa khách về điểm hẹn.
			  Hoàn
			  tất tour Sapa 2 ngày 3 đêm, chinh phục Fansipan. Tạm biệt, hẹn gặp lại trong hành trình tiếp theo.
			</p>
			<p>
			  <em>(Lưu ý: Trường hợp Quý khách muốn về sớm chúng tôi sẽ bố trí cho quý khách về từ Sapa chuyến 14h00 –
				Về
				tới
				Hà Nội khoảng 20h00 cùng ngày)</em>
			</p>
		  </div>
		</div>
		<div class = "tour-content col" id = "detail-tour-guide">
		  <div class = "tour-content-container">
			<h3>Hướng dẫn viên</h3>
			<p>
			  Hướng Dẫn Viên (HDV) sẽ liên lạc với Quý Khách khoảng 1 ngày trước khi khởi hành để sắp xếp giờ đón và
			  cung
			  cấp
			  các thông tin cần thiết cho chuyển đi.
			</p>
		  </div>
		</div>
		<div class = "tour-content col" id = "detail-term-regulations">
		  <nav>
			<div class = "nav nav-tabs" id = "nav-tab" role = "tablist">
			  <button class = "nav-link active"
					  id = "nav-tab1"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-1"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-1"
					  aria-selected = "true">Bao gồm
			  </button>
			  <button class = "nav-link"
					  id = "nav-tab2"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-2"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-2"
					  aria-selected = "false">Phát sinh
			  </button>
			  <button class = "nav-link"
					  id = "nav-tab3"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-3"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-3"
					  aria-selected = "false">Phụ thu
			  </button>
			  <button class = "nav-link"
					  id = "nav-tab4"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-4"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-4"
					  aria-selected = "false">Hủy đổi
			  </button>
			  <button class = "nav-link"
					  id = "nav-tab5"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-5"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-5"
					  aria-selected = "false">Lưu ý
			  </button>
			</div>
		  </nav>
		  <div class = "tab-content" id = "nav-tabContent">
			<div class = "tab-pane fade show active"
				 id = "nav-1"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab1"
				 tabindex = "0">
			  <div>
				<h6>Vận chuyển:</h6>
				<p>
				  - Xe ô tô giường nằm vận chuyển Hà Nội – Sapa – Hà Nội ( Không có HDV trên xe)
				</p>
				<p>
				  - Vé cáp treo Fansipan khứ hồi 800.000vnđ/ khách đi ngày trong tuần. 850.000 vnđ/khách đi ngày T7,
				  Ngày
				  lễ
				  tết.
				</p>
				<h6>Lưu trú:</h6>
				<p>
				  - 1 đêm khách sạn 3 sao trung tâm thị trấn: Ngủ 2 khách/phòng, lẻ ngủ 3 khách/phòng.
				</p>
				<h6>Khác:</h6>
				<p>
				  - Các bữa ăn theo chương trình: 2 bữa sáng và 3 bữa chính
				</p>
				<p>
				  - Hướng dẫn viên Tiếng Anh – Tiếng Việt địa phương đưa đi tham quan tại Sapa theo chương trình
				</p>
				<p>
				  - Vé thắng cảnh trong chương trình/suất
				</p>
				<p>
				  - Bảo hiểm đường bộ trên xe
				</p>
			  </div>
			</div>
			<div class = "tab-pane fade"
				 id = "nav-2"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab2"
				 tabindex = "0">
			  <div>
				<p>
				  - Đồ uống trong các bữa ăn
				</p>
				<p>
				  - Vé tàu hỏa leo núi 270.000đ/khách/2 chiều. Vé Tàu Mường Hoa 150.000/khách/2 chiều
				</p>
				<p>
				  - Các chi phí không có trong chương trình
				</p>
				<p>
				  - Phụ thu phòng đơn
				</p>
				<p>
				  - Thuế VAT
				</p>
				<p>
				  - Hướng dẫn viên trên xe bus 2 chiều HN-SP-HN.
				</p>
			  </div>
			</div>
			<div class = "tab-pane fade"
				 id = "nav-3"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab3"
				 tabindex = "0">
			  <div>
				<p>
				  - Phụ thu phòng đơn: 300.000 vnđ/khách/tour.
				</p>
				<h6>Giá trẻ em</h6>
				<p>
				  - Trẻ dưới 5 tuổi hoặc cao dưới 1m: Miễn phí, gia đình tự lo ăn ngủ cho bé (Xe bus nằm giường riêng
				  phụ
				  thu
				  400.000đ/ trẻ em). 2 người lớn chỉ được kèm 1 trẻ em dưới 5 tuổi, từ trẻ thứ 2 tính 50%.
				</p>
				<p>
				  - Trẻ từ 5 – 8 tuổi : 75% Giá tour, ngủ chung với người lớn. 2 người lớn chỉ được kèm 1 trẻ em 5 –
				  dưới
				  9
				  tuổi, từ trẻ thứ 2 tính như người lớn.
				</p>
				<p>
				  - Trẻ từ 9 tuổi : Tính như người lớn.
				</p>
				<p>
				  - Xe bus nằm giường riêng phụ thu 400.000đ/ trẻ em).
				</p>
				<h6>Phụ Thu Lễ Tết:</h6>
				<p>
				  Các ngày 29 & 30/4 + 01 & 02/5 + 01 & 02/9 + 23 & 24/12 + 30 & 31/12 + 01 & 02/1/, Tết âm lịch
				</p>
				<p>
				  Giá phụ thu có thể thay đổi phụ thuộc vào ngày khởi hành.
				</p>
			  </div>
			</div>
			<div class = "tab-pane fade"
				 id = "nav-4"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab4"
				 tabindex = "0">
			  <div>
				<h6>Chính sách hủy:</h6>
				<h5>Điều kiện hủy tour (ngày thường)</h5>
				<p>
				  - Sau khi đăng ký huỷ tour mất 10% giá tour
				</p>
				<p>
				  - Hủy tour 10 ngày trước ngày khởi hành chịu phí 30% giá tour (Không tính ngày lễ và chủ nhật). Phí
				  hủy
				  vé
				  máy bay theo qui định của hãng.
				</p>
				<p>
				  - Hủy tour 8 ngày trước ngày khởi hành chịu phí 50% giá tour (Không tính ngày lễ và chủ nhật).Phí hủy
				  vé
				  máy
				  bay theo qui định của hãng.
				</p>
				<p>
				  - Hủy tour 5 ngày trước ngày khởi hành chịu phí 100% giá tour (Không tính ngày lễ và chủ nhật).Phí hủy
				  vé
				  máy bay theo qui định của hãng.
				</p>
				<h5>Điều kiện hủy tour (ngày lễ tết)</h5>
				<p>
				  - Các ngày lễ tết việc dời ngày và hủy tour mất 100% giá tour.
				</p>
				<p>
				  - Trường hợp hủy tour do sự cố khách quan như thiên tai, dịch bệnh hoặc do tàu thủy, xe lửa, máy bay
				  hoãn/hủy chuyến, Cholontourist sẽ không chịu trách nhiệm bồi thường thêm bất kỳ chi phí nào khác ngoài
				  việc
				  hoàn trả chi phí những dịch vụ chưa được sử dụng của tour đó.
				</p>
			  </div>
			</div>
			<div class = "tab-pane fade"
				 id = "nav-5"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab5"
				 tabindex = "0">
			  <div>
				<p>
				  - Trình tự chương trình có thể thay đổi nhưng số lượng chương trình vẫn không thay đổi.
				</p>
				<p>- Quý khách có mặt tại điểm đón trước 15 phút. Du khách đến trễ khi xe đã khởi hành hoặc hủy tour
				  không
				  báo
				  trước vui lòng chịu phí như ‘hủy vé ngay ngày khởi hành’
				</p>
				<p>
				  - Quý khách mang theo giấy CMND hoặc Hộ chiếu (Bản chính), nên mang theo hành lý gọn nhẹ, không mang
				  vali
				  lớn.
				</p>
				<p>
				  - Trẻ em phải đi cùng cha mẹ hoặc có giấy cam kết đi tour cùng người thân, khi đi phải mang theo giấy
				  khai
				  sinh hoặc hộ chiếu.
				</p>
				<p>
				  - Trẻ em phải đi cùng cha mẹ hoặc có giấy cam kết đi tour cùng người thân, khi đi phải mang theo giấy
				  khai
				  sinh hoặc hộ chiếu.
				</p>
				<p>
				  - Quý khách tự quản lý tiền bạc tư trang trong qua trình tham quan du lịch.
				</p>
				<p>
				  - Khi đăng ký, quý khách vui lòng cung cấp đầy đủ họ tên và năm sinh.
				</p>
				<p>
				  - Đối với du khách là Việt kiều, Quốc tế nhập cảnh Việt Nam bằng visa rời, vui lòng mang theo tờ khai
				  hải
				  quan và visa khi đi tour.
				</p>
				<p>
				  - Chương trình tour được coi là biên bản ghi nhớ giữa khách hàng và Cholontourist. Những thắc mắc,
				  khiếu
				  nại
				  sẽ dựa vào những quy định trong chương trình và phiếu thu để giải quyết.
				</p>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  <div class = "col-lg-4 d-none d-lg-block ">
		<div class = "sidebar-form container">
		  <div class = "row">
			<div class = "title col">
			  Giá Tour
			</div>
			<div class = "adult border row">
			  <div class = "text col">
				<div class = "col">
				  Người lớn
				</div>
				<div class = "sub col">
				  > 8 tuổi
				</div>
			  </div>
			  <div class = "price col" id = "adult-price">
				3.140.000
			  </div>
			  <div class = "btn-group col">
				<button type = "button" class = "btn" id = "adult-minus">
				  <i class = "fa fa-minus"></i>
				</button>
				<span id = "number-adult">1</span>
				<button type = "button" class = "btn" id = "adult-plus">
				  <i class = "fa fa-plus"></i>
				</button>
			  </div>
			</div>
			<div class = "child border row">
			  <div class = "text col">
				<div class = "col">
				  Trẻ em
				</div>
				<div class = "sub col">
				  5 - 8 tuổi
				</div>
			  </div>
			  <div class = "price col" id = "child-price">

			  </div>
			  <div class = "btn-group col">
				<button type = "button" class = "btn" id = "child-minus">
				  <i class = "fa fa-minus"></i>
				</button>
				<span id = "number-child">0</span>
				<button type = "button" class = "btn" id = "child-plus">
				  <i class = "fa fa-plus"></i>
				</button>
			  </div>
			</div>
			<div class = "infant border row">
			  <div class = "text col">
				<div class = "col">
				  Trẻ nhỏ
				</div>
				<div class = "sub col">
				  < 5 tuổi
				</div>
			  </div>
			  <div class = "price col" id = "infant-price">

			  </div>
			  <div class = "btn-group col">
				<button type = "button" class = "btn" id = "infant-minus">
				  <i class = "fa fa-minus"></i>
				</button>
				<span id = "number-infant">0</span>
				<button type = "button" class = "btn" id = "infant-plus">
				  <i class = "fa fa-plus"></i>
				</button>
			  </div>
			</div>
			<div class = "contact-msg col-12">
			  <i class = "fa fa-info-circle"></i>
			  <span>
				  Liên hệ để xác nhận chỗ
				</span>
			</div>
			<div class = "total-text col-6">
			  Tổng Giá Tour
			</div>
			<div class = "total-num col-6">
				  <span class = "price" id = "total-price">
				  3.140.000
				  </span>
			  <span class = "currency">
					VND
				  </span>
			</div>
			<div class = "contact col-6">
			  <!-- Button trigger modal -->
			  <button type = "button"
					  class = "btn modal-btn"
					  data-bs-toggle = "modal"
					  data-bs-target = "#contactModal">
				Liên hệ tư vấn
			  </button>

			  <!-- Modal -->
			  <div class = "modal fade"
				   id = "contactModal"
				   tabindex = "-1"
				   aria-labelledby = "contactModalLabel"
				   aria-hidden = "true">
				<div class = "modal-dialog">
				  <div class = "modal-content">
					<div class = "modal-header">
					  <h1 class = "modal-title" id = "contactModalLabel">Yêu cầu tư vấn</h1>

					</div>
					<div class = "modal-body">
					  <div class = "mb-3">
						<label for = "contactFormControlTextarea1" class = "form-label">Họ & Tên </label>
						<input class = "form-control" id = "contactFormControlTextarea1"></input>
					  </div>
					  <div class = "mb-3">
						<label for = "contactFormControlTextarea2" class = "form-label">Điện thoại </label>
						<input class = "form-control" id = "contactFormControlTextarea2"></input>
					  </div>
					  <div class = "mb-3">
						<label for = "checkoutFormControlInput1" class = "form-label">Email (nếu có)</label>
						<input type = "email" class = "form-control" id = "exampleFormControlInput1">
					  </div>
					  <div class = "mb-3">
						<label for = "contactFormControlTextarea3" class = "form-label">Yêu cầu khác</label>
						<textarea class = "form-control" id = "contactFormControlTextarea3" rows = "3"></textarea>
					  </div>
					</div>
					<div class = "modal-footer">
					  <button type = "button" class = "btn" data-bs-dismiss = "modal">Gửi yêu cầu</button>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class = "checkout col-6">
			  <!-- Button trigger modal -->
			  <button type = "button"
					  class = "btn modal-btn"
					  data-bs-toggle = "modal"
					  data-bs-target = "#checkoutModal">
				Đặt Tour ngay
			  </button>

			  <!-- Modal -->
			  <div class = "modal fade"
				   id = "checkoutModal"
				   tabindex = "-1"
				   aria-labelledby = "checkoutModalLabel"
				   aria-hidden = "true">
				<div class = "modal-dialog">
				  <div class = "modal-content">
					<div class = "modal-header">
					  <h1 class = "modal-title fs-5" id = "checkoutModalLabel">Yêu cầu đặt</h1>
					  <button type = "button"
							  class = "btn-close"
							  data-bs-dismiss = "modal"
							  aria-label = "Close"></button>
					</div>
					<div class = "modal-body">
					  <div class = "modal-body">
						<div class = "mb-3">
						  <label for = "checkoutFormControlTextarea1" class = "form-label">Họ & Tên </label>
						  <input class = "form-control" id = "checkoutFormControlTextarea1"></input>
						</div>
						<div class = "mb-3">
						  <label for = "checkoutFormControlTextarea2" class = "form-label">Điện thoại </label>
						  <input class = "form-control" id = "checkoutFormControlTextarea2"></input>
						</div>
						<div class = "mb-3">
						  <label for = "checkoutFormControlInput1" class = "form-label">Email (nếu có)</label>
						  <input type = "email" class = "form-control" id = "checkoutFormControlInput1">
						</div>
						<div class = "mb-3">
						  <label for = "checkoutFormControlTextarea2" class = "form-label">Yêu cầu khác</label>
						  <textarea class = "form-control" id = "checkoutFormControlTextarea3" rows = "3"></textarea>
						</div>
					  </div>
					</div>
					<div class = "modal-footer">
					  <button type = "button" class = "btn" data-bs-dismiss = "modal">Gửi yêu cầu</button>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<div class = "sidebar-service container">
		  <div class = " row">
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Bảo hiểm
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Bữa ăn
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Hướng dẫn viên
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Khách sạn 3*
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Vé tham quan
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Xe đưa đón
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class = "order container d-lg-none">
	  <div class = "row">
		<div class = "text col-6">
		  <div>Giá chỉ từ</div>
		  <span class = "price">
		  3.090.000
		</span>
		  <span class = "currency">
		  VND/khách
		</span>
		</div>
		<div class = "checkout col-6 d-grid mx-auto my-auto">
		  <a href = "#" class = "d-grid my-auto">
			<button class = "btn" type = "button">
			  Lịch khởi hành
			  <i class = "fa fa-chevron-right"></i>
			</button>
		  </a>
		</div>
	  </div>
	</div>
  </div>
</div>
<!--End content-->

<!--Begin footer-->
<footer class = "main-footer">
  <div class = "wrap">
	<div class = "container">
	  <div class = "row">
		<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
		  <div class = "col-xs-12 no-padding">
			<div class = "row">
			  <div class = "footer-left col-12 order-last col-lg-8 order-lg-first">
				<div class = "row">
				  <div class = "col-3">
					<div class = "item d-block d-md-flex">
					  <img src = "/assets/img/ico-wta-winner-shield-2021.png" class = "img-fluid" alt = "">
					  <h3>Đại lý Du lịch Trực tuyến Hàng đầu Việt Nam</h3>
					</div>
				  </div>
				  <div class = "col-3">
					<div class = "item d-block d-md-flex">
					  <img src = "/assets/img/ico-hra.png" alt = "">
					  <h3>Best Companies to Work for in Asia</h3>
					</div>
				  </div>
				  <div class = "col-3">
					<div class = "item d-block d-md-flex">
					  <img src = "/assets/img/ico-apea.png" alt = "">
					  <h3>APEA Inspirational Brand Award</h3>
					</div>
				  </div>
				</div>
				<section class = "social d-sm-none">
				  <h5>Kết nối với Cholontourist</h5>
				  <div>
					<i class = "fab fa-facebook-square"></i>
					<i class = "fab fa-instagram"></i>
					<i class = "fab fa-youtube"></i>
				  </div>
				</section>
				<div class = "row">
				  <div class = "col ms-auto d-none d-md-block">
					<div class = "item">
					  <i class = "fa fa-map-marker-alt"></i>
					  <h3>HN:</h3>
					  <h3>207 Giải Phóng, Đồng Tâm, Hai Bà Trưng, Hà Nội</h3>
					</div>
				  </div>
				</div>
			  </div>
			  <div class = "footer-right col-12 order-first col-lg-4 order-lg-last ms-auto">
				<section class = "support">
				  Bạn cần trợ giúp?
				  <b>Hãy gọi ngay</b>
				</section>
				<section class = "contact">
				  <i class = "fa fa-phone"></i>
				  <b>CSKH:</b>
				  <h5>(0912) 888 888</h5>
				</section>
				<section class = "time">
				  <i class = "fa fa-clock"></i>
				  <h6>Từ 7h30 - 21h hằng ngày</h6>
				</section>
				<section class = "social d-none d-sm-block">
				  <h5>Kết nối với Cholontourist</h5>
				  <div>
					<i class = "fab fa-facebook-square"></i>
					<i class = "fab fa-instagram"></i>
					<i class = "fab fa-youtube"></i>
				  </div>
				</section>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</footer>
<!--End footer-->

<script>
    const adultPrice = 3140000
    const childPrice = 3140000
    const infantPrice = 785000

    var totalAdultPrice = 0
    var totalChildPrice = 0
    var totalInfantPrice = 0
    var total = adultPrice

    var adultPlus = document.getElementById('adult-plus')
    var childPlus = document.getElementById('child-plus')
    var infantPlus = document.getElementById('infant-plus')

    var adultMinus = document.getElementById('adult-minus')
    var childMinus = document.getElementById('child-minus')
    var infantMinus = document.getElementById('infant-minus')

    var adultNum = 1
    var childNum = 0
    var infantNum = 0

    function formatString(x) {
        return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ".");
    }

    adultPlus.addEventListener('click', function () {
        adultNum = adultNum + 1
        totalAdultPrice = adultNum * adultPrice
        total = totalAdultPrice + totalChildPrice + totalInfantPrice
        document.getElementById('adult-price').innerHTML = formatString(totalAdultPrice)
        document.getElementById('number-adult').innerHTML = adultNum
        document.getElementById('total-price').innerHTML = formatString(total)
    })

    adultMinus.addEventListener('click', function () {
        if (adultNum > 1) {
            adultNum = adultNum - 1
            totalAdultPrice = adultNum * adultPrice
            total = totalAdultPrice + totalChildPrice + totalInfantPrice
            document.getElementById('adult-price').innerHTML = formatString(totalAdultPrice)
            document.getElementById('number-adult').innerHTML = adultNum
            document.getElementById('total-price').innerHTML = formatString(total)
        }
    })

    childPlus.addEventListener('click', function () {
        childNum = childNum + 1
        totalChildPrice = childNum * childPrice
        total = totalAdultPrice + totalChildPrice + totalInfantPrice
        document.getElementById('child-price').innerHTML = formatString(totalChildPrice)
        document.getElementById('number-child').innerHTML = childNum
        document.getElementById('total-price').innerHTML = formatString(total)
    })

    childMinus.addEventListener('click', function () {
        if (childNum > 0) {
            childNum = childNum - 1
            totalChildPrice = childNum * childPrice
            total = totalAdultPrice + totalChildPrice + totalInfantPrice
            document.getElementById('child-price').innerHTML = formatString(totalChildPrice)
            document.getElementById('number-child').innerHTML = childNum
            document.getElementById('total-price').innerHTML = formatString(total)
        }
    })

	infantPlus.addEventListener('click', function () {
        infantNum = infantNum + 1
        totalInfantPrice = infantNum * infantPrice
        total = totalAdultPrice + totalChildPrice + totalInfantPrice
        document.getElementById('infant-price').innerHTML = formatString(totalInfantPrice)
        document.getElementById('number-infant').innerHTML = infantNum
        document.getElementById('total-price').innerHTML = formatString(total)
    })

    infantMinus.addEventListener('click', function () {
        if (infantNum > 0) {
            infantNum = infantNum - 1
            totalInfantPrice = infantNum * infantPrice
            total = totalAdultPrice + totalChildPrice + totalInfantPrice
            document.getElementById('infant-price').innerHTML = formatString(totalInfantPrice)
            document.getElementById('number-infant').innerHTML = infantNum
            document.getElementById('total-price').innerHTML = formatString(total)
        }
    })
</script>

</body>
</html>