<!doctype html>
<html lang = "en">
<head>
  <meta charset = "UTF-8">
  <meta name = "viewport"
		content = "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
  <link rel = "stylesheet" href = "/assets/css/tour-ha-giang-3n2d.css">
  <link rel = "stylesheet"
		href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
		integrity = "sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
		crossorigin = "anonymous"
		referrerpolicy = "no-referrer"/>
  <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
		rel = "stylesheet"
		integrity = "sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
		crossorigin = "anonymous">
  <script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		  integrity = "sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		  crossorigin = "anonymous"></script>
  <title>Tour Hà Giang 3N2Đ: Hà Nội - Hà Giang - Yên Minh - Đồng Văn</title>
</head>
<body>
<!--Begin header-->
<header class = "main-header">
  <nav class = "navbar navbar-expand-md">
	<div class = "container-fluid">
	  <a class = "navbar-brand" href = "#">
		<img src = "/assets/img/logo_cholon_resized_height_80.png" alt = "">
	  </a>
	  <button class = "navbar-toggler"
			  type = "button"
			  data-bs-toggle = "collapse"
			  data-bs-target = "#navbarSupportedContent"
			  aria-controls = "navbarSupportedContent"
			  aria-expanded = "false"
			  aria-label = "Toggle navigation">
		<span class = "fa fa-bars"></span>
	  </button>
	  <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
		<ul class = "navbar-nav me-auto mb-2 mb-lg-0">
		  <li class = "nav-item">
			<a class = "nav-link" href = "#">Khách sạn</a>
		  </li>
		  <li class = "nav-item">
			<a class = "nav-link activated" href = "#">Tours</a>
		  </li>
		  <li class = "nav-item">
			<a class = "nav-link" href = "#">Vé xe khách</a>
		  </li>
		  <li class = "nav-item">
			<a class = "nav-link" href = "#">Vé vui chơi</a>
		  </li>
		  <li class = "nav-item">
			<a class = "nav-link" href = "#">Bespoke</a>
		  </li>
		</ul>
	  </div>
	</div>
  </nav>
  <div class = "contact-md d-none d-md-block d-lg-none">
	<i class = "fa fa-user"></i>
  </div>
  <div class = "user-login d-none d-lg-flex">
	<i class = "fa fa-user-circle"></i>
	<span class = "username-header">Tài khoản</span>
  </div>
  <div class = "contact d-none d-lg-block">
	<div class = "hotline">
	  <i class = "fa fa-phone"></i>
	  (0912) 888 888
	</div>
	<div class = "location">
	  7h30 → 21h
	  <i class = "fa fa-map-marker"></i>
	  Hà Nội
	</div>
  </div>
</header>
<!--End header-->

<!--Begin content-->
<div class="wrap">
  <div class = "content container">
	<nav aria-label = "breadcrumb">
	  <ol class = "breadcrumb">
		<a href = "#">
		  <i class = "fa fa-home"></i>
		</a>
		<li class = "breadcrumb-item">
		  <a href = "#">Trang chủ</a>
		</li>
		<li class = "breadcrumb-item active" aria-current = "page">Tour Hà Giang 3N2Đ: Hà Nội - Hà Giang - Yên Minh - Đồng
		  Văn
		</li>
	  </ol>
	</nav>
	<h1 class = "tour-name">Tour Hà Giang 3N2Đ: Hà Nội - Hà Giang - Yên Minh - Đồng Văn</h1>
	<div class="row d-flex">
	  <div class="col-12 col-lg-8">
		<div class = "row">
		  <img src = "/assets/img/tours/ha giang 3n2d/700945942c22eb7cb233-20221026102609.jpg"
			   class = "img-fluid mx-auto"
			   alt = "">
		</div>
		<div class = "tour-info container">
		  <div class = "col mx-auto">
			<ul class = "list-group list-group-horizontal">
			  <li>
				<i class = "fa fa-map-marker-alt"></i>
				Hà Nội
			  </li>
			  <li>
				<i class = "fa fa-clock"></i>
				2 Ngày 1 Đêm
			  </li>
			  <li>
				Phương tiện:
				<i class = "fa fa-car-alt"></i>
			  </li>
			</ul>
		  </div>
		</div>
		<div class = "tour-content col" id = "detail-overview">
		  <div class = "tour-content-container">
			<h3>
			  Tour Hà Giang 3N2Đ: Hà Nội - Hà Giang - Yên Minh - Đồng Văn
			</h3>
			<p>
			  Hành trình 3 ngày 2 đêm khám phá Hà Giang từ Hà Nội đến Yên Minh, Đồng Văn cung cấp trải nghiệm độc đáo từ chèo
			  thuyền trên sông Nho Quế, thăm chợ phiên Đồng Văn đậm chất văn hóa dân tộc, đến ngắm nhìn cảnh đẹp thiên nhiên
			  hùng vĩ trên các cung đường đèo​​. Cùng Cholontourist khám phá ngay hôm nay!
			</p>
		  </div>
		</div>
		<div class = "tour-content col" id = "detail-schedule">
		  <div class = "tour-content-container">
			<h3>
			  Chương trình tour
			</h3>
			<h4>NGÀY 01: Hà Nội - Quản Bạ - Yên Minh (Ăn Trưa, Tối)</h4>
			<p>
			  Sáng: Khởi hành từ Nhà hát lớn Hà Nội đi Hà Giang, dừng ăn sáng tại Ngã 3 Kim Anh hoặc điểm nghỉ trên cao tốc
			</p>
			<p>
			  <em>
				Lưu ý: Có đón miễn phí tại Ngã 3 Kim Anh và sảnh sân bay Nội Bài trước 06h30 cho khách sạn gần sân bay hoặc
				khách đến sớm.
			  </em>
			</p>
			<p>
			  Đến Hà Giang, chụp hình tại Km0, điểm giao nhau của QL2, QL34, QL4C - "Con đường hạnh phúc
			</p>
			<p>
			  Trưa: Quý khách ăn trưa ở nhà hàng tại thành phố Hà Giang. Quý khách lên xe tiếp tục hành trình tham quan.
			</p>
			<p>
			  <strong>Cổng Trời Quản Bạ: </strong>
			  Chụp hình Núi đôi Cô Tiên hay còn gọi là Núi đôi Quản Bạ và toàn cảnh thị trấn Tam Sơn từ trên cao.
			</p>
			<p>
			  <img src = "/assets/img/tours/ha giang 3n2d/cong-troi-quan-ba-ha-giang.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Cổng Trời Quản Bạ: Chụp hình Núi Đôi Cô Tiên, ngắm thị trấn Tam Sơn từ trên cao</em>
			</p>
			<p>
			  Check in tại
			  <strong>Cây Cô Đơn Hà Giang</strong>, biểu tượng đứng vững qua năm tháng giữa không gian bao la, thu hút mọi ánh
			  nhìn và nổi bật trên diễn đàn du lịch.
			</p>
			<p>
			  <img src = "/assets/img/tours/ha giang 3n2d/ivivu-cay-co-don-ha-giang.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Cây Cô Đơn Hà Giang: Biểu tượng vượt thời gian, nổi bật giữa bao la đất trời</em>
			</p>
			<p>
			  17h30: Nhận phòng nghỉ ngơi tại Yên Minh. Dùng cơm tối, sau đó tự do thưởng thức đặc sản Hà Giang như cháo ấu
			  tẩu, phở Tráng Kìm, xôi ngũ sắc, và rượu ngô.
			</p>
			<h4>NGÀY 02: YÊN MINH - LŨNG CÚ - MÃ PÍ LÈNG - ĐỒNG VĂN (Ăn Sáng, Trưa, Tối)</h4>
			<p>
			  Sáng: Quý khách ăn sáng và sau đó đoàn khởi hành đi tham quan
			</p>
			<p>
			  <strong>Công viên địa chất Cao nguyên đá Đồng Văn:</strong>
			  Kỳ quan thiên nhiên, vẻ đẹp hùng vĩ, di sản toàn cầu.
			</p>
			<p>
			  <img src = "/assets/img/tours/ha giang 3n2d/files-library-newimages-20230620_dongvan.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Cao nguyên đá Đồng Văn: Di sản thiên nhiên hùng vĩ, vẻ đẹp toàn cầu</em>
			</p>
			<p>
			  Quý khách dừng chân và chụp hình hoa tam giác mạch gần dốc chín khoanh
			</p>
			<p>
			  Thăm
			  <strong>Cột Cờ Lũng Cú</strong>
			  - nơi địa đầu Tổ quốc, điểm có vĩ độ cao nhất trên bản đồ của Việt Nam.
			</p>
			<p>
			  <img src = "/assets/img/tours/ha giang 3n2d/416274498_759978696149173_16221503556763382_n.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Khám phá Cao nguyên Đồng Văn: Từ Phố Cáo đến Lũng Cú, qua ngôi nhà "Chuyện của Pao", hoa tam giác mạch và
				cảnh sắc ruộng bậc thang</em>
			</p>
			<p>
			  <strong>Phố Cáo, bản Sủng Là</strong>: Kiến trúc H'mông, bối cảnh phim "Chuyện của Pao", hoa tam giác mạch, và
			  giao lưu văn hóa.
			</p>
			<p>
			  <img src = "/assets/img/tours/ha giang 3n2d/pho-cao-ha-giang-chiem-nguong-net-dep-hoang-so-cua-xu-dong-van-01-1642494466.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Phố Cáo & Sủng Là: Kiến trúc H'mông, di sản "Chuyện của Pao", sắc hoa và văn hóa đặc sắc</em>
			</p>
			<p>
			  Trưa: Quay lại thị trấn Đồng Văn ăn trưa. Sau bữa trưa, Quý khách tiếp tục:
			</p>
			<p>
			  Chinh phục
			  <strong>Đèo Mã Pí Lèng</strong>
			  trên 'Đường Hạnh Phúc' và khám phá hẻm vực sâu nhất Việt Nam với vẻ đẹp hùng vĩ.
			</p>
			<p>
			  <img src = "/assets/img/tours/ha giang 3n2d/1519060112-788-cung-duong-mua-xuan-hop-hon-phuot-thu-khi-toi-ha-giang-2-1519059515-width650height433.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Mã Pí Lèng: Vẻ hùng vĩ trên 'Đường Hạnh Phúc', hẻm vực sâu nhất Việt Nam</em>
			</p>
			<p>
			  <strong>Du thuyền Sông Nho Quế:</strong>
			  Trải nghiệm hành trình đến Hẻm Tu Sản, hẻm vực sâu nhất Việt Nam, dọc theo chân đèo Mã Pí Lèng.
			</p>
			<p>
			  <img src = "/assets/img/tours/ha giang 3n2d/static-images.vnncdn.net-files-publish-2023-9-16-_dung-tau-du-lich-tren-song-nho-que-nhieu-du-khach-bat-ngo-582.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Du thuyền Nho Quế: Khám phá Hẻm Tu Sản, hành trình qua vẻ đẹp sâu thẳm của Việt Nam</em>
			</p>
			<p>
			  Chiều: Quay về Đồng Văn, nhận phòng khách sạn.
			</p>
			<p>
			  Tối: Ăn tối, sau đó tự do khám phá Phố Cổ Đồng Văn và thưởng thức cà phê (phí tự túc). Nghỉ đêm tại Đồng Văn.
			</p>
			<h4>NGÀY 3: ĐỒNG VĂN - NHÀ VƯƠNG - HÀ GIANG - HÀ NỘI (Ăn Sáng, Trưa)</h4>
			<p>
			  Sáng: Tham quan chợ phiên Đồng Văn để tham gia phiên họp chợ diễn ra vào sáng chủ nhật hàng tuần. Sau đó về ăn
			  sáng và bắt đầu trở về Hà Nội
			</p>
			<p>
			  <strong>Dinh Vua Mèo</strong>
			  - Vương Chính Đức nằm trong một thung lũng của xã Sà Phìn, đây là dòng họ giàu có và quyền uy nhất Châu Đồng Văn
			  vào đầu thế kỷ XX.
			</p>
			<p>
			  <img src = "/assets/img/tours/ha giang 3n2d/6-15604818777882006530092.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Dinh thự Vua Mèo - biểu tượng văn hóa họ Vương, trước khi trở về Hà Nội</em>
			</p>
			<p>
			  <strong>Bãi đá Mặt Trăng Sà Phìn</strong>: Khung cảnh hoang sơ với phiến đá lởm chởm, màu xám bao phủ sườn núi,
			  tạo nên vẻ đẹp ấn tượng.
			</p>
			<p>
			  <img src = "/assets/img/tours/ha giang 3n2d/ivivu-bai-da-mat-trang-ha-giang.jpg"
				   class = "img-fluid w-100 mx-auto d-block"
				   alt = "">
			  <em>Bãi Đá Mặt Trăng Sà Phìn: Phiến đá xám hoang sơ, vẻ đẹp ấn tượng trên sườn núi.</em>
			</p>
			<p>
			  Trưa: Đoàn ăn trưa tại thành phố Hà Giang. Sau bữa trưa tiếp tục lên xe về Hà Nội.
			</p>
			<p>
			  Tối: Về đến Hà Nội, kết thúc chương trình. Hẹn gặp lại Quý khách trong các chương trình lần sau
			</p>
			<p>
			  <em>Thứ tự tham quan có thể thay đổi nhưng vẫn đảm bảo đầy đủ điểm trong chương trình.</em>
			</p>
		  </div>
		</div>
		<div class = "tour-content col" id = "detail-tour-guide">
		  <div class = "tour-content-container">
			<h3>Hướng dẫn viên</h3>
			<p>
			  Hướng Dẫn Viên (HDV) sẽ liên lạc với Quý Khách khoảng 1 ngày trước khi khởi hành để sắp xếp giờ đón và cung cấp
			  các thông tin cần thiết cho chuyển đi.
			</p>
		  </div>
		</div>
		<div class = "tour-content col" id = "detail-term-regulations">
		  <nav>
			<div class = "nav nav-tabs" id = "nav-tab" role = "tablist">
			  <button class = "nav-link active"
					  id = "nav-tab1"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-1"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-1"
					  aria-selected = "true">Bao gồm
			  </button>
			  <button class = "nav-link"
					  id = "nav-tab2"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-2"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-2"
					  aria-selected = "false">Phát sinh
			  </button>
			  <button class = "nav-link"
					  id = "nav-tab3"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-3"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-3"
					  aria-selected = "false">Phụ thu
			  </button>
			  <button class = "nav-link"
					  id = "nav-tab4"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-4"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-4"
					  aria-selected = "false">Hủy đổi
			  </button>
			  <button class = "nav-link"
					  id = "nav-tab5"
					  data-bs-toggle = "tab"
					  data-bs-target = "#nav-5"
					  type = "button"
					  role = "tab"
					  aria-controls = "nav-5"
					  aria-selected = "false">Lưu ý
			  </button>
			</div>
		  </nav>
		  <div class = "tab-content" id = "nav-tabContent">
			<div class = "tab-pane fade show active"
				 id = "nav-1"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab1"
				 tabindex = "0">
			  <div>
				<h6>Vận chuyển:</h6>
				<p>
				  - Xe du lịch mới, đưa đón theo lịch trình.
				</p>
				<h6>Lưu trú:</h6>
				<p>
				  - Khách sạn 2 sao, tiện nghi, 2 người/phòng , lẻ nam/nữ ngủ phòng 3 người.
				</p>
				<h6>Khác:</h6>
				<p>
				  - 5 bữa chính (120.000VNĐ/bữa), 2 bữa sáng (40.000VNĐ), nước uống, mũ du lịch và quà tặng.
				</p>
				<p>
				  - HDV,vé thắng cảnh (Dinh họ Vương, Lũng Cú, Nhà Pao)
				</p>
				<p>
				  - Bảo hiểm (30 triệu VNĐ/vụ).
				</p>
			  </div>
			</div>
			<div class = "tab-pane fade"
				 id = "nav-2"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab2"
				 tabindex = "0">
			  <div>
				<p>
				  - Đồ uống (rượu, bia, nước ngọt...) trong các bữa ăn và suốt chương trình.
				</p>
				<p>
				  - Các chi phí cá nhân (điện thoại, giặt là, mua sắm, thăm quan ngoài chương trình..)
				</p>
				<p>
				  - Thuế giá trị gia tăng 8% (VAT)
				</p>
				<p>
				  - Xe + vé tham quan Nho Quế 250.000VNĐ/khách
				</p>
				<p>
				  - Tip HDV + lái xe (tuỳ tâm)
				</p>
			  </div>
			</div>
			<div class = "tab-pane fade"
				 id = "nav-3"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab3"
				 tabindex = "0">
			  <div>
				<p>
				  Phụ thu phòng đơn: 300.000 - 600.000vnd/khách
				</p>
				<p>
				  Phụ thu khách nước ngoài: 350.000 vnđ/khách.
				</p>
				<p>
				  Phụ thu Lễ (29/4 - 30/4 và 1/5) : 200.000vnd/khách
				</p>
				<h6>Giá trẻ em</h6>
				<p>
				  - Trẻ em từ 9 tuổi trở lên tính 100% giá tour
				</p>
				<p>
				  - Trẻ em từ 5 – 9 tuổi tính 75% giá tour
				</p>
				<p>
				  - Trẻ em dưới 4 tuổi miễn phí giá tour.
				</p>
			  </div>
			</div>
			<div class = "tab-pane fade"
				 id = "nav-4"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab4"
				 tabindex = "0">
			  <div>
				<p>
				  - Trường hợp hủy chuyến du lịch ngay sau khi đăng ký, Quý khách sẽ chịu phí 10% trên giá vé du lịch.
				</p>
				<p>
				  - Trường hợp hủy chuyến du lịch trong vòng từ 10 đến 15 ngày trước ngày khởi hành, Quý khách sẽ chịu phí 30%
				  trên giá vé du lịch.
				</p>
				<p>
				  - Trường hợp hủy chuyến du lịch trong vòng từ 5 đến 10 ngày trước ngày khởi hành, Quý khách sẽ chịu phí 50%
				  trên giá vé du lịch.
				</p>
				<p>
				  - Trường hợp hủy chuyến du lịch trong vòng từ 3 đến 4 ngày trước ngày khởi hành, Quý khách sẽ chịu phí 75%
				  trên giá vé du lịch.
				</p>
				<p>
				  - Quý khách hủy chuyến du lịch trong vòng từ 0 đến 2 ngày trước ngày khởi hành, Quý khách sẽ chịu phí 100%
				  trên giá vé du lịch.
				</p>
				<p>
				  - Trường hợp hủy tour do sự cố khách quan như thiên tai, dịch bệnh, hoãn và hủy chuyến của các phương tiện
				  vận chuyển công cộng… công ty sẽ không chịu trách nhiệm bồi thường thêm bất kỳ chi phí nào ngoài việc hoàn
				  trả tiền tour.
				</p>
				<p>
				  - Thời gian hủy chuyến du lịch được tính cho ngày làm việc, không tính thứ 7, Chủ Nhật và các ngày Lễ, Tết.
				</p>
			  </div>
			</div>
			<div class = "tab-pane fade"
				 id = "nav-5"
				 role = "tabpanel"
				 aria-labelledby = "nav-tab5"
				 tabindex = "0">
			  <div>
				<p>
				  - Không nhận khách trên 80 tuổi hoặc sức khỏe không tốt.
				</p>
				<p>
				  - Lịch trình có thể thay đổi tùy theo điều kiện thực tế mà không cần báo trước nhưng vẫn đảm bảo các điểm tham quan theo chương trình.
				</p>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  <div class = "col-lg-4 d-none d-lg-block ">
		<div class = "sidebar-form container">
		  <div class = "row">
			<div class = "title col">
			  Giá Tour
			</div>
			<div class = "adult border row">
			  <div class = "text col">
				<div class = "col">
				  Người lớn
				</div>
				<div class = "sub col">
				  > 8 tuổi
				</div>
			  </div>
			  <div class = "price col" id = "adult-price">
				2.390.000
			  </div>
			  <div class = "btn-group col">
				<button type = "button" class = "btn" id = "adult-minus">
				  <i class = "fa fa-minus"></i>
				</button>
				<span id = "number-adult">1</span>
				<button type = "button" class = "btn" id = "adult-plus">
				  <i class = "fa fa-plus"></i>
				</button>
			  </div>
			</div>
			<div class = "child border row">
			  <div class = "text col">
				<div class = "col">
				  Trẻ em
				</div>
				<div class = "sub col">
				  5 - 8 tuổi
				</div>
			  </div>
			  <div class = "price col" id = "child-price">

			  </div>
			  <div class = "btn-group col">
				<button type = "button" class = "btn" id="child-minus">
				  <i class = "fa fa-minus"></i>
				</button>
				<span id = "number-child">0</span>
				<button type = "button" class = "btn" id="child-plus">
				  <i class = "fa fa-plus"></i>
				</button>
			  </div>
			</div>
			<div class = "infant border row">
			  <div class = "text col">
				<div class = "col">
				  Trẻ nhỏ
				</div>
				<div class = "sub col">
				  < 5 tuổi
				</div>
			  </div>
			  <div class = "price col" id = "infant-price">

			  </div>
			  <div class = "btn-group col">
				<button type = "button" class = "btn" id="infant-minus">
				  <i class = "fa fa-minus"></i>
				</button>
				<span id = "number-infant">0</span>
				<button type = "button" class = "btn" id="infant-plus">
				  <i class = "fa fa-plus"></i>
				</button>
			  </div>
			</div>
			<div class = "contact-msg col-12">
			  <i class = "fa fa-info-circle"></i>
			  <span>
				  Liên hệ để xác nhận chỗ
				</span>
			</div>
			<div class = "total-text col-6">
			  Tổng Giá Tour
			</div>
			<div class = "total-num col-6">
				  <span class = "price" id = "total-price">
				  6.180.000
				  </span>
			  <span class = "currency">
					VND
				  </span>
			</div>
			<div class = "contact col-6">
			  <!-- Button trigger modal -->
			  <button type = "button"
					  class = "btn modal-btn"
					  data-bs-toggle = "modal"
					  data-bs-target = "#contactModal">
				Liên hệ tư vấn
			  </button>

			  <!-- Modal -->
			  <div class = "modal fade"
				   id = "contactModal"
				   tabindex = "-1"
				   aria-labelledby = "contactModalLabel"
				   aria-hidden = "true">
				<div class = "modal-dialog">
				  <div class = "modal-content">
					<div class = "modal-header">
					  <h1 class = "modal-title" id = "contactModalLabel">Yêu cầu tư vấn</h1>

					</div>
					<div class = "modal-body">
					  <div class = "mb-3">
						<label for = "contactFormControlTextarea1" class = "form-label">Họ & Tên </label>
						<input class = "form-control" id = "contactFormControlTextarea1"></input>
					  </div>
					  <div class = "mb-3">
						<label for = "contactFormControlTextarea2" class = "form-label">Điện thoại </label>
						<input class = "form-control" id = "contactFormControlTextarea2"></input>
					  </div>
					  <div class = "mb-3">
						<label for = "checkoutFormControlInput1" class = "form-label">Email (nếu có)</label>
						<input type = "email" class = "form-control" id = "exampleFormControlInput1">
					  </div>
					  <div class = "mb-3">
						<label for = "contactFormControlTextarea3" class = "form-label">Yêu cầu khác</label>
						<textarea class = "form-control" id = "contactFormControlTextarea3" rows = "3"></textarea>
					  </div>
					</div>
					<div class = "modal-footer">
					  <button type = "button" class = "btn" data-bs-dismiss = "modal">Gửi yêu cầu</button>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class = "checkout col-6">
			  <!-- Button trigger modal -->
			  <button type = "button"
					  class = "btn modal-btn"
					  data-bs-toggle = "modal"
					  data-bs-target = "#checkoutModal">
				Đặt Tour ngay
			  </button>

			  <!-- Modal -->
			  <div class = "modal fade"
				   id = "checkoutModal"
				   tabindex = "-1"
				   aria-labelledby = "checkoutModalLabel"
				   aria-hidden = "true">
				<div class = "modal-dialog">
				  <div class = "modal-content">
					<div class = "modal-header">
					  <h1 class = "modal-title fs-5" id = "checkoutModalLabel">Yêu cầu đặt</h1>
					  <button type = "button"
							  class = "btn-close"
							  data-bs-dismiss = "modal"
							  aria-label = "Close"></button>
					</div>
					<div class = "modal-body">
					  <div class = "modal-body">
						<div class = "mb-3">
						  <label for = "checkoutFormControlTextarea1" class = "form-label">Họ & Tên </label>
						  <input class = "form-control" id = "checkoutFormControlTextarea1"></input>
						</div>
						<div class = "mb-3">
						  <label for = "checkoutFormControlTextarea2" class = "form-label">Điện thoại </label>
						  <input class = "form-control" id = "checkoutFormControlTextarea2"></input>
						</div>
						<div class = "mb-3">
						  <label for = "checkoutFormControlInput1" class = "form-label">Email (nếu có)</label>
						  <input type = "email" class = "form-control" id = "checkoutFormControlInput1">
						</div>
						<div class = "mb-3">
						  <label for = "checkoutFormControlTextarea2" class = "form-label">Yêu cầu khác</label>
						  <textarea class = "form-control" id = "checkoutFormControlTextarea3" rows = "3"></textarea>
						</div>
					  </div>
					</div>
					<div class = "modal-footer">
					  <button type = "button" class = "btn" data-bs-dismiss = "modal">Gửi yêu cầu</button>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<div class = "sidebar-service container">
		  <div class = " row">
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Bảo hiểm
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Bữa ăn
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Hướng dẫn viên
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Khách sạn 3*
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Vé tham quan
			</div>
			<div class = "col-6">
			  <i class = "fa fa-check"></i>
			  Xe đưa đón
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class = "order container d-lg-none">
	  <div class = "row">
		<div class = "text col-6">
		  <div>Giá chỉ từ</div>
		  <span class = "price">
		  3.090.000
		</span>
		  <span class = "currency">
		  VND/khách
		</span>
		</div>
		<div class = "checkout col-6 d-grid mx-auto my-auto">
		  <a href = "#" class = "d-grid my-auto">
			<button class = "btn" type = "button">
			  Lịch khởi hành
			  <i class = "fa fa-chevron-right"></i>
			</button>
		  </a>
		</div>
	  </div>
	</div>
  </div>
</div>
<!--End content-->

<!--Begin footer-->
<footer class = "main-footer">
  <div class = "wrap">
	<div class = "container">
	  <div class = "row">
		<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
		  <div class = "col-xs-12 no-padding">
			<div class = "row">
			  <div class = "footer-left col-12 order-last col-lg-8 order-lg-first">
				<div class = "row">
				  <div class = "col-3">
					<div class = "item d-block d-md-flex">
					  <img src = "/assets/img/ico-wta-winner-shield-2021.png" class = "img-fluid" alt = "">
					  <h3>Đại lý Du lịch Trực tuyến Hàng đầu Việt Nam</h3>
					</div>
				  </div>
				  <div class = "col-3">
					<div class = "item d-block d-md-flex">
					  <img src = "/assets/img/ico-hra.png" alt = "">
					  <h3>Best Companies to Work for in Asia</h3>
					</div>
				  </div>
				  <div class = "col-3">
					<div class = "item d-block d-md-flex">
					  <img src = "/assets/img/ico-apea.png" alt = "">
					  <h3>APEA Inspirational Brand Award</h3>
					</div>
				  </div>
				</div>
				<section class = "social d-sm-none">
				  <h5>Kết nối với Cholontourist</h5>
				  <div>
					<i class = "fab fa-facebook-square"></i>
					<i class = "fab fa-instagram"></i>
					<i class = "fab fa-youtube"></i>
				  </div>
				</section>
				<div class = "row">
				  <div class = "col ms-auto d-none d-md-block">
					<div class = "item">
					  <i class = "fa fa-map-marker-alt"></i>
					  <h3>HN:</h3>
					  <h3>207 Giải Phóng, Đồng Tâm, Hai Bà Trưng, Hà Nội</h3>
					</div>
				  </div>
				</div>
			  </div>
			  <div class = "footer-right col-12 order-first col-lg-4 order-lg-last ms-auto">
				<section class = "support">
				  Bạn cần trợ giúp?
				  <b>Hãy gọi ngay</b>
				</section>
				<section class = "contact">
				  <i class = "fa fa-phone"></i>
				  <b>CSKH:</b>
				  <h5>(0912) 888 888</h5>
				</section>
				<section class = "time">
				  <i class = "fa fa-clock"></i>
				  <h6>Từ 7h30 - 21h hằng ngày</h6>
				</section>
				<section class = "social d-none d-sm-block">
				  <h5>Kết nối với Cholontourist</h5>
				  <div>
					<i class = "fab fa-facebook-square"></i>
					<i class = "fab fa-instagram"></i>
					<i class = "fab fa-youtube"></i>
				  </div>
				</section>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</footer>
<!--End footer-->

<script>
    const adultPrice = 3140000
    const childPrice = 2355000
    const infantPrice = 710000

    var totalAdultPrice = 0
    var totalChildPrice = 0
    var totalInfantPrice = 0
    var total = adultPrice

    var adultPlus = document.getElementById('adult-plus')
    var childPlus = document.getElementById('child-plus')
    var infantPlus = document.getElementById('infant-plus')

    var adultMinus = document.getElementById('adult-minus')
    var childMinus = document.getElementById('child-minus')
    var infantMinus = document.getElementById('infant-minus')

    var adultNum = 1
    var childNum = 0
    var infantNum = 0

    function formatString(x) {
        return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ".");
    }

    adultPlus.addEventListener('click', function () {
        adultNum = adultNum + 1
        totalAdultPrice = adultNum * adultPrice
        total = totalAdultPrice + totalChildPrice + totalInfantPrice
        document.getElementById('adult-price').innerHTML = formatString(totalAdultPrice)
        document.getElementById('number-adult').innerHTML = adultNum
        document.getElementById('total-price').innerHTML = formatString(total)
    })

    adultMinus.addEventListener('click', function () {
        if (adultNum > 1) {
            adultNum = adultNum - 1
            totalAdultPrice = adultNum * adultPrice
            total = totalAdultPrice + totalChildPrice + totalInfantPrice
            document.getElementById('adult-price').innerHTML = formatString(totalAdultPrice)
            document.getElementById('number-adult').innerHTML = adultNum
            document.getElementById('total-price').innerHTML = formatString(total)
        }
    })

    childPlus.addEventListener('click', function () {
        childNum = childNum + 1
        totalChildPrice = childNum * childPrice
        total = totalAdultPrice + totalChildPrice + totalInfantPrice
        document.getElementById('child-price').innerHTML = formatString(totalChildPrice)
        document.getElementById('number-child').innerHTML = childNum
        document.getElementById('total-price').innerHTML = formatString(total)
    })

    childMinus.addEventListener('click', function () {
        if (childNum > 0) {
            childNum = childNum - 1
            totalChildPrice = childNum * childPrice
            total = totalAdultPrice + totalChildPrice + totalInfantPrice
            document.getElementById('child-price').innerHTML = formatString(totalChildPrice)
            document.getElementById('number-child').innerHTML = childNum
            document.getElementById('total-price').innerHTML = formatString(total)
        }
    })

    infantPlus.addEventListener('click', function () {
        infantNum = infantNum + 1
        totalInfantPrice = infantNum * infantPrice
        total = totalAdultPrice + totalChildPrice + totalInfantPrice
        document.getElementById('infant-price').innerHTML = formatString(totalInfantPrice)
        document.getElementById('number-infant').innerHTML = infantNum
        document.getElementById('total-price').innerHTML = formatString(total)
    })

    infantMinus.addEventListener('click', function () {
        if (infantNum > 0) {
            infantNum = infantNum - 1
            totalInfantPrice = infantNum * infantPrice
            total = totalAdultPrice + totalChildPrice + totalInfantPrice
            document.getElementById('infant-price').innerHTML = formatString(totalInfantPrice)
            document.getElementById('number-infant').innerHTML = infantNum
            document.getElementById('total-price').innerHTML = formatString(total)
        }
    })
</script>

</body>
</html>